.content-block{margin: auto!important; }

.content-block .action{padding-top: 0px!important; padding-bottom: 20px;}

.hideDiv {opacity: 0.6; pointer-events: none}

.dateError{border: 1px solid #b71c1c; box-sizing: border-box}
.panel-body{display: none}
.panel-body.active{display: block}
.presentC{line-height: 26px; color:#264b5d; font-size: 13px; font-weight: 500}
