<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<app-applicant-header></app-applicant-header>
<div *ngIf="pageLoded">

<div class="main-wrapper">
  <div class="pointer">
    <ul class="resetUl">
      <li><a></a></li>
      <li> <a></a> </li>
      <li  class="selected"> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
    </ul>
  </div>
  <h2 class="times">Add Your Employment History</h2>
  <p class="helpText">* List Your Most Recent Job First, Then Your Second Most Recent and So On</p>
  <div class="content-block">
    <form [formGroup]="EmploymentHistoryForm" novalidate>
      <div class="numberOfexp">
        <div class="form-group col-6">
          <div class="mdl-textfield mdl-js-textfield select-wrapper ">
            <label class="mdl-textfield__label select">Total year of experience</label>
            <select formControlName="exp_year">
              <option value>Year</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
            </select>
            <select formControlName="exp_month">
              <option value>Month</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>

            </select>
          </div>
        </div>
      </div>
      <div formArrayName="employerGroup">
        <div class="addGroup" ><a (click)="addEmployer('addingIteam')" [ngClass]="{'dis': !EmploymentHistoryForm.valid}" class="addGroupbtn" [ngClass]="{'dis': !EmploymentHistoryForm.valid}"> Add Employer <i class="material-icons">add_circle_outline</i></a> </div>
        <div class="rowGroup" *ngFor="let employer of EmploymentHistoryForm.controls.employerGroup.controls; let i=index">
          <div class="panel-heading" (click)="accoradianIteam(i)"> <span class="removeGroupbtn" *ngIf="EmploymentHistoryForm.controls.employerGroup.controls.length > 1"
              (click)="removeEmployer(i)"><i class="material-icons">highlight_off</i></span> <span class="wrap">{{getEmpName[i] || 'Employer Name'}}</span> <i class="material-icons ri" [ngClass]="{'hide': !openThisFormArray[i]}" >keyboard_arrow_up</i> <i class="material-icons ri" [ngClass]="{'hide': openThisFormArray[i]}" >keyboard_arrow_down</i> </div>
          <div class="panel-body" [ngClass]="{'active': openThisFormArray[i]}"  [formGroupName]="i" >
            <div class="row">
              <div class="form-group col-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input inputMaterial"  maxlength="100"  type="text" [(ngModel)]="getEmpName[i]" appFloatLabelDirective="" formControlName="employer_name">
                  <span class="highlight"></span> <span class="bar"></span>
                  <label class="mdl-textfield__label">Employer's Name</label>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input inputMaterial " maxlength="100"  type="text" appFloatLabelDirective="" formControlName="position_held">
                  <span class="highlight"></span> <span class="bar"></span>
                  <label class="mdl-textfield__label">Position Held</label>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="form-group col-6">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input inputMaterial"  maxlength="100"  type="text" appFloatLabelDirective="" formControlName="city">
                  <span class="highlight"></span> <span class="bar"></span>
                  <label class="mdl-textfield__label">City</label>
                </div>
              </div>
              <div class="form-group col-6">
               <div class="mdl-textfield mdl-js-textfield select-wrapper select-align">
                  <label class="mdl-textfield__label select">State</label>
                  <select formControlName="state">
                    <option value>Select</option>
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA"> GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM </option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="form-group col-6">
                <span class="error" *ngIf="compareTime">(Joining date should be less than Relieving date)</span>

                <div class="mdl-textfield mdl-js-textfield select-wrapper">
                  <label class="mdl-textfield__label select">From &nbsp; &nbsp;<span class="error" *ngIf="futureDateIndex[i]"> (Future date should not be selected) </span></label>
                  <select formControlName="joinning_month" (change)="getMonthValue(i)" >
                    <option value>Month</option>
                    <option value="0">Jan</option>
                    <option value="1">Feb</option>
                    <option value="2">Mar</option>
                    <option value="3">Apr</option>
                    <option value="4">May</option>
                    <option value="5">Jun</option>
                    <option value="6">Jul</option>
                    <option value="7">Aug</option>
                    <option value="8">Sep</option>
                    <option value="9">Oct</option>
                    <option value="10">Nov</option>
                    <option value="11">Dec</option>
                  </select>
                  <select formControlName="joinning_year" (change)="getMonthValue(i)">
                    <option value>Year</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-6"  *ngIf="checkBoxValue[i]">
                <div class="mdl-textfield mdl-js-textfield select-wrapper presentC">
                  <label class="mdl-textfield__label select">To</label>
                  Present </div>
              </div>


              <div class="form-group col-6" *ngIf="!checkBoxValue[i]" [ngClass]="{'dis': EmploymentHistoryForm.controls.employerGroup.value[i].joinning_month === '' || EmploymentHistoryForm.controls.employerGroup.value[i].joinning_year === '' || futureDateIndex[i] === true }" >
                <div class="mdl-textfield mdl-js-textfield select-wrapper " >
                  <label class="mdl-textfield__label select">To &nbsp; &nbsp;<span class="error" *ngIf="futureDateIndex2[i]"> (Future date should not be selected) </span></label>
                  <select formControlName="releaving_month" (change)="getMonthValue2(i)">
                    <option value>Month</option>
                    <option value="0">Jan</option>
                    <option value="1">Feb</option>
                    <option value="2">Mar</option>
                    <option value="3">Apr</option>
                    <option value="4">May</option>
                    <option value="5">Jun</option>
                    <option value="6">Jul</option>
                    <option value="7">Aug</option>
                    <option value="8">Sep</option>
                    <option value="9">Oct</option>
                    <option value="10">Nov</option>
                    <option value="11">Dec</option>
                  </select>
                  <select formControlName="releaving_year" (change)="getMonthValue2(i)">
                    <option value>Year</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                  </select>
                </div>
              </div>
            </div>
            <div>{{chekCurrentEmployer}}</div>
            <div class="row currentEm clearfix" >
              <div class="moveT">
                <input  [(ngModel)]="checkBoxValue[i]"   class="mdl-checkbox__input" type="checkbox" formControlName='current_employer'  id="currentE">
                <label for="currentE" class="resetPosition mdl-checkbox__input">I work here</label>
              </div>
            </div>
            <div class="row clearfix">
              <div class="form-group col-12">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label textarea">Job Responsibilities/Accomplishments</label>
                  <textarea class="mdl-textfield__input outline-none " placeholder="Write about your Job Responsibilities/ Accomplishments" formControlName="job_description"></textarea>
                  <span class="highlight"></span> <span class="bar"></span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="action">
        <button (click)="skipThisSteps()" [disabled]="EmploymentHistoryForm.valid" class="btn mar-top">I am a fresher</button>
        <button (click)="submitContinue()" [disabled]="!EmploymentHistoryForm.valid  || futureDate || futureDate2 || compareTimeFail  "   class="btn mar-top">Continue</button>
      </div>
    </form>
  </div>
</div>
<app-applicant-footer></app-applicant-footer>

</div>
