<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<app-applicant-header></app-applicant-header>
<div *ngIf="pageLoded">
  <div class="main-wrapper">
    <div class="pointer">
      <ul class="resetUl">
        <li><a></a></li>
        <li> <a></a> </li>
        <li> <a></a> </li>
        <li class="selected"> <a></a> </li>
        <li> <a></a> </li>
        <li> <a></a> </li>
        <li> <a></a> </li>
        <li> <a></a> </li>
      </ul>
    </div>
    <h2 class="times">Add Your Education Details</h2>
    <p class="helpText">* List Your Highest Level of Completed Education First</p>
    <div class="content-block">
      <form [formGroup]="EducationalDetailForm" novalidate>
        <div formArrayName="degreeGroup">
          <div class="addGroup"><a (click)="addEducation()" [ngClass]="{'dis': !EducationalDetailForm.valid || futureDate}" class="addGroupbtn"> Add Education <i class="material-icons">add_circle_outline</i></a> </div>
          <div *ngFor="let employer of EducationalDetailForm.controls.degreeGroup.controls; let i=index">
            <div class="panel-heading" (click)="accoradianIteam(i)"> <span class="removeGroupbtn" *ngIf="EducationalDetailForm.controls.degreeGroup.controls.length > 1" (click)="removeEducation(i)"><i class="material-icons">highlight_off</i></span> <span class="wrap">{{getDegreeName[i] || 'Education Details'}}</span> <i class="material-icons ri" [ngClass]="{'hide': !openThisFormArray[i]}">keyboard_arrow_up</i> <i class="material-icons ri" [ngClass]="{'hide': openThisFormArray[i]}">keyboard_arrow_down</i> </div>
            <div class="panel-body" [ngClass]="{'active': openThisFormArray[i]}" [formGroupName]="i">
              <div class="row">
                <div class="form-group col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input inputMaterial " [(ngModel)]="getDegreeName[i]" maxlength="100" type="text" appFloatLabelDirective=""
                    formControlName="degree_type">
                    <span class="highlight"></span> <span class="bar"></span>
                    <label class="mdl-textfield__label">Type of Degree Earned </label>
                  </div>
                </div>
                <div class="form-group col-6">
                  <div class="mdl-textfield mdl-js-textfield select-wrapper select-align">
                    <label class="mdl-textfield__label select">Year Graduated &nbsp; <span class="error" *ngIf="futureDateIndex[i]"> (Future date should not be selected) </span></label>
                    <select formControlName="graduation_month"  (change)="getMonthValue(i)">
                      <option value>Month</option>
                      <option value="0">Jan</option>
                      <option value="1">Feb</option>
                      <option value="2">Mar</option>
                      <option value="3">Apr</option>
                      <option value="4">May</option>
                      <option value="5">Jun</option>
                      <option value="6">Jul</option>
                      <option value="7">Aug</option>
                      <option value="8">Sep</option>
                      <option value="9">Oct</option>
                      <option value="10">Nov</option>
                      <option value="11">Dec</option>
                    </select>
                    <select formControlName="graduation_year"  (change)="getMonthValue(i)">
                      <option value>Year</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                      <option value="2013">2013</option>
                      <option value="2012">2012</option>
                      <option value="2011">2011</option>
                      <option value="2010">2010</option>
                      <option value="2009">2009</option>
                      <option value="2008">2008</option>
                      <option value="2007">2007</option>
                      <option value="2006">2006</option>
                      <option value="2005">2005</option>
                      <option value="2004">2004</option>
                      <option value="2003">2003</option>
                      <option value="2002">2002</option>
                      <option value="2001">2001</option>
                      <option value="2000">2000</option>
                      <option value="1999">1999</option>
                      <option value="1998">1998</option>
                      <option value="1997">1997</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="form-group col-12">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input inputMaterial " maxlength="100" type="text" appFloatLabelDirective="" formControlName="school_name">
                    <span class="highlight"></span> <span class="bar"></span>
                    <label class="mdl-textfield__label">Name of School</label>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="form-group col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input inputMaterial " maxlength="100" type="text" appFloatLabelDirective="" formControlName="city">
                    <span class="highlight"></span> <span class="bar"></span>
                    <label class="mdl-textfield__label">City</label>
                  </div>
                </div>
                <div class="form-group col-6">
                  <div class="mdl-textfield mdl-js-textfield select-wrapper select-align">
                    <label class="mdl-textfield__label select">State</label>
                    <select formControlName="state">
                      <option value>Select</option>
                      <option value="AK">AK</option>
                      <option value="AL">AL</option>
                      <option value="AZ">AZ</option>
                      <option value="AR">AR</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value=" GA"> GA</option>
                      <option value="HI">HI</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="IA">IA</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="ME">ME</option>
                      <option value="MD">MD</option>
                      <option value="MA">MA</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MS">MS</option>
                      <option value="MO">MO</option>
                      <option value="MT">MT</option>
                      <option value="NE">NE</option>
                      <option value="NV">NV</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM </option>
                      <option value="NY">NY</option>
                      <option value="NC">NC</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WV">WV</option>
                      <option value="WI">WI</option>
                      <option value="WY">WY</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="action">
          <button (click)="submitContinue()" [disabled]="!EducationalDetailForm.valid || futureDate" class="btn mar-top">Continue</button>
        </div>
      </form>
    </div>
  </div>
  <app-applicant-footer></app-applicant-footer>
</div>
