body.LoggedIn {
  background: #f6f6f6; }
body.LoggedIn .mdl-layout__header-row {
  padding: 0 20px 0 0px; }
body.LoggedIn .frs-header {
  background: #fff;
  color: #1c1e2c;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  overflow: visible; }
body.LoggedIn .frs-header .mdl-navigation__link {
  color: #1c1e2c; }
body.LoggedIn .frs-header .frs-slogn {
  font-size: 22px;
  color: #1c1e2c;
  margin-left: 20px; }
body.LoggedIn .frs-header .frs_user {
  font-size: 13px;
  color: #1c1e2c;
  font-weight: 300; }
body.LoggedIn .frs-header .frs-title {
  background: #1c1e2c;
  padding: 14px; }
body.LoggedIn .frs-header .frs-title img {
  width: 214px; }
body.LoggedIn .frs-header .notifications {
  color: #e74c3c;
  margin-right: 50px; }
body.LoggedIn .frs-header .notifications:after {
  background: #fff;
  border: 1px solid #eee;
  color: #333;
  right: -20px; }
.header{ text-align: center; padding: 20px 0}
