<header class="mdl-layout__header mdl-layout__header--transparent header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <div class="mdl-layout-spacer"></div>
    <span class="mdl-layout-logo"><img src="../assets/frs_logo.png" alt="FRS"></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
  </div>
</header>