
<div class="frs-layout-transparent mdl-layout mdl-js-layout ">
  <app-header></app-header>
  <main class="mdl-layout__content">
    <section class="section--center" style="padding-bottom: 10px;">
      <div id="registrationSucess" class="mdl-cell mdl-cell--5-col mdl-shadow--2dp white-box-center">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col"><h2 class="block_title">{{tital}}</h2></div>
          <alert-msg [message]="true"></alert-msg>
          <div class="mdl-cell mdl-cell--12-col"><div class="mdl-typography--text-center" align="center"><p align="center" style="font-size: 16px">{{msg}}</p></div></div>
          <div class="action" *ngIf="enableLogin"><a (click)="gotoLogin()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Login</a></div>
        </div>

      </div>
    </section>
  </main>
</div>
