.block_title {
    font-size: 22px;
    color: #1c1e2c;
    margin: 0;
    line-height: normal;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 4px; text-align: center;
}
.white-box-center{margin: auto;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-top: 15px;}

.action{text-align: center; width: 100%;}

