.mdl-layout--fixed-header{
  background: #f6f6f6;min-height: 100vh;
}
.no-sidebar .mdl-cell--12-col.mdl-shadow--2dp {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}
.auto{margin: auto;}
.collapasile-title {
  border-bottom: 1px solid #777;
  display: flex;
  font-size: 1.2rem;
  padding: 0 0 9px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.collapasile-title .small {
  font-size: 13px;
  margin: 0 0 0 10px;
}

.select-wrapper {
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 130px;
}
label.static{position: static; color: rgba(0, 0, 0, 0.88)}
.mdl-button--accent.mdl-button--accent.fab-1.add-new-skill {
  padding: 0 10px 0 5px;
  margin: 25px 0 0;
}
.learnMorelink{display: none}

.hidefromskill{display: none}
.mdl-button{font-size: 13px;font-weight: 400;}
.mdl-textfield{ margin-bottom: 0}
.mdl-grid{margin-bottom: 20px!important}
.ng-valid.mdl-textfield__input{ border-bottom: 1px solid #ccc}
.select-wrapper select:disabled{ color: #ccc}

.selectvisiblity{ display: none}

label.static{ margin-right: 15px; font-size: 15px;}
.mdl-button--raised[disabled][disabled] {
  background: #C2CCD1;
}
