
/* Header for applicant  workflow only */
.header-pattern{background:url(../../../assets/headerPattern.png) repeat-x; height: 58px;}
.applicant-logo{margin-top: 14px; cursor: pointer}

.right{float: right}
.right span{display: inline-block; vertical-align: middle}
.right img{width: 30px; margin: 15px; cursor: pointer}
.right  em{color: #fff; font-style: normal; display: inline-block; vertical-align: middle}

.header-pattern{ position:relative; }
.header-pattern .right{position: absolute; right: 0; top: 0px;}

@media only screen and (max-width: 540px) {
  .applicant-logo {
    margin-top: 14px;
    cursor: pointer;
    width: 120px;
    float: left;
    margin: 19px;
  }
}
