<div class="header-pattern center">
    <img src="assets/frs_logo.png" (click)="goToLandingPage()" width="208" class="applicant-logo">
    <div class="right" *ngIf="hideLogout"><em>{{isLogin}}</em> <span (click)="logout()"> <img src="assets/logout.svg"></span></div>
  <div class="right" *ngIf="isCandidateLoginusingEmail"><em>{{candidateName}}</em> <span (click)="logoutApplicant()"> <img src="assets/logout.svg"></span></div>
</div>
