.box{background: #fff; text-align: center; padding: 15px; border-radius: 4px; box-shadow: 1px 1px 3px #999; max-width: 420px; margin: auto}
h2{font-size: 22px; font-weight: 600; margin: 0;}
p{font-size: 14px}
.action{text-align: center; width: 100%}
.action button{border-radius: 50px;
  color: #fff;
  background: #114053;
  border: 1px solid #114053;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  line-height: 38px;
  padding: 0 40px;
  height: auto;}
