.block_title {
  font-size: 22px;
  color: #1c1e2c;
  margin: 0;
  line-height: normal;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px; text-align: center;
}
input{outline: 0; box-shadow: 0 0 0}
