<app-applicant-header></app-applicant-header>
 <img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<div *ngIf="pageLoded">

<div class="main-wrapper">
  <div class="pointer">
    <ul class="resetUl">
      <li class="selected"><a></a></li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
    </ul>
  </div>
  <h2 class="times">Career Objective</h2>
  <div class="content-block">
    <form [formGroup]="objectiveForm" novalidate>
      <div class="row clearfix">
        <div class="form-group col-12">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label textarea">Write About Your Career Objective</label>
            <textarea class="mdl-textfield__input outline-none " placeholder="Write About Your Career Objective" formControlName="object"></textarea>
            <span class="highlight"></span> <span class="bar"></span>
            <div class="error_mandatory error" *ngIf="objectiveForm.controls.object.invalid && objectiveForm.controls.object.dirty" >Please enter something!</div>

          </div>
        </div>
      </div>
      <div class="action">
        <button (click)="submitContinue()" [disabled]="!objectiveForm.valid" class="btn mar-top">Continue</button>
      </div>
    </form>
  </div>
</div>
<app-applicant-footer></app-applicant-footer>
</div>

