<app-applicant-header></app-applicant-header>
<div class="main-wrapper">
  <div class="mobile-first-wrapper center">
    <h2 class="times">Sign In</h2>
    <p class="helpText">With your favorite</p>


    <form [formGroup]="applicantLogin" novalidate>
      <div class="errorEmail"> {{userAlready}}</div>
      <div class="field-wrapper clearfix">
        <div class="field">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial " type="email" maxlength="100"  appFloatLabelDirective="" formControlName="email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">Email</label>

          </div>

        </div>
      </div>
      <div class="field-wrapper clearfix">
        <div class="field">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial " type="password"  appFloatLabelDirective="" formControlName="password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">Password</label>
          </div>

        </div>

      </div>

      <button (click)="loginCandidate(applicantLogin.value)" class="btn mar-top" [disabled]="!applicantLogin.valid">Sign In</button>
    </form>
    <div class="alredyHaveLogin"><span class="hide-on-mobile">Don't' have an account?</span> <a (click)="SignUpPage()">Sign Up</a> <span class="hide-on-mobile">Now!</span></div>

  </div>

</div>

<app-applicant-footer></app-applicant-footer>
