#help-wanted-ad .mdl-cell.mdl-cell--12-col.mdl-shadow--2dp {
    margin-bottom: 25px;
    padding-bottom: 12px;
}
 #help-wanted-ad .mdl-cell.mdl-cell--12-col.mdl-shadow--2dp {
    padding-top: 0;
}
.no-sidebar .mdl-cell--12-col.mdl-shadow--2dp {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    padding: 20px;
}
.mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
    width: calc(100% - 16px);
}
.mdl-typography--text-left > h2 {
    font-size: 18px;
    margin: 12px 0 0;
    padding: 0 0 0 10px;
}
.mdl-typography--text-left .profile-poits {
    margin-bottom: 0;
    margin-top: 5px;
}
.table-style-02 {
    border: 0 none;
    font-size: 13px;
    width: 100%;
}
.table-style-02 th {
    border-bottom: 3px solid #c6c7ca;
    padding: 6px 20px 10px;
}
.table-style-02 tbody tr td {
    padding: 10px 20px;
}
.table-style-02 tbody tr td {
    border-bottom: 1px solid #dddddd;
    font-weight: 500;
}
.locations_list.expand{height: auto}
.collapasile-title {border-bottom: 1px solid #777;display: flex;font-size: 1.2rem;padding: 0 0 9px;width: 100%;margin-bottom:20px;position:relative}
.mdl-layout--fixed-header{ background: #f6f6f6}
.mdl-grid.collapsible .mdl-cell {
  margin: 0;
}
.select-wrapper select {
  font-size: 20px;
  font-weight: 300;
  padding-right: 18px;
}
.address{width:100%; display: block; position: static; margin-bottom: 10px; color:rgba(0, 0, 0, 0.7);font-weight: 500; font-size: 15px;}
.dAddress{padding: 20px 0;}
.locations_list{ list-style-type: none; margin: 0; padding: 0; }


.mdl-button--raised[disabled][disabled] {
  background: #C2CCD1;
}
.accord{position: relative}
.accord i{position: absolute; right: 0px; top: 5px; cursor: pointer}

#learnmore .overlay-wrapper {
  background: #fff;
  border-radius: 5px;
  display: block;
  left: 0;
  margin: auto;
  opacity: 1;
  padding: 0;
  position: fixed;
  right: 0;
  top: 22%;
  z-index: 9999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
}
.overlay2text{padding:5px 11px !important}
.ptitle {
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2pt;
  margin: 0;
}
.overlay h2 {border-bottom: 1px solid #cccccc;font-size: 1.2rem;line-height: 43px;margin: 0 0 5px;padding: 0 20px;}
.overlay .mdl-cell.mdl-cell--12-col {border-bottom: 1px solid #cccccc;margin: 0;padding: 0 30px;}
#learnmore.overlay {bottom: 0;height: 260px;top: 0;}
#learnmore.overlay::before {
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.overlay h2 {border-bottom: 1px solid #cccccc;font-size: 1.2rem;line-height: 43px;margin: 0 0 5px;padding: 0 20px;}
.overlay-close {
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 10px;
  z-index: 100;
  color: #777;
}

.breadcrumb { margin:8px 20px;
  color: #999;
  font-size: 12px; }
.breadcrumb a {
  color: #000;
  font-weight: 400;
  text-decoration: none; }
.breadcrumb a:hover {
  text-decoration: underline; }
.mdl-cell.mdl-cell--12-col.title-bar { border-bottom:1px solid #dbdbdb; width:auto; margin: 0 20px 12px;text-align: center;}
.title-bar h1#page-title {display: inline-block;font-size: 1.9rem;line-height: 2.1em;margin: 0;vertical-align: top;}
.title-bar a.back-link {display: inline-block;float: left;font-size: 12px;padding: 22px 0 0;text-decoration: none; color:#407d99; font-weight:400}
.title-bar a.back-link .material-icons {display: inline-block;line-height: normal;margin: -3px -6px 0 -6px;vertical-align: top; font-weight:400}
