.main-wrapper{width: 480px; margin: auto; padding: 0 20px;}
ul{list-style-type: none; margin: 0; padding: 0;  width: 400px; margin: auto; margin-top: 30px;}
ul li .labelB{color:#fff; margin-bottom: 3px; background: #005d80; font-size: 20px; border-radius: 50px; line-height: 54px;}
.info{font-size: 10px; color: #666; margin-bottom: 25px;}
ul li .labelB{ background:#005d80 /*url(assets/file.svg) no-repeat 95% center/34px*/; cursor: pointer}
ul li .labelB.edit{ background:#005d80 /*url(assets/edit.svg) no-repeat 95% center/34px*/}
ul li .labelB.up{ background:#005d80 /*url(assets/upload.svg) no-repeat 95% center/34px*/}
.op{float: right}
.op em{cursor: pointer; font-weight: 500; font-style: normal; color: #000}
.op em.rm{color: red}
.infoF{font-size: 11px;color: #666; text-transform: capitalize; overflow: hidden; margin-bottom: 25px; text-align: left; padding: 0 20px;}
.dis{pointer-events: none; opacity: 0.6}
.edit{color: #008045}
.fileatt{float: right}
.fileatt span{color: #666; font-size: 11px; margin-left: 10px;}
.fileatt span.del{color: #880e4f}
.fileatt span.pre{color:#00c853; cursor: pointer}
.trimsizze{overflow: hidden; white-space: nowrap; text-overflow:ellipsis; max-width: 190px; display: inline-block; vertical-align: middle}
.labelB.btn b{font-weight:normal;}
/* Prompt box */
.alert-box{position: fixed;  z-index: 999}
.alert-box .confirm{cursor:pointer; background: #007faf; color: #fff; border-radius: 50px; width: 150px; line-height: 40px; font-size: 18px; border: 0}
.alert-box h2{font-size: 24px; color: #555;line-height: 24px;}
.alert-box p{font-size: 14px; color: #666;}
.alert-box .overlay-bg{content: ""; background: rgba(0,0,0,0.8); position: fixed; top:0; left: 0; width: 100%; height: 100%; z-index: -1}
.alert-box .m-b{position: fixed; text-align: center; background: #fff3e0; border-radius: 4px; box-sizing: border-box;   padding: 10px 30px; width:400px; height: 185px; top:50%; margin-top: -70px; left: 50%; margin-left: -200px; box-shadow: rgba(0,0,0,.1) 0 2px 3px, rgba(0,0,0,.2) 0 5px 15px}
@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

.labelB.btn span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin-left: 2px;
}

.labelB.btn span:nth-child(2) {
  animation-delay: .2s;
}

.labelB.btn span:nth-child(3) {
  animation-delay: .4s;
}
.abs{display: inline-block}
.abs b{width: 5px; height:5px; display: inline-block; background: #fff; border-radius: 50%;}
.labelB.btn:disabled .abs b{background: #000;}

@media only screen and (max-width: 840px) {
.main-wrapper{width: auto}
ul{width: auto; margin-left: 0;}
ul li .labelB{font-size: 15px}
.info{line-height: 15px;}
ul li .labelB{ background:#005d80 /*url(assets/file.svg) no-repeat 94% center/22px*/; line-height: 45px }
ul li .labelB.edit{ background:#005d80 /*url(assets/edit.svg) no-repeat 94% center/22px*/}
}
