<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<app-applicant-header></app-applicant-header>
<div *ngIf="pageLoded">

  <div class="main-wrapper">
    <div class="mobile-first-wrapper center">
      <h3 class="times">Congratulations {{ candidateName || 'Matt Harper'}} !</h3>
      <h2 class="times">You Are Eligible To Apply For This Position</h2>

      <ul>
        <li *ngIf="enableFile">
          <div (click)="applyThroughFile()"  class="labelB btn"><b>{{dynamicText}} <em class="abs" *ngIf="abs"><span><b></b></span><span><b></b></span><span><b></b></span></em></b></div>
          <div class="infoF">
            <span class="download"><a [href]="fileUrl">Download</a></span>  ( <span class="trimsizze">{{ fileName }}</span> )
            <div class="fileatt">
              <span class="pre" (click)="viewResume()">Preview</span>
            </div>
          </div>
        </li>
        <li *ngIf="enableResume">
          <div (click)="sendResume()"  class="labelB btn"><b>{{dynamicText}} <em class="abs" *ngIf="abs"><span><b></b></span><span><b></b></span><span><b></b></span></em></b></div>
          <div class="infoF">
            <span class="download">{{nameOfresume + '_Custom_Resume'}} </span>
            <div class="fileatt">
              <span class="pre" (click)="PreResume()">Preview</span>
            </div>
          </div>
        </li>

        <li>
          <div class="labelB edit" (click)="buildResume()">Build New Resume</div>
          <div class="info">* You can either Build your resume with Talentrackr or have your custom resume</div>
        </li>
        <li>
          <app-file-upload></app-file-upload>
        </li>
      </ul>

    </div>

  </div>

  <app-applicant-footer></app-applicant-footer>

</div>
<div class="alert-box" *ngIf="showModel">
  <div class="overlay-bg"></div>
  <div class="m-b"><h2>Already Applied!</h2>
    <p>You have already applied for this Help Wanted Ad!</p>
    <div class="action"><button class="confirm" (click)="closeModel()">Ok</button></div></div>
</div>
