.main-wrapper{width: 480px; margin: auto; padding: 0 20px;}
.Or{position: relative; margin: 40px 0}
.Or:after{position: absolute; width: 100%; height: 1px; background: #ccc; content: ""; left: 0; top: 13px; z-index: -1}
.Or span{background: #3f7b97; display: inline-block; color: #fff; border-radius: 50%; width: 28px; line-height: 28px; text-align: center}
.fpw{position: relative}
a.fp{position: absolute;right: 5px; top: 23px;z-index: 999; font-size: 11px; color: #989999; cursor: pointer}
.remember{font-weight: 500}
.remember em{display: inline-block; vertical-align: middle; font-style: normal}
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 18px;pointer-events:all;
  vertical-align: middle;
  top:0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input.ng-untouched+ .highlight + .bar + label.mdl-textfield__label{top: 0; font-size: 12px; color: #000;}
.switch input {display:none;}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
@media only screen and (max-width: 840px) {
.main-wrapper{width: auto}

}
