/*heading font for title*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.times {
    font-family: 'Times New Roman', Times, serif
}
h3.times {
    font-size: 20px;
    margin: 0;
}
h2.times {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}
h2.times em {
    font-weight: normal;
}
.resetUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-wrapper {
    max-width: 700px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center
}
.pointer {
    overflow: hidden;
    text-align: center;
    padding: 24px 0;
}
.pointer ul {
    display: inline-block;
    position: relative
}
.pointer ul li {
    border: 4px solid #f9fbfc;
    display: inline-block;
    margin: 0 19px;
    background: #ccc;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    vertical-align: middle
}
.pointer ul li.selected {
    background: #005d80;
    width: 17px;
    height: 17px;
}
.pointer ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.pointer ul::before {
    content: "";
    height: 1px;
    width: 100%;
    background: #6596aa;
    display: block;
    position: absolute;
    left: 0;
    top: 13px;
    z-index: -1
}
.resumeList li {
    display: inline-block;
    font-size: 0;
    position: relative
}
.resumeList .selected img {
    border: 5px solid #089b12;
    box-sizing: border-box
}
.content-block {
    margin: 55px 0;
}
.content-block .action {
    padding-top: 40px;
    padding-bottom: 20px;
}
.resetPosition {
    position: static;
    pointer-events: inherit
}
.hide {
    display: none
}
.radio-label {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px
}
.radio-label img {
    border: 5px solid #fff;
    box-shadow: 1px 1px 2px
}
input[type=radio]:checked + label.radio-label {
    position: relative;
    left: auto;
    top: auto;
    box-sizing: border-box;
    display: inline-block
}
input[type=radio]:checked + label.radio-label img {
    position: relative;
    border: 5px solid #089b12;
    box-sizing: border-box;
    display: inline-block
}
input[type=radio]:checked + label.radio-label:after {
    content: "";
    background: #089b12 url(../../../assets/check.png) no-repeat center center;
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: 70%;
}
button.btn {
    border-radius: 50px;
    background: #114053;
    color: #fff;
    border: 1px solid #114053;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor: pointer;
    line-height: 38px;
    padding: 0 40px;
    height: auto
}
button.btn:disabled {
    cursor: default;
    background: #cccccc;
    border: 1px solid #7b98a4;
    color: #7b98a4;
}
.helpText {
    font-size: 12px;
    margin-top: 20px;
}
.addGroup {
    text-align: right;
    margin: 20px 0 0;
    padding-bottom: 10px;
}
.addGroupbtn {
    font-size: 12px;
    color: #005d80;
    cursor: pointer
}
.addGroupbtn i {
    vertical-align: middle;
    margin-left: 6px;
    display: inline-block;
}
.removeGroupbtn i {
    vertical-align: middle;
    display: inline-block;
    color: #5f5f5f;
    cursor: pointer;
    font-size: 18px;
    color: #a9aaa9
}
.panel-heading {
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16.5px;
    color: #264b5d;
    border-bottom: 1px solid #5f5f5f;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.panel-heading span.wrap {
    width: 90%;
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.removeGroupbtn {
    margin-left: -23px
}
.panel-body {
    overflow: hidden
}
.panel-body .form-group {
    float: left;
    padding: 0 15px;
    box-sizing: border-box
}
.panel-body .form-group:first-child {
    padding-left: 0
}
.panel-body .form-group:last-child {
    padding-right: 0;
    float: right
}
.panel-body .form-group.col-12 {
    width: 100%
}
.panel-body .form-group.col-6 {
    width: 49%
}
input.goUp + .highlight + .bar + label {
    top: -3px;
    color: #004763
}
.ng-invalid+.highlight+.bar+label {
    color: #004763;
    font-size: 14px;
}
.ng-valid+.highlight+.bar+label {
    color: #004763;
    font-size: 12px;
}
select.ng-valid {
    border-color: yellowgreen!important
}
.select-wrapper {
    width: 100%;
    border-bottom: 0;
    text-align: left
}
.select-wrapper select {
    width: 40%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-right: 10px;
    border-bottom: 1px solid #cccccc;
    padding-left: 0;
    float: left
}
.select-wrapper select+select {
    margin-right: 0;
    float: right
}
.mdl-textfield__label.select {
    color: #004763;
    font-size: 12px;
}
label.textarea {
    color: #004763;
    font-size: 12px;
    margin-top: -27px;
}
textarea.outline-none {
    outline: 0
}
.currentEm {
    margin-top: -5px;
    text-align: left
}
.currentEm .resetPosition {
    font-size: 12px;
    color: #004763
}
.moveT {
    padding-bottom: 10px;
    position: relative;
    top: -11px
}
button.disabled {
    cursor: default;
    background: #cccccc;
    border: 1px solid #7b98a4;
    color: #7b98a4;
    pointer-events: none
}
.select-wrapper.select-align {
    padding: 0;
    margin: 0;
}
.content-block .action button {
    margin: 0 10px;
    font-family: 'Times New Roman', Times, serif
}
.ri {
    float: right
}
.mdl-textfield textarea.mdl-textfield__input{box-sizing: border-box}
/**/

.panel-close {
    display: none
}
::placeholder {
    color: #aaa
}
.newLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}
/* Responsive */

@media only screen and (max-width: 840px) {
    h3.times {
        font-size: 16px;
    }
    h2.times {
        font-size: 18px;
        line-height: 22px;
    }
    .pointer ul li {
        margin: 0 7px;
    }
    .radio-label {
        margin-bottom: 10px;
    }
    .content-block {
        margin: 30px 0;
        width: auto
    }
    .content-block .action button {
        width: 100%;
        margin: 10px 0
    }
    .panel-body .form-group.col-6 {
        width: auto;
        padding: 0;
        float: none
    }
    ::placeholder {
        font-size: 12px;
    }
    .select-wrapper {
        margin-bottom: 0;
    }
    .moveT {
        padding-bottom: 20px;
        padding-top: 20px;
        position: static
    }
    .removeGroupbtn {
        margin-left: 0
    }
    .select-wrapper {
        font-size: 14px;
    }
    .select-wrapper.select-align {
        padding-bottom: 20px;
    }
}
.dis {
    opacity: 0.6;
    pointer-events: none
}
button:focus{outline: none; box-shadow: 2px 2px 10px deepskyblue}
@media only screen and (max-width: 540px) {
  .pointer{width: 100%;}
  .pointer ul li{margin: 0 5px}
  .resumeWrap{padding: 0px;}
  .resume-content{padding: 15px}
  .resumeWrap   .resume-header  h1{padding: 0 15px; font-size: 20px; margin: 0; margin-bottom: 10px}
  .contact   span{font-size: 12px}
  .resume-content .block h3{font-size: 14px;}
  .resume-content .block p{font-size: 12px}

}
