<div class="loadingP">
  <img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoading">
</div>
<div *ngIf="pageLoading">
  <div class="mainWrrap">
    <app-applicant-header></app-applicant-header>

    <div class="mobile-first-wrapper center">
      <h3 class="times">Thank you for your interest in the,</h3>
      <h2 class="times longText"><span class="cap">{{ HWAposition }}</span> Position <em>at</em> {{ HWAcompany }}, {{ HWAlocation }}</h2>

      <div class="upload-resume">
        <app-file-upload></app-file-upload>
      </div>
      <div class="no-resume">Don’t Have a Resume?&nbsp;&nbsp;&nbsp; <a (click)="buildResume()">Build Your Resume Now!</a> &nbsp;&nbsp;&nbsp;
        <br class="gd"> (in less than 2 minutes)</div>
      <div class="alredyHaveLogin"><span class="hide-on-mobile">Already have talentrackr account?</span> <a (click)="loginPage()">Sign In</a> <span class="hide-on-mobile">Now!</span></div>

    </div>
    <app-applicant-footer></app-applicant-footer>
  </div>

</div>
