<app-global-header></app-global-header>
<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<div class="container">
  <div class="pageHeading txtCenter">
    <h2 class="txtCaptilaise m0 pb10">All Applicants : {{hwaName}} Position</h2>
  </div>
  <div class="allApplicantsListSection width50 fullWidth">

    <div class="tab-contents">
      <div class="tabWrapperMobile">
        <tabs>
          <div class="paginationSection">
            <div class="pagination"> <span class="colorAsh">1 - 10 of </span><span class="total colorAsh">45</span> <a href="#"><img src="../../../assets/previous.svg"></a> <a href="#"><img src="../../../assets/next.svg"></a> </div>
          </div>
          <tab tabTitle="All">
          <ul class="p0">
            <li class="slideRight" *ngFor="let list of listData">
              <div class="adBlock">
                <div class="mdl-grid p0">
                  <div class="mdl-cell mdl-cell--5-col applicantName">
                    <h6><a [routerLink]="['/viewapplicant', hwaName, HwaId, list['field_applicant_author_1']]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col applicantStatus"> <a href="#" class="colorAsh">{{list['field_status']}}</a> </div>
                  <div class="mdl-cell mdl-cell--3-col applicantRating"> <img src="assets/thumbsUpIcon.svg" class="thumbsUpIcon">
                    <p class="rate">{{scoringNumber}}%</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </tab>

          <tab tabTitle="New">
          <ul class="p0">
            <li *ngFor="let list of listDataNew">
              <div class="adBlock">
                <div class="mdl-grid p0">
                  <div class="mdl-cell mdl-cell--5-col applicantName">
                    <h6><a [routerLink]="['/viewapplicant', list['field_applicant_author_1']]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col applicantStatus"> <a href="#" class="colorAsh">{{list['field_status']}}</a> </div>
                  <div class="mdl-cell mdl-cell--3-col applicantRating"> <img src="assets/thumbsUpIcon.svg" class="thumbsUpIcon">
                    <p class="rate">{{scoringNumber}}%</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </tab> <tab tabTitle="Viewed">
          <ul class="p0">
            <li *ngFor="let list of listDataViewed">
              <div class="adBlock">
                <div class="mdl-grid p0">
                  <div class="mdl-cell mdl-cell--5-col applicantName">
                    <h6><a [routerLink]="['/viewapplicant', list['field_applicant_author_1']]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col applicantStatus"> <a href="#" class="colorAsh">{{list['field_status']}}</a> </div>
                  <div class="mdl-cell mdl-cell--3-col applicantRating"> <img src="assets/thumbsUpIcon.svg" class="thumbsUpIcon">
                    <p class="rate">{{scoringNumber}}%</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </tab> <tab tabTitle="Shortlisted">
          <ul class="p0">
            <li *ngFor="let list of listDataShortlisted">
              <div class="adBlock">
                <div class="mdl-grid p0">
                  <div class="mdl-cell mdl-cell--5-col applicantName">
                    <h6><a [routerLink]="['/viewapplicant', list['field_applicant_author_1']]">{{list['field_first_name'] || 'N/A' }} {{list['field_last_name']}}</a></h6>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col applicantStatus"> <a href="#" class="colorAsh">{{list['field_status']}}</a> </div>
                  <div class="mdl-cell mdl-cell--3-col applicantRating"> <img src="assets/thumbsUpIcon.svg" class="thumbsUpIcon">
                    <p class="rate">{{scoringNumber}}%</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </tab> <tab tabTitle="Interview Scheduled">
          <div class="tab-contents"> sssssssss </div>
        </tab> <tab tabTitle="Rejected">
          <ul class="p0">
            <li *ngFor="let list of listDataRejected">
              <div class="adBlock">
                <div class="mdl-grid p0">
                  <div class="mdl-cell mdl-cell--5-col applicantName">
                    <h6><a [routerLink]="['/viewapplicant', list['field_applicant_author_1']]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col applicantStatus"> <a href="#" class="colorAsh">{{list['field_status']}}</a> </div>
                  <div class="mdl-cell mdl-cell--3-col applicantRating"> <img src="assets/thumbsUpIcon.svg" class="thumbsUpIcon">
                    <p class="rate">{{scoringNumber}}%</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </tab> </tabs>
      </div>
    </div>
  </div>
</div>
