.applicantStatus
{
    padding: 12px 0;
}
.allApplicantsListSection ul {
    line-height: 13px;
}
.allApplicantsListSection li {
    list-style: none;
}
.allApplicantsListSection .adBlock {
    padding: 10px 20px;
}
.adBlock p {
    font-size: 11px;
    padding: 10px 0;
}
.adBlock p.rate {
    padding: 0;
    margin: 0;
}
.kebabMenu {
    height: 40px;
    position: relative;
}
.adBlock p.actionInfo  {
    margin: 8px;
    padding: 0;
}
.allApplicantsListSection .applicantRating {
    padding: 0;
}
.adBlock h6 {
    color: #232534;
}
.adBlock .applicantStatus {
    font-weight: normal;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}


@media screen and (max-width: 1024px) {
    .adBlock .mdl-cell {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .kebabMenuOpen ul {
        right: 0;
    }
    button.tablinks {
        width: 100%;
    }
    .adBlock p.actionInfo {
        text-align: center;
    }
    .allApplicantsListSection .adBlock {
        padding: 0;
    }
    .allApplicantsListSection .adBlock .mdl-cell {
        padding: 0;
    }
}
