.alert-success{
  text-align: center;
  padding: 10px 40px;
}
.alert-danger{
  color: #ff0000;
  text-align: center;
  padding: 10px;
}
.alert.alert-success {
  background: #099811;
  border-radius:0 0 7px 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 15px;
  padding: 20px 40px; text-align: center; display: inline-block; color: #fff;
}

.alert.alert-danger {
  background:#d50000;
  border-radius:0 0 7px 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 15px;
  padding: 20px 40px; text-align: center; display: inline-block; color: #fff;
}

