.pageHeading h1 {
  border-bottom: 1px solid #ccc;
}
button .material-icons {
  font-size: 13px;
}
.actionButtons {
  padding: 5px 0;
}
.actionButtons .mdl-button {
  line-height: 1px;
  font-size: 12px;
  height: auto;
  padding: 5px 10px;
}
.seperator {
  padding: 0 3px;
}
.downloadBtn,
.downloadBtn:hover {
  float: right;
  color: #777;
  background-color: transparent;
}
.expireDate {
  float: right;
  clear: both;
  color: #F3773B;
  font-weight: bold;
}
.adBlock h4 {
  color: #547E90;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 20px;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}
.adBlock span {
  font-size: 13px;
}
@media screen and (min-width: 840px) {
  .mdl-cell {
    width: auto;
  }
}
