<app-global-header></app-global-header>
<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<div class="container">
  <simple-notifications [options]="options"></simple-notifications>
  <div class="pageHeading txtCenter">
    <h2 class="txtCaptilaise m0 pb10">Summary of Active help wanted ads</h2>
  </div>
  <div class="allApplicantsSortSection width50 fullWidth">
    <h3 class="txtCaptilaise txtCenter">select your help wanted ad to view applicants</h3>
    <div class="actionButtons">
      <button class="mdl-button roundedCorners simpleBtn" (click)="shortBy()">
        <i class="material-icons">import_export</i>{{status}}
      </button>
      <button class="mdl-button roundedCorners downloadBtn">
        Download as Excel<img src="assets/excelIcon.svg" class="excelIcon"/>
      </button>
    </div>
    <ul class="m0 ">
      <li class="slideRight" *ngFor="let list of listData | orderBy:order:ascending">
        <div class="adBlock" *ngIf="list['total_application'] !== 0">
          <h4 class="m0 pb5"><a [routerLink]="['/whohasapplied', list['title'], list['nid']]">{{list['title']}}</a></h4>
          <div class="mdl-cell mdl-cell--12 pb5 m0">
            <span class="colorGrey">New</span><span class="ml5 colorBlue fontBold">02</span><span class="seperator">|</span>
            <span class="colorGrey">Viewed</span><span class="ml5 colorBlack fontBold">05</span><span class="seperator">|</span>
            <span class="colorGrey">Shortlisted</span><span class="ml5 colorBlack fontBold">08</span><span class="seperator">|</span>
            <span class="colorGrey">Interview</span><span class="ml5 colorBlack fontBold">07</span><span class="seperator">|</span>
            <span class="colorGrey">Offered</span><span class="ml5 colorBlack fontBold">02</span><span class="seperator">|</span>
            <span class="colorGrey">Hired</span><span class="ml5 colorGreen fontBold">01</span><span class="seperator">|</span>
            <span class="colorGrey">Rejected</span><span class="ml5 colorBlack fontBold">07</span>
          </div>
          <div class="mdl-cell mdl-cell--12 pb5 m0">
            <span class="colorGrey">Positions</span><span class="ml5 colorBlack fontBold">{{list['position']}}</span><span class="seperator">|</span>
            <span class="colorGrey">Expiring On</span><span class="ml5 fontBold" [ngClass]="{'colorRed': list['remaing_days'] <= 3 }">{{list['extendtodate'] | date:'yMd' }}{{list['remaing_days']}}</span><span class="seperator">|</span>
            <span class="colorGrey">Total Applicants</span><span class="ml5 colorBlack fontBold">{{list['total_application']}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
