<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="hwa_breadcrumb"><a routerLink="/">Home</a> &gt; Create Help Wanted Ad</div>
<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="ko_breadcrumb"><a routerLink="/">Home</a> &gt; <a routerLink="/createHWA">Create Help Wanted Ad</a> &gt; Knockout Questions</div>
<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="skill_breadcrumb">
    <a routerLink="/">Home</a> &gt; <a routerLink="/createHWA">Create Help Wanted Ad</a> &gt; <a routerLink="/addKnockoutQuestion">Knockout Questions</a> &gt; Skills Or Experience Questions
</div>
<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="profile_breadcrumb">
    <a routerLink="/">Home</a> &gt; <a routerLink="/createHWA">Create Help Wanted Ad</a> &gt; <a routerLink="/addKnockoutQuestion">Knockout Questions</a> &gt; <a routerLink="/AddSkillsAndExpertiseQuestions">Skills Or Experience Questions</a> &gt; Build
    Out Your Business Profile
</div>

<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="hwaqurd_breadcrumb">
    <a routerLink="/">Home</a> &gt; Help Wanted Ad
</div>
<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="postad1_breadcrumb">
    <a routerLink="/">Home</a> &gt; <a routerLink="/createHWA">Create Help Wanted Ad</a> &gt; Post My Help Wanted Ad
</div>
<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="copyhwa_breadcrumb">
    <a routerLink="/">Home</a> &gt; <a href="javascript: window.history.go(-1)">Help Wanted Ad</a> &gt; Copy HWA : Your Help Wanted Ad Library
</div>

<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="edithwa_breadcrumb">
    <a routerLink="/">Home</a> &gt; <a href="javascript: window.history.go(-1)">Help Wanted Ad</a> &gt; Edit HWA : Your Help Wanted Ad Library
</div>

<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="viewad_breadcrumb">
    <a routerLink="/">Home</a> &gt;  <a href="javascript: window.history.go(-1)">Your Help Wanted Ad Library</a> &gt; View Help Wanted Ad
</div>
<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="copyF_breadcrumb">
    <a routerLink="/">Home</a> &gt; <a href="javascript: window.history.go(-1)">Your Help Wanted Ad Library</a> &gt; Make a Copy of A Help Wanted Ad
</div>
<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="copyF_breadcrumb2">
    <a routerLink="/">Home</a> &gt; <a href="javascript: window.history.go(-1)">Your Help Wanted Ad Library</a> &gt; Edit The Content In a Help Wanted Ad
</div>

<div class="mdl-cell mdl-cell--12-col breadcrumb hide-print" *ngIf="extend_breadcrumb">
    <a routerLink="/">Home</a> &gt; <a routerLink="/">Help Wanted Ad</a> &gt; Extend / Stop Help Wanted Ad
</div>



<div class="mdl-cell mdl-cell--12-col title-bar hide-print">
    <a class="back-link" href="javascript: window.history.go(-1)"><i class="material-icons">keyboard_arrow_left</i> BACK</a>
    <h1 id="page-title">{{biz}}</h1>
</div>