.breadcrumb { margin:8px 20px;
  color: #999;
  font-size: 12px; }
.breadcrumb a {
  color: #000;
  font-weight: 400;
  text-decoration: none; }
.breadcrumb a:hover {
  text-decoration: underline; }
.mdl-cell.mdl-cell--12-col.title-bar { border-bottom:1px solid #dbdbdb; width:auto; margin: 0 20px 12px;text-align: center;}
.title-bar h1#page-title {display: inline-block;font-size: 1.9rem;line-height: 2.1em;margin: 0;vertical-align: top;}
.title-bar a.back-link {display: inline-block;float: left;font-size: 12px;padding: 22px 0 0;text-decoration: none; color:#407d99; font-weight:400}
.title-bar a.back-link .material-icons {display: inline-block;line-height: normal;margin: -3px -6px 0 -6px;vertical-align: top; font-weight:400}
