.breadcrumb {
  margin: 8px 20px;
  color: #999;
  font-size: 12px;
}
.breadcrumb a {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.mdl-button {
  font-size: 13px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
}
.mdl-cell.mdl-cell--12-col.title-bar {
  border-bottom: 1px solid #dbdbdb;
  width: auto;
  margin: 0 20px 12px;
  text-align: center;
}
.title-bar h1#page-title {
  display: inline-block;
  font-size: 1.9rem;
  line-height: 2.1em;
  margin: 0;
  vertical-align: top;
}
.title-bar a.back-link {
  display: inline-block;
  float: left;
  font-size: 12px;
  padding: 22px 0 0;
  text-decoration: none;
  color: #407d99;
  font-weight: 400
}
.title-bar a.back-link .material-icons {
  display: inline-block;
  line-height: normal;
  margin: -3px -6px 0 -6px;
  vertical-align: top;
  font-weight: 400
}
#profilecomplete {
  margin: auto
}
sup {
  font-size: 60%;
}
.left-sidebar .mdl-cell.mdl-cell--10-col.center,
.no-sidebar .mdl-cell--10-col.center {
  margin: 0 auto 100px
}
.left-sidebar .mdl-cell--3-col {
  margin-top: 0
}
.left-sidebar .mdl-cell--3-col .mdl-list {
  margin-top: 8px;
}
.left-sidebar .mdl-cell--3-col .mdl-list,
.left-sidebar .mdl-cell--9-col {
  background: #fff;
  border-radius: 4px;
  padding: 20px
}
.left-sidebar .mdl-cell--3-col .mdl-list li {
  border-bottom: 1px solid #eeeeee;
  color: #51889e;
  display: inline-block;
  font-size: 14px;
  line-height: normal;
  min-height: auto;
  padding: 3px 9px 10px;
  width: 100%;
  cursor: pointer
}
.left-sidebar .mdl-cell--3-col .mdl-list li:last-child {
  border: medium none;
}
.left-sidebar .mdl-cell--3-col .mdl-list li.active {
  color: #333;
  pointer-events: none
}
.mdl-grid.collapsible .mdl-cell {
  margin: 0;
}
.mdl-textfield {
  min-width: 100%;
  width: auto;
}
.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
  justify-content: inherit;
  width: 100%;
}
.mdl-grid {
  justify-content: space-around;
}
.mdl-cell--12-col,
.mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
  width: calc(100% - 0px);
}
.mdl-cell--6-col,
.mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
  width: calc(50% - 0px);
}
.mdl-cell.mdl-cell--4-col .mdl-textfield {
  width: 250px;
}
.mdl-cell--4-col,
.mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
  width: calc(33.3333% - 0px);
}
.mdl-textfield__label {
  color: rgba(0, 0, 0, 0.61);
}

.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
}
.Complete.Your.Profile  .collapasile-title{cursor:pointer}

.Complete.Your.Profile  .mdl-card__actions{padding:8px 0;}
.Complete.Your.Profile  .mdl-card__actions  button + p.small{margin:10px 0 0}

.mdl-grid.collapsible .mdl-cell{margin-top:0;margin-bottom:0}
.mdl-grid.collapsible .mdl-button--raised.mdl-button--accent {font-size: 1rem;height: 34px;padding: 0 11px;text-transform: none;}
.mdl-grid.collapsible  .mdl-button--acccent .material-icons {display: inline-block;line-height: normal;margin: 3px 5px 0 0;vertical-align: top;}
.collapasile-title {border-bottom: 1px solid #777;display: flex;font-size: 1.2rem;padding: 0 0 9px;width: 100%;margin-bottom:20px;position:relative}
.mdl-cell.mdl-cell--12-col.collapsible-wrapper {align-items: stretch;display: flex;flex-flow: row wrap;}
.collapasile-title .material-icons {display: block;position: absolute;right: 10px;top: 3px;transform: none;-webkit-transform: none;-o-transform: none;-moz-transform: none;transform-origin: center center 0;-moz-transform-origin: center center 0;-o-transform-origin: center center 0;-webkit-transform-origin: center center 0;transition: all 0.2s ease-in-out 0s;-moz-transition: all 0.2s ease-in-out 0s;-o-transition: all 0.2s ease-in-out 0s;-webkit-transition: all 0.2s ease-in-out 0s;}

.collapsible.active .collapasile-title .material-icons {transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.collapsible.active .collapasile-title{ pointer-events:none;cursor:default}
.mdl-card__actions {
  padding: 8px 0;
}
.mdl-card__actions button + p.small {
  margin: 10px 0 0;
}
input.ng-valid + .highlight + .bar + label{color:#1c1e2c; font-size: 12px; top:-3px}
.mdl-button--raised[disabled][disabled], .mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
  background: #C2CCD1;
}
.mdl-layout--fixed-header{ background: #f6f6f6}
select.mdl-selcet.ng-valid{border-color: yellowgreen; border-bottom: 1px solid yellowgreen}
.panel-heading{margin:11px 0 20px 0;font-weight: bold; position: relative; overflow: hidden; font-size: 16px;}
.panel-heading .material-icons{ cursor: pointer;}

.panel-heading span{background: #fff; padding-right: 20px;}
.panel-heading  i{position: relative; z-index: 99; background:#51889e; float:left; margin-right: 10px; color: #fff; border-radius: 50%; padding: 3px; font-size: 16px;}
.address_fieldset .ng-untouched.ng-valid + .highlight + .bar+label{top: 24px;font-size: 16px;}
.address_fieldset .ng-untouched.ng-valid.goUp + .highlight + .bar+label{font-size: 12px;top: -3px}
.address_fieldset .ng-touched.ng-valid.goUp + .highlight + .bar+label{font-size: 12px;top: -3px}
.address_fieldset .ng-touched.ng-valid + .highlight + .bar+label{top: 24px;font-size: 16px;}


.specialCase .ng-valid + .highlight +.bar + label{  top:-3px!important; font-size: 12px!important;}
.fixed{position: fixed; width: 100%; left: 0; z-index: 9999}
.fixed .mdl-cell--12-col{width: 95.4%}
.fixed button{border-top-left-radius: 0;border-bottom-left-radius: 0}
.inviteuserblock{width: 100%; background: #f5f5f5; border: 1px solid #3f7d94; padding:5px  0px 12px; border-radius: 3px; margin-top: 7px; margin-bottom: 20px;}
.inviteuserblock .mdl-textfield{margin: 5px 0px 0px}
.inviteuserblock .mdl-textfield__input{border-bottom: 1px solid #9ab7c5}
.invitedUser{width: 100%; margin-bottom: 20px;}
.invitedUser .collapasile-title{ font-size: 13px; font-weight: 500; padding: 0;}
.invitedUser .container{width: 100%; padding: 0}
.invitedUser{ margin-top: 20px;}
.invitedUser .mdl-grid{margin-bottom: 20px; font-size: 18px; font-weight: 300}

.redborder{border: 2px dotted red; padding: 10px}
.tooltipClass{   
    z-index: 999;
    background-color: #fff;
    color: red;
    padding: 20px;
    position: absolute;
    left: -300px;
    top: 58px;
    border: 1px solid #dad9d9;}

    .up-arrow {
    display: inline-block;
    position: relative;
    border: 1px solid #777777;
    text-decoration: none;
    border-radius: 2px;
    padding: 20px;
    margin-top: 50px;
}
.up-arrow:before {
    content: '';
    display: block;  
    position: absolute;
    left: 140px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black;
}

.up-arrow:after {
    content: '';
    display: block;  
    position: absolute;
    left: 141px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: white;
}
