.mdl-layout--fixed-header{
  background: #f6f6f6;min-height: 100vh;
}
.no-sidebar .mdl-cell--12-col.mdl-shadow--2dp {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}
.auto{margin: auto;}
.collapasile-title {
  border-bottom: 1px solid #777;
  display: flex;
  font-size: 1.2rem;
  padding: 0 0 9px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  justify-content: space-between;
}
.collapasile-title .small {
  font-size: 13px;
  margin: 0 0 0 10px;
}

.select-wrapper {
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 120px;
}
label.static{position: static; color: rgba(0, 0, 0, 0.88)}
.mdl-button--accent.mdl-button--accent.fab-1.add-new-skill {
  padding: 0 10px 0 5px;
  margin: 25px 0 0;
}
.learnMorelink{display: none}

.hidefromskill{display: none}
.mdl-button{font-size: 13px;font-weight: 400;}
.mdl-cell.mdl-cell--12-col.help-text {
  background: #e0ebef;
  border: 1px solid #6294a7;
  border-radius: 6px;
  color: #447f96;
  margin: -5px auto;
  padding: 10px;
  width: 96%;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
}

.mdl-cell.mdl-cell--12-col.help-text  ul{ font-size:12px; line-height:14px;}
.mdl-button--accent.mdl-button--accent.fab-1 {
  background: #3f7c94;
  letter-spacing: 0.2pt;
  text-transform: none;
  color: #fff;
}
.mdl-button--accent.mdl-button--accent.fab-1 {
  background: #3f7c94;
  letter-spacing: 0.2pt;
  text-transform: none;
  color: #fff;
}
.editTitleField input{width: 100%; box-shadow: inset 0 0 5px #ccc; border: 1px solid #3e7c95; border-radius: 6px; padding: 10px; margin-bottom: 10px;box-sizing: border-box;}
.mdl-button--raised[disabled][disabled] {
  background: #C2CCD1;
}
.fileUpload{margin: 0}
.changphoto{margin-left: 10px; vertical-align: bottom}
.deleteImgPos{position: relative; margin-top: 10px;}
.deleteImgPos a{color: #ff0000; font-weight: 300}
.tooltipIcon{float: right; color: #fc9701}
.tooltip{   
      width:auto;
    border: 1px solid #86b3c6;
    padding: 15px 20px;
    margin: 3px !important;
    background: #FFFFFF;
    position: absolute;
    top:21px;
    right: 0px;
    font-size: small;
    border-radius: 2px;
     z-index: 99;
}
    .marjin{margin: 4px !important;}
    .closeIcon{
          float: right;
    position: relative;
    color: #666666;
    
    }
    .closeIcon .material-icons{font-size: 17px;}

      .collapasile-title .marjin {
    margin: 0 !important;
    padding: 0;
}

 .collapasile-title{justify-content:space-between}