<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<app-applicant-header></app-applicant-header>
<div *ngIf="pageLoded">
<div class="main-wrapper">
  <div class="pointer">
    <ul class="resetUl">
      <li><a></a></li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li class="selected"> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
    </ul>
  </div>
  <h2 class="times">Add Your Military History</h2>
  <div class="content-block">
    <form [formGroup]="militryForm">
      <div class="panel-body">
        <div class="row clearfix">
          <div class="form-group col-12">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input inputMaterial " maxlength="100" type="text" appFloatLabelDirective="" formControlName="branch">
              <span class="highlight"></span> <span class="bar"></span>
              <label class="mdl-textfield__label">Branch of Military Served in</label>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="form-group col-12">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input inputMaterial " maxlength="100" type="text" appFloatLabelDirective="" formControlName="descharge">
              <span class="highlight"></span> <span class="bar"></span>
              <label class="mdl-textfield__label">Rank at Time of Discharge</label>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="form-group col-6">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input inputMaterial" maxlength="2" type="text" appFloatLabelDirective="" formControlName="year_served">
              <span class="highlight"></span> <span class="bar"></span>
              <label class="mdl-textfield__label">Number of Years Served</label>
            </div>
          </div>
          <div class="form-group col-6">
            <div class="mdl-textfield mdl-js-textfield select-wrapper select-align">
              <label class="mdl-textfield__label select">Date of Your Discharge &nbsp; <span class="error" *ngIf="futureDateIndex"> (Future date should not be selected) </span></label>
              <select formControlName="descharge_month" (change)="getMonthValue()">
                <option value>Month</option>
                <option value="0">Jan</option>
                <option value="1">Feb</option>
                <option value="2">Mar</option>
                <option value="3">Apr</option>
                <option value="4">May</option>
                <option value="5">Jun</option>
                <option value="6">Jul</option>
                <option value="7">Aug</option>
                <option value="8">Sep</option>
                <option value="9">Oct</option>
                <option value="10">Nov</option>
                <option value="11">Dec</option>
              </select>
              <select formControlName="descharge_year" (change)="getMonthValue()">
                <option value>Year</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="action">
        <button (click)="skipThisSteps()" [disabled]="militryForm.valid" [hidden]="hideSkip" class="btn mar-top">Not a Veteran</button>
        <button (click)="submitContinue()"  [disabled]="!militryForm.valid  || futureDate" class="btn mar-top">Continue</button>
      </div>
    </form>
  </div>
</div>
<app-applicant-footer></app-applicant-footer>
</div>
