.content-block{margin: auto!important;  padding-top: 30px;}

.content-block .action{ padding-bottom: 20px; font-family: 'Times New Roman', Times, serif}


.ng-valid+.highlight+.bar+.error_mandatory{display: none}
.ng-dirty+.highlight+.bar+.error_mandatory{display: block}
.ng-valid+ .highlight + .bar + label{top: 0px}
