<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <app-global-header></app-global-header>
  <main class="mdl-layout__content">
    <section  class="section--center">
      <breadcrumb-title [checkFlag]="hwa_quad"></breadcrumb-title>
      <div id="loggedInPage" class="mdl-cell mdl-cell--5-col">
        <div *ngIf="displayAfterLoad" class="grid">
          <div class="frs_card_wrapper">
            <div class="frs-card-wide mdl-card mdl-shadow--2dp" (click)="gotToCreateHwa()">
                 <h2>CREATE A NEW <br/> HELP WANTED AD</h2>
                <div class="supporting-text">
                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100"></div>
                </div>
              
            </div>
            <div [className]="disableMode" (click)="gotToCopyHwa()">
              <h2  >MAKE A COPY OF <br/> A HELP WANTED AD</h2>
                <div class="supporting-text">
                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100"></div>
                </div>
             
            </div></div>

          <div class="frs_card_wrapper">
            <div [className]="editDisableMode" (click)="gotToEditHwa()">
              <h2>EDIT THE CONTENT IN <br/>A HELP WANTED AD</h2>
                <div class="supporting-text">
                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100"></div>
                </div>
              
            </div>

            <div [className]="expireDisableMode" (click)="gotToExtendHwa()">
             
                <h2>EXTEND / STOP<br>A HELP WANTED AD</h2>
                <div class="supporting-text">
                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100"></div>
                </div>
              
            </div>


          </div>
        </div>
      </div>
    </section>
  </main>
</div>
