#reviewApplication, #matchFound {
    background:none;
    border-radius: 4px;
    margin: auto;
    padding: 15px;
}
.hwaMessage{    text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  font-size: 21px;
  color: brown;}
.position{margin:0;margin-bottom: 10px;font-size:20px; font-weight:500; text-transform: capitalize; color:#3f7c94}
.need_help{right:0!important}
.heading_matchfound h2 {
    border-color: #000;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
	margin-bottom:20px;
}
h1#applicant_page_title {
    color: #000;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 40px;
    text-align: center;
}
.mdl-layout__container{position:static; height:auto}
#dinerProfile{width:800px; margin:auto; border-radius: 4px;box-shadow: 1px 1px 10px #999; padding-bottom:12px; background:#fff}
#dinerProfile .head{border-radius: 4px 4px 0 0; overflow:hidden; }
.con1{padding:35px; padding-bottom:0; font-size:13px;}
.con1 li{font-size:13px; line-height:normal; padding:5px 0}
.profileCreation{ margin-bottom:20px;}
.lastRow h2{ font-size:18px; margin-bottom:15px;}
.lastRow p{line-height:22px; font-size:15px; color:#333; font-weight:300}
.lastRow p a{font-weight:300; color:#333; text-decoration:none}
	.profileCreation  .img_wrap {position:relative; overflow:hidden}
	.profileCreation  .collapasile-title{ position:absolute; background:rgba(0, 0, 0, 0.7); color:#fff!important; font-size:14px!important; font-weight:500; line-height:45px; padding:10px; top:0px; display:block; text-align:center;  border:0!important; margin:0;  margin-bottom:0;}
	.profileCreation  .img_wrap:hover .des{visibility:visible}
	.profileCreation  .img_wrap  .des{position:absolute; background:rgba(0,0,0, 0.9); color:#fff!important; font-size:15px; line-height:24px; left:0; top:0; width:100%; height:100%; visibility:hidden; padding:20px;box-sizing: border-box;}
	.profileCreation  .img_wrap .img{overflow:hidden}
	.profileCreation .mdl-grid{padding:0; margin:0 -8px}
	.profileCreation .mdl-grid.btm .collapasile-title{ top:auto; bottom:0}
    .profileCreation .collapasile-title {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border: 0 none !important;
    color: #fff !important;
    display: block;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 45px;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 0;width: 100%;
}

.cap{text-transform: uppercase}
.sharethis-inline-share-buttons img{margin-left: 6px;
  cursor: pointer;
  border: 1px solid #0d47a1;
  border-radius: 50%;
  padding: 5px;
  width: 20px;}
#dinerProfile .profileCreation .img img{width: 100%; height: 240px!important;}
/* Responsive */
@media only screen and (max-width: 840px) {
    #st-1{position: static!important;text-align: left;padding: 20px 0;}
    #dinerProfile{width: auto}
}
