<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<div class="frs-layout-transparent mdl-layout mdl-js-layout" *ngIf="pageLoded">
  <main class="mdl-layout__content">
    <section class="section--center">
      <div id="matchFound">

        <div id="dinerProfile">
          <h3 class="hwaMessage">{{hwaMessage}}</h3>
          <div class="con1" *ngIf="activeAd">

            <div class="ac" style="position: relative">
              <p class="position">{{position}}</p>
              <div class="sharethis-inline-share-buttons" style="position: absolute; top: -18px; right: 0"><img src="assets/fb.svg" ceiboShare  [facebook]="{u: repoUrl}" width="27">
                <img src="assets/g.svg" ceiboShare  [googlePlus]="{url:repoUrl}" width="30">
                <img src="assets/tw.svg" ceiboShare  [twitter]="{url:repoUrl}" width="33">

              </div>
<p style="margin-top:4px; font-size:14px" *ngIf="noOfPosition == 1 && addressLenght == 1" >{{companyname}} in {{address3}} {{address1}} {{ address2 }} is looking for {{noOfPosition}} {{posType}} {{position}}</p>

<div class="multiPositionOneLocation">
            <div *ngIf="noOfPosition > 1 && addressLenght === 1 " style="font-size: 14px;">
              <strong>{{ companyname }}</strong> is looking to hire <strong>{{ noOfPosition }} {{ position }}s</strong> at our <strong>{{address3}} {{address1}} {{ address2 }}</strong>
              <span *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; ">
              <b *ngIf="loc?.title"><strong>{{loc?.title[0].value+", "+ loc?.field_city[0].value+", "+loc?.field_state[0].value }}</strong></b>
            </span> location.
                <p>These are <strong>{{ posType }}</strong> positions.</p>
            </div>
          </div>
          <div class="multiPositionMultiLocation" style="font-size: 14px;">
            <div *ngIf="noOfPosition > 1 && addressLenght > 1 ">
              <strong>{{ companyname }}</strong> is looking to hire a total of <strong>{{ noOfPosition }} {{ position }}s</strong> at these locations;

              <ul *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; padding-left: 20px; font-weight: 300;">
                <li *ngIf="loc?.title"><strong>{{loc?.title[0].value+", "+ loc?.field_city[0].value+", "+loc?.field_state[0].value }}</strong></li>
              </ul>
              <p>These are <strong class="cap">{{ posType }}</strong> positions.</p>
            </div>
          </div>
          <div class="multiPositionMultiLocation" style="font-size: 14px;">
            <div *ngIf="noOfPosition == 1 && addressLenght > 1 ">
              <strong >{{ companyname }}</strong> is looking to hire a total of <strong>{{ noOfPosition }} {{ position }}s</strong> at these locations;
<!-- *ngIf="loc.location === true" -->
              <ul *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; padding-left: 20px; font-weight: 300;">
                <li *ngIf="loc?.title"><strong>{{loc?.title[0].value+", "+ loc?.field_city[0].value+", "+loc?.field_state[0].value}}</strong></li>
              </ul>
              <p>These are <strong>{{ posType }}</strong> positions.</p>
            </div>
          </div>

 <div class="editorHwa">
            <div [innerHTML]="describePos"  style="font-size: 13px;"></div>
            <div [innerHTML]="describeSkill"  style="font-size: 13px;"></div>
          </div>
<p style="font-size: 13px"><strong>Interested in this job?</strong> &nbsp;&nbsp;&nbsp;<a style="background:#3f7c94; cursor:pointer" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="applyNow()" >Apply Now</a></p>
            </div>
            <div class="profileCreation" *ngIf="!hideEntireBP">
			<h2 align="center"  style="font-size: 30px; margin: 50px 0px 0px;">{{ companyname }}</h2>
              <div class="mdl-grid">

                <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText1">
                  <div class="img">
                     <img [src]="image1Url" *ngIf="!image1Url" style="height: 240px" />
                    <img [src]="image1Url" *ngIf="image1Url" style="height: 240px" />
                  </div>
                  <div class="collapasile-title add-que ng-binding">{{titalText1}}</div>
                  <div class="des ng-binding" [innerHTML]="bodyText1" style="font-size: 13px;">

                  </div>
                </div>
                <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText2">
                  <div class="img">
                     <img [src]="image2Url" *ngIf="!image2Url" style="height: 240px" />
                    <img [src]="image2Url" *ngIf="image2Url" style="height: 240px" />
                  </div>
                  <div class="collapasile-title add-que ng-binding">{{titalText2}}</div>
                  <div class="des ng-binding"[innerHTML]="bodyText2" style="font-size: 13px;">

                  </div>
                </div>
              <!--</div>
              <div class="mdl-grid btm">-->
                <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText3">
                  <div class="img">
                    <img [src]="image3Url" *ngIf="!image3Url" style="height: 240px" />
                    <img [src]="image3Url" *ngIf="image3Url" style="height: 240px" />
                  </div>
                  <div class="collapasile-title add-que ng-binding">{{titalText3}}</div>
                  <div class="des ng-binding" [innerHTML]="bodyText3" style="font-size: 13px;">

                  </div>
                </div>
                <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText4 && !hide4th">
                  <div class="img">
                    <img [src]="image4Url" *ngIf="!image4Url" style="height: 240px" />
                    <img [src]="image4Url" *ngIf="image4Url" style="height: 240px" />
                  </div>
                  <div class="collapasile-title add-que ng-binding">{{titalText4}}</div>
                  <div class="des ng-binding" [innerHTML]="bodyText4" style="font-size: 13px;">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
  </main>
</div>
