#loggedInPage .frs_card_wrapper{margin-top:26px}
.mdl-button.fab-1 {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #398ab2;border-radius: 4px;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1), 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;color: #398ab2;font-size: 14px;height: 61px;margin: 35px 0;padding: 0 60px;}
#loggedInPage .frs_card_wrapper .mdl-card {
  min-height: 160px;
  border-radius: 4px;
}
#loggedInPage .frs_card_wrapper h2 {
  margin: 50px 0 10px;
}
.mdl-layout{background: #f6f6f6;min-height: 100vh;}
.mdl-button.fab-1 {font-size: 22px;font-weight: 400;}
.disableMode{background: #C2CCD1!important; cursor: none!important }
.disableMode a{
   cursor: default!important;}
.disabled{background: #C2CCD1!important; color: #eee!important}

 .fullHeight{height: 100%}