<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <app-global-header></app-global-header>
  <main class="mdl-layout__content">
    <section class="section--center">
      <div id="loggedInPage" class="mdl-cell mdl-cell--5-col">
        <div class="grid">
          <div class="mdl-cell mdl-cell--12-col">
            <h3><i class="material-icons">wb_sunny</i> {{greeting}}</h3>
            <h2>What Would You Like To Do Today?</h2>
          </div>

          <div class="frs_card_wrapper">
            <div class="frs-card-wide2 mdl-card mdl-shadow--2dp">
              <a [routerLink]="['/hwa_workflow']" class="fullHeight"><h2>HELP WANTED AD</h2>
                <div class="supporting-text">
                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100">Create or Edit</div>
                </div>
              </a>
            </div>
            <div class="frs-card-wide mdl-card mdl-shadow--2dp " [ngClass]="{'disableMode': !enableAllApplicant}">
              <a [routerLink]="['/allactivehwalist']"><h2>APPLICANTS</h2>
                <div class="supporting-text">
                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100">See Who Has Applied</div>
                </div>
              </a>
            </div>
            </div>

          <div class="frs_card_wrapper">
            <div class="frs-card-wide2 mdl-card mdl-shadow--2dp disableMode">
              <a class="">  <h2  >INTERVIEW</h2>
                <div class="supporting-text">

                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100">Schedule an Interview</div>
                </div>
              </a>
            </div>

            <div class="frs-card-wide mdl-card mdl-shadow--2dp disableMode">
              <a class=""><h2>HIRE</h2>
                <div class="supporting-text">
                  <div style="text-align:center; padding:0 20px; font-size:18px; font-weight:100">Hire an Applicant</div>
                </div>
              </a>
            </div>
          </div>
          <div class="mdl-card__actions mdl-typography--text-center">
            <button style="border:0" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 disabled" disabled>More Things To Do</button>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
