
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
.main-wrapper{padding-bottom: 40px;}
.resumeWrap{    box-shadow: 0px 1px 3px #ccc; margin-bottom: 10px;}
.resumeWrap .resume-header{ background: #454a68; padding: 20px 40px;; color: #fff}
.resumeWrap .resume-header h1{font-weight: 400; display: inline-block; padding: 0 50px; text-transform: uppercase; font-size: 30px; border-bottom: 1px solid #fff}
.contact span{ display: inline-block; padding: 0 10px; font-weight: 300; font-size: 16px; vertical-align: middle }
.resume-content {background: #fff url(../../../../assets/tt-mark.png) no-repeat 97% 97%; text-align: left; padding:0  40px 70px; margin-top: 5px;}
.resume-content .block{ margin: 10px 0; color: #000; margin-bottom: 20px; }
.resume-content .block h3{ border-bottom: 1px solid #454a68; font-size: 16px; font-weight: 500; line-height: 18px; padding-bottom: 5px; margin-bottom: 6px;}
.resume-content .block p{font-size: 14px}
.resume-content .block h3 .date{float: right; font-weight: 400; font-size: 13px;}
.resume-content .block .sub em{color: #666; text-transform: lowercase }
.resume-content .block .sub p{margin: 0; text-transform: capitalize}
.resume-content .block .sub div{margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #ccc}
.resume-content .block .sub h2{margin: 0; line-height: normal; margin-top: 15px; font-weight: 500; font-size: 14px;}
.resume-content .block .sub h4{margin: 0; font-weight: 400; font-size: 16px;}
.resume-content .block .sub h5{margin: 0; font-weight: 400; font-size: 14px; color: #666; margin-bottom: 10px}
.regards{ margin-top: 40px; padding-bottom: 10px; border-top: 1px solid #454a68; padding-top: 10px; display: inline-block; width: 200px}
.regards span{color: #666}
.regards h5{font-weight: 500; margin-top: 11px; margin: 0; font-size: 14px;}
.resume-content p{word-wrap: break-word}
.editI{cursor: pointer; width: 20px; margin-left: 12px;}
.total{float: right; font-weight: 400; font-size: 14px;}
.download{text-align: right; vertical-align: middle; color: #114053; margin-bottom:30px;}
.download .d{ overflow: hidden; margin-right: 20px;}
.download  em{font-size: 14px; display: inline-block; vertical-align: middle;font-style: normal; cursor: pointer}
.download i{font-size: 18px; display: inline-block; vertical-align: middle; }
.download .d a{color: #114053; text-decoration: none}
/* Responsive */
@media only screen and (max-width: 840px) {


}


@media print
{
  .pointer,.header-pattern,.download,.btn.mar-top{display: none}
}
