<div [@sad] *ngIf="visible" class="dialog mdl-cell mdl-cell--10-col">
  <div  id="preview-help-wanted" class="  overlay" style="padding: 12px 0"> <a *ngIf="closable" (click)="close()" aria-label="Close" class="overlay-close "><i class="material-icons hide-print">clear</i></a>
    <div  class="overlay-wrapper">
      <h2 class="hide-print" >Preview My Help Wanted Ad</h2>
      <div class="mdl-cell mdl-cell--12-col popup simplebar scrollbar-dynamic" id="inner-element">
        <!-- --------------- basic HWA  --------------------------------------------- -->
        <div class="basic_hwa" >
          <div class="onePositionOneLocation">
            <div *ngIf="noOfPosition == 1 && addressLenght === 1"> <strong>{{ companyname }}</strong> is looking to hire a <strong>{{ position }}</strong> at our <strong>{{ address3}}  {{address1}} {{ address2 }}</strong> <span *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; "> <b *ngIf="loc.location === true"><strong>{{loc.label }}</strong></b> </span> location.
              <p>This is a <strong>{{ posType }}</strong> position.</p>
            </div>
          </div>
          <div class="multiPositionOneLocation">
            <div *ngIf="noOfPosition > 1 && addressLenght === 1 "> <strong>{{ companyname }}</strong> is looking to hire <strong>{{ noOfPosition }} {{ position }}s</strong> at our <strong>{{ address3}} {{address1}}, {{ address2 }}</strong> <span *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; "> <b *ngIf="loc.location === true"><strong>{{loc.label }}</strong></b> </span> location.
              <p>These are <strong>{{ posType }}</strong> positions.</p>
            </div>
          </div>
          <div class="multiPositionMultiLocation">
            <div *ngIf="noOfPosition > 1 && addressLenght > 1 "> <strong>{{ companyname }}</strong> is looking to hire a total of <strong>{{ noOfPosition }} {{ position }}s</strong> at these locations;
              <ul *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; padding-left: 20px">
                <li *ngIf="loc.location === true"><strong>{{loc.label }}</strong></li>
              </ul>
              <p>These are <strong>{{ posType }}</strong> positions.</p>
            </div>
          </div>
          <div class="editorHwa">
            <div [innerHTML]="describePos"></div>
            <div [innerHTML]="describeSkill"></div>
          </div>
        </div>
        <!-- ---------------Ko Qusetion  --------------------------------------------- -->
        <div class="ko" *ngIf="showKo">
          <h2 class="ovr-title" >Your Knockout Questions</h2>
          <ul style="padding: 0; margin: 0; list-style: none" class="">
            <li *ngFor="let dq of defaultQ; let i = index" style="margin-bottom: 13px;"> 
              <p class="ptitle">Question {{i+1}}</p>
              <p style="margin: 0">{{ dq }}</p>
          </ul>
         <!-- <div *ngIf="defaultQ.length == 0">NOt selected any Coustom Question</div> -->
          <hr >
          <ul style="padding: 0; margin: 0; list-style: none" class="">
            <li *ngFor="let cq of customQ; let j = index" style="margin-bottom: 13px;">
              <p class="ptitle">Question {{j+ (defaultQ.length+1)}}</p>
              <p style="margin: 0">{{ cq }}</p>
          </ul>
          <!-- <div *ngIf="customQ.length == 0">NOt selected any Coustom Question</div> -->
        </div>
        <!-- --------------- skill Qusetion  --------------------------------------------- -->
        <div class="skill" *ngIf="showskill" >
          <h2 class="ovr-title">Skills Or Experience Questions</h2>
          <div *ngFor="let skill of skillQusetion; let i=index"  class="" >
            <div *ngIf="checkstatus(skill.expertiseLevel, skill.experenceLevel)" class="mdl-grid" style="border-bottom: 1px solid #eee; padding: 0; margin: 0 -8px;">
              <div class="mdl-cell mdl-cell--9-col">
                <p ><b>Question {{i+1}}:</b> <br/>
                  <span>{{skill.typeQuestion}}</span></p>
              </div>
              <div class="mdl-cell mdl-cell--3-col" *ngIf="skill?.expertiseLevel !=='N/A' ">
                <p > <b>Skill Level</b> <br/>
                  <span>{{skill?.expertiseLevel}}</span></p>
              </div>
              <div class="mdl-cell mdl-cell--3-col" *ngIf="skill?.experenceLevel !=='N/A' ">
                <p  > <b>Experience Level</b> <br/>
                  <span>{{skill?.experenceLevel + ' Year(s)'}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <!-- --------------- business profile --------------------------------------------- -->
        <div class="profileCreation" *ngIf="showProfile" >
          <h2 class="ovr-title">Business Profile</h2>
  <div class="mdl-grid" style="margin: 0 -8px; padding: 0">
    <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText1">
      <div class="img">
        <div>
          <div>
            <!--ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 180, width:265 }" ng-hide="!$last"-->
            <!-- proFileObj?.field_image1 -->
            <img [src]="image1Url" class="imgborder" style="height: 100%; width:100%" /> </div>
        </div>
      </div>
      <div class="collapasile-title add-que">{{titalText1}}</div>
      <div class="des" [innerHTML]="bodyText1"></div>
    </div>
    <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText2">
      <div class="img" >
        <div>
          <div >
            <!--ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 180, width:265 }" ng-hide="!$last"-->
            <img [src]="image2Url" class="imgborder" style="height: 100%; width:100%" /> </div>
        </div>
      </div>
      <div class="collapasile-title add-que">{{titalText2}}</div>
      <div class="des" [innerHTML]="bodyText2"></div>
    </div>
  
  
  <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText3">
    <div class="img" >
      <div>
        <div > <img [src]="image3Url" class="imgborder" style="height: 100%; width:100%"  /> </div>
      </div>
    </div>
    <div class="collapasile-title add-que">{{titalText3}}</div>
    <div class="des" [innerHTML]="bodyText3"></div>
  </div>
  <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText4">
    <div class="img" >
      <div>
        <div> <img [src]="image4Url" class="imgborder" style="height: 100%; width:100%" /> </div>
      </div>
    </div>
    <div class="collapasile-title add-que">{{titalText4}}</div>
    <div class="des" [innerHTML]="bodyText4"></div>
  </div>
  </div>
</div>

        <!--  <div class="profile" *ngIf="showProfile" style="padding: 20px;">
          <div *ngFor="let prof of profAllStapsData; let i=index"  class="mdl-grid popup" id="inner-element2" >
            <div class="mdl-cell mdl-cell--5-col img-bh" *ngIf="prof?.image" >
                <div >
                  <img [src]="prof?.image" class="imgborder" width="325" height="221" />
                </div>
            </div>
            <div class="mdl-cell " *ngIf="prof?.tital" [ngClass]="prof?.image ? 'mdl-cell--7-col' : 'mdl-cell--12-col'" style="border-bottom:none;">
                <div class="collapasile-title add-que" >{{ prof?.tital }}</div>
                <div [innerHTML]="prof?.description">
                </div>
            </div>
        </div>
        <hr>
      </div>-->
      </div>
      <div  class="mdl-card__actions mdl-typography--text-center hide-print">
        <button (click)="close()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent edit-btn fab-1">Close</button>
        <button (click)="postHwa()" class="mdl-button mdl-js-button mdl-button--raised -js-ripple-effect mdl-button--accent fab-1">Post My Ad</button>
      </div>
    </div>
  </div>
</div>
