<div class="frs-header mdl-layout__header mdl-layout__header--waterfall hide-print">
  <div class="mdl-layout__header-row"> <span class="frs-title mdl-layout-title"> <a [routerLink]="['/employer_dashboard/0']"><img src="assets/frs_logo.png" alt="FRS"></a> </span>
    <h3 class="frs-slogn">{{ businessName }}</h3>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="frs-header-spacer mdl-layout-spacer"></div>
    <div class="dashboad" style="margin-right: 30px;"> <a [routerLink]="['/employer_dashboard/0']"><i class="material-icons" style="display: inline-block;vertical-align: middle; font-size: 19px; color: #71bb0e">dashboard</i> Dashboard</a></div>
    <!-- Navigation -->
    <div class="notifications material-icons mdl-badge mdl-badge--overlap" data-badge="0">notifications</div>
    <span class="frs_user" style="text-transform: capitalize">{{ firstName  }} </span>


      <button appDropdown="" class="frs-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button" (click)="showStyle = !showStyle;" > <i class="material-icons">keyboard_arrow_down</i> </button>
    <div class="mdl-menu__container is-upgraded" style="position: relative">
    <ul class="dropdown" > <!-- (click)="preventMenu()" -->
        <li>Account Information </li>
        <li [routerLink]="['/UserProfile']"><a >My Profile</a></li>
        <li *ngIf="isLogedin" (click)="logout()">Logout</li>
      </ul>
    </div>
  </div>
</div>

