.mdl-layout__header-row{ padding-left: 0}

.frs-header {
  background: #fff;
  color: #1c1e2c;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  overflow: visible; }
.frs-header .mdl-navigation__link {
  color: #1c1e2c; }
.frs-header .frs-slogn {
  font-size: 22px;
  color: #1c1e2c;
  margin-left: 20px; }
.frs-header .frs_user {
  font-size: 13px;
  color: #1c1e2c;
  font-weight: 300; }
.frs-header .frs-title {
  background: #1c1e2c;
  padding: 14px; }
.frs-header .frs-title img {
  width: 214px; }
.frs-header .notifications {
  color: #e74c3c;
  margin-right: 50px; }
.frs-header .notifications:after {
  background: #fff;
  border: 1px solid #eee;
  color: #333;
  right: -20px; }


.dropdown{position: absolute;transition:opacity .2s cubic-bezier(.4,0,.2,1),clip .3s cubic-bezier(.4,0,.2,1);
  list-style: none;
  top: 20px;
  right: 10px;
  height: auto;
  width: 160px;
  min-width: 124px;
  padding: 8px 0;
  margin: 0;
  background: #fff;border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.dropdown li{line-height: 38px;height: 38px;padding: 0 16px;outline-color: #bdbdbd; position: relative; z-index: 9999; font-size: 13px;}
.dropdown li:hover{cursor: pointer;background-color: #eee;}
.dropdown li a{color: #1c1e2c; text-decoration: none; font-size: 13px; font-weight: 400}
.dashboad {padding: 10px }
.dashboad a {color: #1c1e2c; font-weight: normal;
font-size: 13px;
    font-weight: 300;
      text-decoration: none !important; }
