<app-applicant-header></app-applicant-header>
<div class="main-wrapper">
  <div class="mobile-first-wrapper center">

<br><br>
<div class="box">
  <h2>Thank You For Registering</h2>
  Please check your email, we have sent you a link to set your password. You will need to click on that link to complete your registration process.
</div>


  </div>

</div>

<app-applicant-footer></app-applicant-footer>
