
.overlay-close{cursor: pointer;position: absolute;right: 13px;top: 10px;z-index: 100;color:#777}
#preview-help-wanted{ padding: 12px;border-radius: 5px; background: #fff}
.overlay h2 {border-bottom: 1px solid #cccccc;font-size: 1.2rem;line-height: 43px;margin: 0 0 5px;padding: 0 20px;}
.overlay .mdl-cell.mdl-cell--12-col {border-bottom: 1px solid #cccccc;margin: 0;padding: 0 30px;}
.preview-title {border: 0 none;font-size: 1.7rem;line-height: normal;padding: 10px 0;}
.overlay .mdl-card__actions {margin: 10px 0;border-top:  1px solid #cccccc}
.mdl-cell.mdl-cell--12-col.help-text a{color:#447f96;font-weight:700;cursor:pointer}


#learnmore.overlay {bottom: 0;height: 260px;top: 0;}
#learnmore.overlay::before {
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#learnmore.overlay .mdl-card__actions {margin: 2px 0 0;}
#learnmore.overlay .mdl-cell.mdl-cell--12-col{min-height: 145px;}
#inner-element.popup {
  padding: 0 10px 40px;
  height: 50vh !important;
  overflow: auto;
}
.overlay .mdl-cell.mdl-cell--12-col {
  border-bottom:0;
  margin: 0;
  padding: 0 30px;
  margin: auto;
}
.mdl-cell.mdl-cell--12-col.help-text {
  background: #e0ebef;
  border: 1px solid #6294a7;
  border-radius: 6px;
  color: #447f96;
  margin: -5px auto;
  padding: 10px;
  width: 96%;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  position: relative;
}
.rightbtn {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -15px;
}
.mdl-button {
  font-size: 13px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
}
.dialog::before {
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.overlay {

}

.dialog {
  z-index: 1000;

  position: fixed;
  right: 0;
  left: 0;
  top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;

  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .dialog {
    top: 40px;
  }
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
}
.helptextlist li{display:block}
#learnmore .overlay-wrapper {
  background: #fff;
  border-radius: 5px;
  display: block;
  left: 0;
  margin: auto;
  opacity: 1;
  padding: 0;
  position: fixed;
  right: 0;
  top: 22%;
  z-index: 9999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
  padding-bottom: 15px;
}
.overlay2text{padding:5px 11px !important}
.ptitle {
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2pt;
  margin: 0;
}

.help-text{border-bottom: 1px solid!important}

Business.Profile .overlay.overlay-medium .mdl-grid {
   padding: 8px 20px;
}

.Business.Profile .overlay.overlay-medium .mdl-grid {
   padding: 8px 20px;
}

.collapasile-title.add-que {
   border-color: #dfecf6;
   color: #3f7c96;
  /* margin: 45px 0 10px;
   color: #333333;*/
font-size: 20px;
font-weight: 500;
border-bottom: 1px solid #555;
padding-bottom: 10px;
margin-bottom: 15px
}

/* ----------------------------------------------------- */
#preview-help-wanted.overlay{height:auto;}
#inner-element2.popup{height:500px!important}
.sectionn h2{ padding:0; margin-left:0; margin:20px 0 5px; line-height:normal; border:0; color:#000; font-weight:500; font-size:20px}
#inner-element3{ margin:0 20px}
#inner-element3 .sectionn{padding:0;margin:30px 0; padding-bottom:30px;}
.datad{display:none}
.datad.ng-show{display:flex}
#inner-element3 .sectionn .list{ margin:0 0 0 15px; font-size:14px;}
#inner-element3 .added-que-preview{margin: 7px 0;}

.profileCreation  .img_wrap {position:relative; min-height: 400px}
.profileCreation  .collapasile-title{ position:absolute; background:rgba(0, 0, 0, 0.7); color:#fff!important; font-size:20px!important; font-weight:500; line-height:60px; padding:10px; top:0px; display:block; text-align:center;  border:0!important;  margin-bottom:0;}
.profileCreation  .img_wrap:hover .des{visibility:visible}
.profileCreation  .img_wrap  .des{position:absolute; background:rgba(0,0,0, 0.9); color:#fff!important; font-size:15px; line-height:24px; left:0; top:0; width:100%; height:100%; visibility:hidden; padding:20px;box-sizing: border-box;}
#inner-element3{height: 540px;margin: 0 20px;overflow: auto; border-bottom:1px solid #ccc}
#post-help-wanted.overlay .overlay-wrapper{overflow:hidden}
.profileCreation  .collapasile-title{width: 100%; box-sizing: border-box}
.profileCreation {border: 0px solid #fff; box-shadow: 0px 0px 0px #555}
.profileCreation img{box-shadow:0 0 0!important; margin:0; padding:0; border: 0}

.profileCreation  .collapasile-title{width: 100%; box-sizing: border-box}
.profileCreation {border: 0px solid #fff; box-shadow: 0px 0px 0px #555}
.profileCreation img{box-shadow:0 0 0!important; margin:0; padding:0; border: 0}

.blankBox{
  min-width: 300px;
  min-height: 250px;
  background-color: grey;

}