.no-sidebar .mdl-cell--12-col.mdl-shadow--2dp{background:#fff; border-radius: 4px;padding: 20px;}
.mdl-textarea__label {color: rgba(0, 0, 0, 0.7);display: block;font-size: 15px; position:static;margin: 10px 0; font-weight: 500;}
.mdl-select__label {color: rgba(0, 0, 0, 0.41);font-size: 13px; position: static}
.mdl-selcet option {padding: 5px;}
.select-wrapper {
  border-bottom: 1px solid #9ebdca;
  min-width: 50px;
  width: auto;

}
.collapasile-title {border-bottom: 1px solid #777;display: flex;font-size: 1.2rem;padding: 0 0 9px;width: 100%;margin-bottom:20px;position:relative}
.mdl-layout--fixed-header{ background: #f6f6f6}
.mdl-grid.collapsible .mdl-cell {
  margin: 0;
}
.select-wrapper select {
  font-size: 20px;
  font-weight: 300;
  padding-right: 18px;
}
.address{width:100%; display: block; position: static; margin-bottom: 10px; color:rgba(0, 0, 0, 0.7);font-weight: 500; font-size: 15px;}
.dAddress{padding: 20px 0;}
.locations_list{ list-style-type: none; margin: 0; padding: 0; }
.locations_list li{margin-bottom: 10px}
.locations_list label{pointer-events: auto;left:0; font-size: 20px; color: #333; margin-bottom: 0; font-weight: 300}
input.goUp + .highlight + .bar + label{top: -4px}

.mdl-button--raised[disabled][disabled] {
  background: #C2CCD1;
}

#AddLocations{ position: fixed; top:18%; width: 100%; left: 0; z-index: 9}
#AddLocations:before{background: rgba(0, 0, 0, 0.75);
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;}
#AddLocations .overlay-wrapper {
  background: #fff;
  border-radius: 5px;
  display: block;
  left: 0;
  margin: auto;
  opacity: 1;
  padding: 0;
  right: 0;
  top: 0;
  z-index: 99;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
  position: relative;
}
.overlay h2 {border-bottom: 1px solid #cccccc;font-size: 1.2rem;line-height: 43px;margin: 0 0 5px;padding: 0 20px;}
.overlay-close {
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 10px;
  z-index: 100;
  color: #777;
}
#AddLocations .mdl-card__actions{border-top: 1px solid #cccccc;}
.mdl-grid.collapsible .mdl-cell {
  margin: 0;
}
#AddLocations select{
  padding: 0;
  font-size: 13px;
}
.mdl-textfield {
  min-width: 100%;
  width: auto;
}
.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
  justify-content: inherit;
  width: 100%;
}
.mdl-grid {
  justify-content: space-around;
}
.mdl-cell--12-col,
.mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
  width: calc(100% - 0px);
}
.mdl-cell--6-col,
.mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
  width: calc(50% - 0px);
}

.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
}

.mdl-card__actions {
  padding: 8px 0;
}
.mdl-card__actions button + p.small {
  margin: 10px 0 0;
}
input.ng-valid + .highlight + .bar + label{color:#1c1e2c; font-size: 12px; top:-3px}
.mdl-button--raised[disabled][disabled], .mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
  background: #C2CCD1;
}
.mdl-layout--fixed-header{ background: #f6f6f6}
.panel-heading{margin:11px 0 20px 0;font-weight: bold; position: relative; overflow: hidden; font-size: 16px;}
.panel-heading .material-icons{ cursor: pointer;}
.collapsible{padding: 25px; padding-top: 0}
.mdl-button {
  font-size: 13px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
}
#scrollHere .collapsibleb{height:320px !important;overflow: auto;}
.panel-heading {
  margin: 11px 0 20px 0;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.panel-heading span {
  background: #fff;
  padding-right: 20px;
}
.panel-heading i {
  position: relative;
  z-index: 99;
  background: #51889e;
  float: left;
  margin-right: 10px;
  color: #fff;
  border-radius: 50%;
  padding: 3px;
  font-size: 16px;
}
.realtimeLocation{position: relative; width: 100%}
.locations_list{position: relative; display: inline-block; overflow: hidden; height: 34px;}
.dAddress i{ position: absolute; cursor: pointer; right: 0;right: -50px;top:8px;}
.locations_list.expand{height: auto}
input.ng-valid.ng-touched + .highlight + .bar + label{font-size: 16px;top: 20px;color: rgba(0,0,0,0.48);}
input.ng-valid.ng-untouched + .highlight + .bar + label{font-size: 16px;top: 20px;color: rgba(0,0,0,0.48);}
input.ng-valid.goUp + .highlight + .bar + label{top: -3px;}
.specialCase input.ng-valid + .highlight + .bar + label{top:-3px!important; color: #1c1e2c;font-size: 12px;}
.ng-valid.mdl-textfield__input{border-color: rgba(0,0,0,.12)}


.ql-editor:hover::before{
  content: "";
}
#learnmore .overlay-wrapper {
  background: #fff;
  border-radius: 5px;
  display: block;
  left: 0;
  margin: auto;
  opacity: 1;
  padding: 0;
  position: fixed;
  right: 0;
  top: 22%;
  z-index: 9999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
  padding-bottom: 15px;
}
.overlay2text{padding:5px 11px !important}
.ptitle {
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2pt;
  margin: 0;
}
.overlay h2 {border-bottom: 1px solid #cccccc;font-size: 1.2rem;line-height: 43px;margin: 0 0 5px;padding: 0 20px;}
.overlay .mdl-cell.mdl-cell--12-col {border-bottom: 1px solid #cccccc;margin: 0;padding: 0 30px;}
#learnmore.overlay {bottom: 0;height: 260px;top: 0;}
#learnmore.overlay::before {
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.addressOver .mdl-cell.mdl-cell--12-col{padding: 0!important; border-bottom: 0!important;}
.positionerror {
  color: #d50000;
  font-size: 12px;
  position: absolute;    bottom: -25px;
}
.errorE{color: #d50000;font-size: 12px;}
.emptyLocation{color: #d50000;font-size: 12px;}
.otherValid{cursor: not-allowed;pointer-events: none; background: #C2CCD1!important;}
