h3.times{padding-bottom:20px;font-style: italic; border-bottom: 1px solid #007faf; font-size: 22px; color: #000000; font-family: 'Times New Roman', Times, serif}
h2.times{font-size: 24px; color: #003950; font-weight: normal}
h4{font-size: 18px; color: #000000; font-weight: normal}

.mobile-first-wrapper{width: 500px; margin: auto; padding-top: 50px;}


html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}


@media only screen and (max-width: 840px) {
 .mobile-first-wrapper{width:auto; padding: 0 20px;}
 h3.times{font-size: 18px;line-height: 24px;}
 h2.times{font-size: 18px; line-height: 26px;max-width: 230px;
margin: auto;}
 h4.times{font-size: 14px}
 .sucessMessage{margin-top: 20px}
 .mobile-first-wrapper .icon{display: none}
}