
<div class="frs-layout-transparent mdl-layout mdl-js-layout ">
  <app-header></app-header>
  <main class="mdl-layout__content">
    <section class="section--center">
      <div id="registrationSucess" class="mdl-cell mdl-cell--5-col mdl-shadow--2dp white-box-center">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col"><h2 class="block_title">Password Saved! </h2></div>
          <alert-msg [message]="true"></alert-msg>
          <div class="mdl-cell mdl-cell--12-col"><div class="mdl-typography--text-center" align="center"><p align="center">Thank you for registering with Talentrackr, let’s get started.</p></div></div>
          <div class="mdl-card__actions mdl-typography--text-center"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="gotoLogin()">
            Login
          </button></div>
        </div>

      </div>
    </section>
  </main>
</div>
