.block_title {
    font-size: 22px;
    color: #1c1e2c;
    margin: 0;
    line-height: normal;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 4px; text-align: center;
}
.white-box-center{margin: auto;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-top: 15px;}
#compare-message.password-rule {
    visibility: visible;
    font-size: 11px;
    display: block !important;
    color: #777;
    margin-top: -17px;
}
.show-password {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 22px;
}
input{outline: 0; box-shadow: 0 0 0}
input.ng-dirty + .highlight + .bar + label{color:#1c1e2c; font-size: 12px; top:-20px}
