<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <app-global-header></app-global-header>
  <main class="mdl-layout__content">
    <section class="section--center">
      <breadcrumb-title [checkFlag]="viewads1"></breadcrumb-title>
      <div id="help-wanted-ad" class="mdl-cell mdl-cell--10-col" style="margin: auto"> 
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
            <div class="mdl-typography--text-left">
              <div class="collapasile-title"><!-- style="font-size: 12px; color: red"-->
                <h2>{{ position }} <span *ngIf="closeDate" [class]="rdays < daysLimitOfalert ? 'errorLine' : 'greenLine'" >Ad Will Expire On {{closeDate | date: 'MM-dd-yyyy' }}</span>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1" (click)="makeACopy();"> {{btnlbl}} </button>
                </h2>
              </div>
              <h3>{{ companyname }} </h3>
              <!-- --------------- basic HWA  --------------------------------------------- -->
              <div class="basic_hwa" *ngIf="shoBasicHwa">
                <div class="onePositionOneLocation">
                  <div *ngIf="noOfPosition == 1 && addressLenght == 1"> <strong>{{ companyname }}</strong> is looking to hire a <strong>{{ position }}</strong> at our <strong>{{address3}} {{address1}} {{ address2 }}</strong> location.
                    <p>This is a <strong>{{ posType }}</strong> position.</p>
                  </div>
                </div>
                <div class="multiPositionOneLocation">
                  <div *ngIf="noOfPosition > 1 && addressLenght === 1 "> <strong>{{ companyname }}</strong> is looking to hire <strong>{{ noOfPosition }} {{ position }}s</strong> at our <strong>{{address1}}, {{ address2 }}</strong> <span *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; "> <b *ngIf="loc?.title"><strong>{{loc?.title[0].value+", "+ loc?.field_city[0].value+", "+loc?.field_state[0].value }}</strong></b> </span> location.
                    <p>These are <strong>{{ posType }}</strong> positions.</p>
                  </div>
                </div>
                <div class="multiPositionMultiLocation">
                  <div *ngIf="noOfPosition > 1 && addressLenght > 1 "> <strong>{{ companyname }}</strong> is looking to hire a total of <strong>{{ noOfPosition }} {{ position }}s</strong> at these locations;
                    <ul *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; padding-left: 20px">
                      <li *ngIf="loc?.title"><strong>{{loc?.title[0].value+", "+ loc?.field_city[0].value+", "+loc?.field_state[0].value }}</strong></li>
                    </ul>
                    <p>These are <strong>{{ posType }}</strong> positions.</p>
                  </div>
                </div>
                <div class="multiPositionMultiLocation">
                  <div *ngIf="noOfPosition == 1 && addressLenght > 1 "> <strong>{{ companyname }}</strong> is looking to hire a total of <strong>{{ noOfPosition }} {{ position }}s</strong> at these locations;
                    <!-- *ngIf="loc.location === true" -->
                    <ul *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; padding-left: 20px">
                      <li *ngIf="loc?.title"><strong>{{loc?.title[0].value+", "+ loc?.field_city[0].value+", "+loc?.field_state[0].value}}</strong></li>
                    </ul>
                    <p>These are <strong>{{ posType }}</strong> positions.</p>
                  </div>
                </div>
                <div class="editorHwa">
                  <div [innerHTML]="describePos"></div>
                  <div [innerHTML]="describeSkill"></div>
                </div>
              </div>
              <!-- ---------------Ko Qusetion  --------------------------------------------- -->
              <div class="ko" *ngIf="showKo">
                <div class="collapasile-title2">
                  <h2 class="" style="padding-left: 0;">Your Knockout Questions</h2>
                </div>
                <ul style="padding: 0; margin: 0; list-style: none" class="">
                  <p *ngIf="koSentence"> Knockout Questions are not added! </p>
                  <li *ngFor="let dq of defaultQ; let i = index" style="margin-bottom: 13px;">
                    <p class="ptitle">Question {{i+1}}</p>
                    <p style="margin: 0">{{ dq}}</p>
                </ul>
                <hr>
                <ul style="padding: 0; margin: 0; list-style: none" class="">
                  <li *ngFor="let cq of customQ; let j = index" style="margin-bottom: 13px;">
                    <p class="ptitle">Question {{j+ (defaultQ.length+1)}}</p>
                    <p style="margin: 0">{{ cq}}</p>
                </ul>
              </div>
              <!-- --------------- skill Qusetion  --------------------------------------------- -->
              <div class="skill" *ngIf="showskill" style="padding: 0px;">
                <div class="collapasile-title2">
                  <h2 style="padding: 0; padding-bottom: 10px;">Skills Or Experience Questions</h2>
                </div>
                <p *ngIf="skillSentence">Skill Questions are not added! </p>
                <div *ngFor="let skill of skillQusetion; let i=index" class="">
                  <div *ngIf="skill?.title != ''" class="mdl-grid " style="border-bottom: 1px solid #eee; padding: 0; margin: 0 -8px;">
                    <div class="mdl-cell mdl-cell--9-col">
                      <p><b>Question {{i+1}}:</b> <br/>
                        <span>{{skill?.title}}</span></p>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col" *ngIf="skill?.field_expertise_needed !== 'N/A' ">
                      <p> <b>Skill Level</b> <br/>
                        <span>{{skill?.field_expertise_needed}}</span></p>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col" *ngIf="skill?.field_experience_needed !== 'N/A' ">
                      <p> <b>Experience Level</b> <br/>
                        <span>{{skill?.field_experience_needed + ' Year(s)'}}</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- --------------- business profile --------------------------------------------- -->
              <div *ngIf="!hideEntireBP">
                <div class="profileCreation" *ngIf="showProfile">
                  <div class="collapasile-title2">
                    <h2 style="padding: 0; padding-bottom: 10px;">Business Profile</h2>
                  </div>
                  <div class="mdl-grid" style="margin: 0 -12px">
                    <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText1 || image1Url || bodyText1">
                      <div class="img">
                        <div>
                          <div>
                            <!--ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 180, width:265 }" ng-hide="!$last"-->
                            <!-- proFileObj?.field_image1 -->
                            <img [src]="image1Url" class="imgborder" *ngIf="image1Url" style="height: 385px; width:100%" /> <img [src]="image1Url" class="imgborder" *ngIf="!image1Url" style="height: 385px; width:100%" /> </div>
                        </div>
                      </div>
                      <div class="collapasile-title1 add-que">{{titalText1}}</div>
                      <div class="des" [innerHTML]="bodyText1"></div>
                    </div>
                    <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText2 || image2Url || bodyText2">
                      <div class="img">
                        <div>
                          <div>
                            <!--ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 180, width:265 }" ng-hide="!$last"-->
                            <img [src]="image2Url" class="imgborder" *ngIf="image2Url" style="height: 385px; width:100%" /> <img [src]="image2Url" class="imgborder" *ngIf="!image2Url" style="height: 385px; width:100%" /> </div>
                        </div>
                      </div>
                      <div class="collapasile-title1 add-que">{{titalText2}}</div>
                      <div class="des" [innerHTML]="bodyText2"></div>
                    </div>
                    <!--</div>
<div class="mdl-grid">-->
                    <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="titalText3 || bodyText3 || image3Url">
                      <div class="img">
                        <div>
                          <div> <img [src]="image3Url" class="imgborder" *ngIf="image3Url" style="height: 385px; width:100%" /> <img [src]="image3Url" class="imgborder" *ngIf="!image3Url" style="height: 385px; width:100%" /> </div>
                        </div>
                      </div>
                      <div class="collapasile-title1 add-que">{{titalText3}}</div>
                      <div class="des" [innerHTML]="bodyText3"></div>
                    </div>
                    <div class="img_wrap mdl-cell mdl-cell--6-col" *ngIf="!hide4th">
                      <div class="img_wrap mdl-cell mdl-cell--6-col" style="width: 100%; margin: 0" *ngIf="titalText4 || bodyText4 || image4Url">
                        <div class="img" >
                          <div>
                            <div> <img [src]="image4Url" class="imgborder" *ngIf="image4Url" style="height: 385px; width:100%" /> <img [src]="image4Url" class="imgborder" *ngIf="!image4Url" style="height: 385px; width:100%" /> </div>
                          </div>
                        </div>
                        <div class="collapasile-title1 add-que">{{titalText4}}</div>
                        <div class="des" [innerHTML]="bodyText4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
