.no-sidebar .mdl-cell--12-col.mdl-shadow--2dp {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    padding: 20px;
}
.mdl-typography--text-left > h2, .Help.Wanted.Library .mdl-typography--text-left > h2 {
    font-size: 18px;
    margin: 0px 0 0;
    padding: 0 0 0 10px;
}
.table-style-02 th {
    border-bottom: 3px solid #c6c7ca;
    padding: 6px 20px 10px;
    text-align: left
}

.table-style-02 tbody tr td {
    padding: 10px 20px;
}
.table-style-02 tbody tr td {
    border-bottom: 1px solid #dddddd;
    font-weight: 500;
    padding: 10px 20px 0;
}
.table-style-02 .mdl-button--accent.mdl-button--accent.fab-1 {
    margin-right: 3px;
}
.table-style-02 .mdl-button--accent.mdl-button--accent.fab-1 {
    border-radius: 4px;
    box-shadow: none;
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: normal;
    padding: 0 10px;
}
.table-style-02 tbody tr td p {
    display: inline-block;
}
.table-style-02 tbody tr td p {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}
span.errorLine {
    background: #f26522 none repeat scroll 0 0;
    display: inline-block;
    height: 41px;
    margin: -8px 12px 3px -19px;
    vertical-align: middle;
    width: 4px;
    margin: 0 12px 0 -19px;
    vertical-align: top;
    width: 4px;
}
span.greenLine {
    background: #35ac19 none repeat scroll 0 0;
    display: inline-block;
    height: 41px;
    margin: -8px 12px 3px -19px;
    vertical-align: middle;
    width: 4px;
    margin: 0 12px 0 -19px;
    vertical-align: top;
    width: 4px;
}

.table-style-02 tr p span.small {
    color: #35ac19;
    display: block;
    font-size: 10px;
    line-height: normal;
    margin: 0 0 5px;
}
.table-style-02 {
    font-size: 13px;
}
span.errorLineD {
    color: #f26522 !important;
}
.table-style-02 tbody tr td {
    padding: 10px 20px;
}
#learnmore .overlay-wrapper {
  background: #fff;
  border-radius: 5px;
  display: block;
  left: 0;
  margin: auto;
  opacity: 1;
  padding: 0;
  position: fixed;
  right: 0;
  top: 22%;
  z-index: 9999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
}
.overlay2text{padding:5px 11px !important}
.ptitle {
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2pt;
  margin: 0;
}
.overlay h2 {border-bottom: 1px solid #cccccc;font-size: 1.2rem;line-height: 43px;margin: 0 0 5px;padding: 0 20px;}
.overlay .mdl-cell.mdl-cell--12-col {border-bottom: 1px solid #cccccc;margin: 0;padding: 0 30px;}
#learnmore.overlay {bottom: 0;height: 260px;top: 0;}
#learnmore.overlay::before {
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.overlay h2 {border-bottom: 1px solid #cccccc;font-size: 1.2rem;line-height: 43px;margin: 0 0 5px;padding: 0 20px;}
.overlay-close {
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 10px;
  z-index: 100;
  color: #777;
}
#AddLocations .mdl-card__actions{border-top: 1px solid #cccccc;}
.mdl-grid.collapsible .mdl-cell {
  margin: 0;
}
#AddLocations select{
  padding: 0;
  font-size: 13px;
}
.mdl-textfield {
  min-width: 100%;
  width: auto;
}
.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
  justify-content: inherit;
  width: 100%;
}
.mdl-grid {
  justify-content: space-around;
}
.mdl-cell--12-col,
.mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
  width: calc(100% - 0px);
}
.mdl-cell--6-col,
.mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
  width: calc(50% - 0px);
}

.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
}

.mdl-card__actions {
  padding: 8px 0;
}
.mdl-card__actions button + p.small {
  margin: 10px 0 0;
}
input.ng-valid + .highlight + .bar + label{color:#1c1e2c; font-size: 12px; top:-3px}
.mdl-button--raised[disabled][disabled], .mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
  background: #C2CCD1;
}
.mdl-layout--fixed-header{ background: #f6f6f6}
.panel-heading{margin:11px 0 20px 0;font-weight: bold; position: relative; overflow: hidden; font-size: 16px;}
.panel-heading .material-icons{ cursor: pointer;}
.collapsible{padding: 25px; padding-top: 0}
.mdl-button {
  font-size: 13px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
}
#scrollHere .collapsibleb{height:320px !important;overflow: auto;}
.panel-heading {
  margin: 11px 0 20px 0;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.panel-heading span {
  background: #fff;
  padding-right: 20px;
}
.panel-heading i {
  position: relative;
  z-index: 99;
  background: #51889e;
  float: left;
  margin-right: 10px;
  color: #fff;
  border-radius: 50%;
  padding: 3px;
  font-size: 16px;
}
.greenLine + p span.errorLineD{ color: #35ac19!important}
.circle{color: #71bb0e; width: 26px; height: 26px; border-radius: 50%; border: 2px solid #71bb0e; font-size: 20px; line-height: 26px; text-align: center; display: inline-block;top: 6px; position: relative}