.fadeText {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0.5; color:#0d47a1}
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0.5;color:#0d47a1 }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0.5; color:#0d47a1}
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0.3; }
  to   { opacity: 1; }
}
/*
==============================================
slideRight
==============================================
*/


.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-3%);
  }
  50%{
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {

    -webkit-transform: translateX(-3%);
  }
  50%{
    -webkit-transform: translateX(2%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.kebabMenuOpen ul li{white-space: nowrap!important;}
.allApplicantsSortSection {
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  font-family: Arial Regular;
}
h2 {
  font-family: TimesNewRoman, "Times New Roman", Times, serif;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  line-height: 13px;
  padding: 20px 0;
}

.moreActions, .advancedActions { }
.moreActions.not{display: block}
.advancedActions.not2{display: block}
h3 {
  font-size: 13px;
  margin: 0;
  padding: 15px 0;
  line-height: 10px;
}
.adBlock:hover a{color: #232534; animation: fadein 2s;}
.adBlock h6 {
  font-size: 13px;
  margin: 0;

}
.adBlock .row{margin-top: 10px;}
.adBlock .row:last-child hr{ display: none}
.adBlock h4 a{text-transform: capitalize;}
.txtCaptilaise {
  text-transform: capitalize;
}
.adBlock h4 {
  font-size: 15px; /* view-application */
}
.txtCenter {
  text-align: center;
}
.mt10 {
  margin-top: 8px;
}
.ml10 {
  margin-left: 8px;
}
.mr10 {
  margin-right: 8px;
}
.mb10 {
  margin-bottom: 8px;
}
.ml5 {
  margin: 0 0 0 5px;
}
.mr5 {
  margin: 0 5px 0 0;
}
.mt5 {
  margin: 5px 0 0 0;
}
.mb5 {
  margin: 0 0 5px 0;
}
.m0 {
  margin: 0;
}
.mr0 {
  margin-right: 0;
}
.pt10 {
  padding-top: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.p0 {
  padding: 0;
}
.p5 {
  padding: 5px 0;
}
.pl5 {
  padding-left: 5px;
}
.pr5 {
  padding-right: 45px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.width50 {
  width: 45%;
  margin: 0 auto;
}
.material-icons {
  vertical-align: middle;
}
.roundedCorners {
  border-radius: 20px;
}
.fontBold {
  font-weight: bold;
}
.hideDesktop {
  display: none;
}
.adBlock {
  padding: 10px 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: -1px;
  background-color: #fff;
}
.adBlock div,
.adBlock h4 {
  line-height: 16px;
  padding: 3px 0px;
}
.adBlock.noteBlock {
  background-color: #FDFCC3;;
}
.adBlock .mdl-cell {
  align-self: center;
  margin: 0 auto;
}
/* font colors */
.colorGrey {
  color: #787878;
}
.colorBlack {
  color: #000;
}
.colorGreen {
  color: #33c66f;
}
.colorRed {
  color: #fe0506
}
.colorOrange {
  color: #f3773b;
}
.colorBlue {
  color: #a3c6f6;
}
.colorDarkBlue {
  color: #0d4c63;
}
.colorAsh {
  color: #555;
}
.bgCream {
  background-color: #FFF0C9;
}
/* font colors */
/* button */
.simpleBtn {
  border: 1px solid #0d4c63;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 20px;
}
button {
  clear: both;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.bottomButtons {
  padding: 20px;
}
.bottomButtons .simpleBtn {
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 10px;
}
.activeBtn {
  background-color: #0d4c63;
  color: #fff;
}
.showMoreBtn,
.showMoreBtn:hover {
  color : #0d4c63;
  font-size: 13px;
  background-color: transparent;
}
.showMoreBtn img {
  margin-left: 5px;
  vertical-align: middle;
}
.noBorderButtons button {
  border: 0;
  font-size: 13px;
  font-weight: normal;
  padding: 0 10px 0 0;
  min-width: auto;
}
.applicantStatus {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
.applicantName {
  text-transform: capitalize;
}
.actionButtons .kebabIcons{
  vertical-align: text-top;
}

.actionButtons span {
  display: inline-block;
  position: relative;
  width: auto;
}
/* button */
.excelIcon {
  width: 16px;
  vertical-align: middle;
  margin-left: 5px;
}
.thumbsUpIcon,
.kebabMenu {
  width: 23px; cursor: pointer;
}
.applicantRating {
  text-align: right;
  position: relative;
  padding: 10px 0;
}
.applicantStatus a {
  margin: 0 10px;
  text-decoration: none;
}
.applicantName .date {
  font-size: 11px;
}
a {
  color: #0c4b62;
  font-weight: normal;
  text-decoration: none;
}
/* tab css starts */
.tabs {
  border-bottom: 1px solid #ccc;
  padding: 15px 20px 0;
  text-align: center;
  font-size: 13px;
  color: #000;
}
.tabs [index] {
  padding: 6px 15px 3px;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  border-bottom: 3px solid transparent;
  background-color: #ddd;
  cursor: pointer
}
.tabs [index].selected {
  border: 1px solid #00384f;
  border-bottom: 3px solid #28ae61;
  background-color: #00384f;
  color: #fff;
}
.tabcontent {
  color: #000;
  display: Block;
  padding: 20px 0;
  text-align: left;
}
/* tab css ends */
/* all application list */
.allApplicantsListSection .kebabMenuOpen li {
  font-size: 13px;
}
/* tab css ends */

/* pagination */
.paginationSection {
  text-align: right;
  padding: 15px 0;
}
.pagination {
  display: inline-block;
}
.pagination a img {
  width: 17px;
  margin-left: 5px;
}
.pagination .total {
  margin: 0 10px 0 0;
}
/* pagination */
/* font*/
.font15 {
  font-size: 15px;
}
.font13 {
  font-size: 13px;
}
.font11 {
  font-size: 11px;
}
/* font */
/* kebab menu */
.kebabMenuOpen ul {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #fff;
  left: 0;
  top:-10px;
  z-index: 11;
  box-shadow: 0 8px 6px -6px #518ca2;
}
.kebabMenuOpen li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-align: left; /* all applicants list*/
  cursor: pointer;
  color: #000;
}
.kebabMenuOpen ul li:last-child {
  border-bottom: 0;
}
li {
  list-style: none;
}
/* kebab menu */
.addNoteSection {
  padding: 15px 10px 5px 10px;
}
p {
  margin: 0 0 5px 0;
  line-height: 18px;
}
.tab-contents{border: 0; }
/*Responsive*/
@media screen and (max-width: 1024px) {
  .container {
    padding: 10px;
  }
  .fullWidth {
    width: 100%;
  }
  .adBlock {
    line-height: 20px;
  }
  .adBlock .mdl-cell {
    width: 100%; /*all applicants list */
  }
  .kebabMenuOpen ul {
  }

  .hideDesktop {
    display: block;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 30px;
  }
  .pageHeading h2 {
    font-size: 18px;
    padding: 10px 5px;
    line-height: 20px;
  }
  h4 {
    line-height: 20px;
  }
  .mdl-button {
    line-height: 28px;
    height: 30px;
    font-size: 13px;
  }
  .allApplicantsListSection .adBlock .mdl-cell {
    height: auto;
    margin: 0;
  }

  .allApplicantsListSection .adBlock p.rate {
    padding: 0;
    margin: 0;
  }
  .paginationSection {
    text-align: center;
  }

  .tabs [index] {
    width: 98%;
    margin: auto;
    padding: 10px 1px;
  }
  .tabs {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 15px 0;
  }
}
