<div [@sad] *ngIf="visible" class="dialog mdl-cell mdl-cell--10-col">
  <div  id="preview-help-wanted" class="  overlay" style="padding: 12px 0">
    <a *ngIf="closable" (click)="close()" aria-label="Close" class="overlay-close "><i class="material-icons hide-print">clear</i></a>
    <div *ngIf="!onlyforLevel2" class="overlay-wrapper">
      <h2 class="hide-print" >Preview My Help Wanted Ad</h2>
      <div class="mdl-cell mdl-cell--12-col popup simplebar scrollbar-dynamic" id="inner-element">

        <div class="basic_hwa" *ngIf="shoBasicHwa">
          <div class="onePositionOneLocation">
          <div *ngIf="noOfPosition == 1 && addressLenght === 1">
              <strong>{{ companyname }}</strong> is looking to hire a <strong>{{ position }}</strong> at our <strong>{{ address3}}  {{address1}} {{ address2 }}</strong> <span *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; ">
              <b *ngIf="loc.location === true"><strong>{{loc.label }}</strong></b>
            </span> location.
              <p>This is a <strong>{{ posType }}</strong> position.</p>
            </div>
          </div>
          <div class="multiPositionOneLocation">
            <div *ngIf="noOfPosition > 1 && addressLenght === 1 ">
              <strong>{{ companyname }}</strong> is looking to hire <strong>{{ noOfPosition }} {{ position }}s</strong> at our <strong>{{ address3}}  {{address1}} {{ address2 }}</strong> <span *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; ">
              <b *ngIf="loc.location === true"><strong>{{loc.label }}</strong></b>
            </span> location.
                <p>These are <strong>{{ posType }}</strong> positions.</p>
            </div>
          </div>
          <div class="multiPositionMultiLocation">
            <div *ngIf="noOfPosition > 1 && addressLenght > 1 ">
              <strong>{{ companyname }}</strong> is looking to hire a total of <strong>{{ noOfPosition }} {{ position }}s</strong> at these locations;

              <ul *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; padding-left: 20px">
                <li *ngIf="loc.location === true"><strong>{{loc.label }}</strong></li>
              </ul>
              <p>These are <strong>{{ posType }}</strong> positions.</p>
            </div>
          </div>
          <!--
          <div class="multiPositionMultiLocation">
            <div *ngIf="noOfPosition == 1 && addressLenght > 1 ">
              <strong>{{ companyname }}</strong> is looking to hire a total of <strong>{{ noOfPosition }} {{ position }}s</strong> at these locations;

              <ul *ngFor="let loc of City; let i = index" style="margin: 2px 0; padding: 0; padding-left: 20px">
                <li *ngIf="loc.location === true"><strong>{{loc.label }}</strong></li>
              </ul>
              <p>These are <strong>{{ posType }}</strong> positions.</p>
            </div>
          </div>
          -->
          <div class="editorHwa">
            <div [innerHTML]="describePos"></div>
            <div [innerHTML]="describeSkill"></div>
          </div>

        </div>
        <div class="ko" *ngIf="showKo">
          <h2 class="" style="padding-left: 0;margin-bottom: 20px;">Your Knockout Questions</h2>

          <ul style="padding: 0; margin: 0; list-style: none" class="">
            <li *ngFor="let dq of defaultQ; let i = index" style="margin-bottom: 13px;">
              <p class="ptitle">Question {{i+1}}</p>
              <p style="margin: 0">{{ dq}}</p>
          </ul>
        <!--  <div *ngIf="defaultQ.length == 0">NOt selected any Question</div>-->
          <hr>
          <ul style="padding: 0; margin: 0; list-style: none" class="">
            <li *ngFor="let cq of customQ; let i = index" style="margin-bottom: 13px;">
              <p class="ptitle">Question {{i+ (defaultQ.length+1)}}</p>
              <p style="margin: 0">{{ cq}}</p>
          </ul>
        <!--  <div *ngIf="customQ.length == 0">NOt selected any Coustom Question</div>-->
        </div>
        <div class="skill" *ngIf="showskill" style="padding: 20px;">
        <h2 style="padding: 0">Skills Or Experience Questions</h2>
          <div *ngFor="let skill of skillQusetion; let i=index"  class="" >
            <div *ngIf="checkstatus(skill.expertiseLevel, skill.experenceLevel)" class="mdl-grid datad" style="border-bottom: 1px solid #eee; padding: 0; margin: 0 -8px;">

              <div class="mdl-cell mdl-cell--9-col"><p ><b>Question {{i+1}}:</b> <br/><span>{{skill.typeQuestion}}</span></p></div>
              <div class="mdl-cell mdl-cell--3-col" *ngIf="skill.expertiseLevel !=='N/A' "><p > <b>Skill Level</b> <br/> <span>{{skill.expertiseLevel}}</span></p></div>
              <div class="mdl-cell mdl-cell--3-col" *ngIf="skill.experenceLevel !=='N/A' "><p  > <b>Experience Level</b> <br/> <span>{{skill.experenceLevel + ' Year(s)'}}</span></p></div>
            </div>

          </div>
        </div>

        <div class="profile" *ngIf="showProfile" style="padding: 20px;">
      <!--  <h2 style="padding: 0">Preview My Help Wanted Ad</h2>-->
        <!--  <div *ngFor="let prof of profAllStapsData; let i=index" class="" >
            <div  class="mdl-grid datad" style="border-bottom: 1px solid #eee; padding: 0; margin: 0 -8px;">
              <h3>{{prof.tital1}}</h3>

              <p>{{prof.description1}}</p>
            </div>
          </div>-->
          <div *ngFor="let prof of profAllStapsData; let i=index"  class="mdl-grid popup" id="inner-element2" >
            <div class="mdl-cell mdl-cell--5-col img-bh" *ngIf="prof?.image" >
                <div >
                  <img [src]="prof?.image" class="imgborder" width="325" height="221" />
                </div>
            </div>
            <div class="mdl-cell " *ngIf="prof?.tital" [ngClass]="prof?.image ? 'mdl-cell--7-col' : 'mdl-cell--12-col'" style="border-bottom:none;">
                <div class="collapasile-title add-que" >{{ prof?.tital }}</div>
                <div [innerHTML]="prof?.description">
                </div>
            </div>
        </div>
        <hr>
        </div>

      </div>
      <div *ngIf="showProfile" class="mdl-card__actions mdl-typography--text-center">
                  <button (click)="close()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent edit-btn fab-1" >Edit</button>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1" (click)="saveBusinessProfile()">{{laleOfSteps}} </button>
      </div>

      <div *ngIf="!showProfile" class="mdl-card__actions mdl-typography--text-center hide-print">
        <button (click)="close()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent edit-btn fab-1">Edit</button>
        <button (click)="postHwa()" class="mdl-button mdl-js-button mdl-button--raised -js-ripple-effect mdl-button--accent fab-1">Post My Ad</button>
        <button (click)="print()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Print</button>
        <button *ngIf="closable" (click)="close()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent edit-btn fab-1">Cancel</button>
      </div>
      <div *ngIf="!showProfile" class="mdl-cell mdl-cell--12-col help-text hide-print">
        <ul style="padding: 0" class="helptextlist">
          <li *ngFor="let helps of helpTextD; let i = index">
            <span style="font-size:30px; vertical-align: middle;">&bull;</span> {{ helps.label }}
          </li><a (click)="leranMore()"  style="margin-left: 14px;" class="hidefromskill"> Learn More...</a>
        </ul>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 rightbtn" (click)="goToNext()">{{bottomDynamicButton}}</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
<div id="learnmore" class=" overlay " *ngIf="level2">

  <div class="overlay-wrapper mdl-cell mdl-cell--6-col popup simplebar">
    <a class="overlay-close" (click)="Close2()"><i class="material-icons">clear</i></a>
    <h2>{{ overlayTitleLevel2 }}</h2>
    <div class="mdl-cell mdl-cell--12-col overlay2text" [innerHtml]="overlayLevel2Htmldata"></div>
      <div class="mdl-card__actions mdl-typography--text-center"><button (click)="goToNext()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1" style="text-transform: none">{{ bottomDynamicButton }}</button></div>
  <!--  <div class="mdl-card__actions mdl-typography--text-center"><button (click)="goToNext()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1" >Add Knockout Questions</button></div>-->
  </div>
</div>
<div id="learnmore" class=" overlay " *ngIf="beforePost">
  <div class="overlay-wrapper mdl-cell mdl-cell--6-col popup simplebar">
    <a class="overlay-close" (click)="Close3()"><i class="material-icons">clear</i></a>
    <h2>{{ overlayTitleBeforePost }}</h2>
    <div class="mdl-cell mdl-cell--12-col overlay2text" [innerHtml]="overlayBeforePostHtmldata"></div>
      <div class="mdl-card__actions mdl-typography--text-center"><button (click)="goToNext()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1" style="text-transform: none">{{ bottomDynamicButtonBeforePost }}</button>
      <button (click)="postMyAd()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1" style="text-transform: none">Post My Ad</button>
      </div>
  </div>
</div>
