.social a{border: 1px solid #407c96; cursor: pointer; border-radius: 50%; text-align: center; vertical-align:middle; display: inline-block;
width: 50px; line-height: 50px;
}
.social a img{width: 50%}
.socialwrap{position: relative}
.social ul{margin: 0; padding: 0; list-style-type: none}
.social li{display: inline-block; margin: 0 30px; }
.social li span{display: block; margin-top: 1px; text-transform: uppercase; font-size: 11px;}
.errorFile{position: absolute; text-align: center; width: 100%; left:0; font-size: 12px;}
.errorFile span{color: red; width: 100%;display: block; padding-bottom: 15px;}
.newLoader{position: absolute; width: 30px; left: 50%; margin-left: -15px; top: 130px;}
@media only screen and (max-width: 840px) {
.social li{margin: 0 10px;}

}
