<div class="socialwrap">

  <div class="social">
   <ul>
     <li><a (click)="signIn('google')"><img src="assets/g.svg"></a> <span>Google</span> </li>

     <li><a (click)="signIn('linkedin')"><img src="assets/in.svg"></a> <span>Linkedin</span> </li>
     <li><a (click)="signIn('facebook')"><img src="assets/fb.svg"></a><span>Facebook</span></li>
   </ul>
  </div>
  <div class="errorFile"><span> {{userExsit}}</span></div>
  <img src="../assets/ring.gif" class="newLoader" *ngIf="loginConfirm">
  <div style="display: none">
    <button (click)="logout()" >logout</button>
  <div *ngIf="user">
    <table>
      <tr>
        <td>Name:</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>UID</td>
        <td>{{user.uid}}</td>
      </tr>
      <tr>
        <td>Provider</td>
        <td>{{user.provider}}</td>
      </tr>
      <tr>
        <td>Image</td>
        <td>{{user.image}}</td>
      </tr>
    </table>
  </div>
  </div>
</div>
