/*
Global Font and color forr applicant

*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body{font-family: Arial, Helvetica, sans-serif; color: #000; background: #fff}
.cap{text-transform: capitalize}
a{color: #004763; text-decoration: none}
a:hover{text-decoration: underline}
.disableLabel{pointer-events: none; opacity: 0.6}
/*heading font for title*/
.times{ font-family: 'Times New Roman', Times, serif}
h3.times{font-size: 20px; margin: 0;}
h2.times{font-size: 22px; font-weight: 600; margin: 0;}
h2.times em{font-weight: normal; }


/**/
.mobile-first-wrapper{box-sizing: border-box;   padding:38px 15px 0;}
.alredyHaveLogin{color:#434343; display: inline-block; margin: 24px 0 20px; border-radius: 50px; border: 1px solid #eee; line-height: 32px; padding: 0 43px; font-size: 14px;}
.alredyHaveLogin a{font-style: italic;}

.no-resume{font-size: 14px; color: #555}
.no-resume a{cursor: pointer}
.upload-resume{padding: 50px 0;}
.description{ font-size: 12px; color: #000; margin: 10px 0;}

button.btn{border-radius:50px; color: #fff; background: #114053; border: 1px solid #114053; font-family: Arial, Helvetica, sans-serif;   font-size: 18px; cursor: pointer; line-height: 38px; padding: 0 40px; height: auto}
button.btn:disabled{ cursor: default; background: #eee; border: 1px solid #7b98a4; color: #7b98a4;}

.copyright{color:#999; font-size: 12px;}
.resetPosition{position: static; text-align: center; min-width: 350px;display:inline-block;background: #005d80 url(../../assets/arrow79.svg) no-repeat 92% / 40px; color: #fff; border-radius: 50px; font-size: 20px; font-weight: bold; padding: 0 40px 0 0px;
}
.resetPosition strong{display: inline-block; vertical-align:middle; line-height: 54px; width: 300px;  cursor: pointer;text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;  }


.fileWrapper{display: inline-block; position: relative; }
.fileWrapper  [type=file]{cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    height:40px;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;}

    .form-width{ max-width:580px; margin: auto; }
    .left{float: left; text-align: left; width: 68%}
    .right{float: right}

  .field-wrapper.three-field .field { width: 30%}
   .field-wrapper.two-field .field.left { width: 65%}
   .field-wrapper.two-field .field.right { width: 30%}
   .field.right div.mdl-cell--6-col{margin: 0}

  .mid{ margin-left: 24px;}

  input.goUp + .highlight + .bar + label{top:-3px; color: #004763; font-size: 12px!important}

  .mar-top{margin-top: 30px;}

  .error{white-space: nowrap}

  .scroll-off{overflow: hidden}

  .specialCase .ng-valid + .highlight +.bar + label{  top:-3px!important; font-size: 12px!important; color: #004763}
@keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}
  .errorEmail{color: #ff0000; animation-duration: 1s;    animation-fill-mode: both;transform-origin: center bottom;
	animation-name: bounce;}

  .label-nopostion{position: static; pointer-events:inherit}

  .q-wrapper{border-bottom: 1px solid #ccc; padding-bottom: 25px; margin-bottom: 25px; color: #000000}
.select-wrapper{margin-top: -17px;}
.select-wrapper {border-bottom: 1px solid yellowgreen}

  /**/
  .radio-group label{font-size: 13px; color: #555555; cursor: pointer}
  input[type=radio]:checked + label{ color: #004763; font-weight: bold}
  .radio-group input{ display: none}

  .select-wrapper{font-size: 13px; width: 100%}
    .select-wrapper select{padding: 0; }
  .loading{position: relative}
   .loading img{position:absolute; z-index: 999; left:50%; margin-left: -16px;  top:-40px;}
.gd{display: none}

.upper{text-transform:capitalize}
.field.right label.cv{ border-radius: 21px; padding: 4px 20px; border: 1px solid #ccc; box-sizing: border-box }
input[type="radio"]:checked + label{background: #005d7f; color: #fff; border: 0!important;}
.alredyHaveLogin a{cursor: pointer}
.ng-invalid + .highlight + .bar + label{
    color: #004763;
    font-size: 14px;
}
input.goUp+.highlight+.bar+label{font-size: 14px}

.multicity{font-size: 16px;font-weight: 400; padding-bottom: 4px; color: #333}
h2.times.longText{line-height: 32px; font-size: 20px; max-width: 850px;margin: auto;}
input.ng-valid +.highlight+.bar+ label.mdl-textfield__label {
  top: 0;
  font-size: 12px;
  color: #000;
}

.select-wrapper.skp{ width: 100px!important;}

button:focus{outline: none; box-shadow: 2px 2px 10px deepskyblue}
/* Responsive */
@media only screen and (max-width: 840px) {
  .gd{display: block}
  h3.times{font-size: 16px;}
    h2.times{font-size: 18px; line-height: 22px;}
    .no-resume{font-size: 13px;}
    .hide-on-mobile{ display: none}
    .alredyHaveLogin{font-size: 16px;}
    .no-resume{font-size: 11px;}
    .no-resume a{font-size: 14px}
    .mobile-first-wrapper {
    padding: 10px 15px 15px;
}
.fileWrapper{display: block}
.resetPosition{display: block; min-width: auto;}
.upload-resume{padding: 50px 0}
.field.left{float: none; width: 100%}
.field.right{float: none; width: 100%}
.field-wrapper.two-field .field.left{width: 100%}
.field-wrapper.two-field .field.right{width: 100%}
.field-wrapper.three-field .field{width: 100%; float: none; margin: 0;}
.ng-invalid + .highlight + .bar + label{color: #004763; font-size: 12px}
.btn.mar-top{margin-top: 0}
.mdl-textfield{margin-bottom:23px;}

h3.times {font-size: 18px;}
.q-wrapper .field.right{text-align: left; margin-top: 12px}
.q-wrapper {
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.select-wrapper {width: 100%}
  .select-wrapper.skp{ width: 100%!important;}
.resetPosition strong{text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 79%;
font-size: 18px;}

.q-wrapper.kot{border: 0}
.loadingH img{top:-20px}
.resetPosition{background-size: 32px}
.koOnly{padding: 20px 0}
.select-wrapper{border: 1px solid #999;
border-radius: 20px;
padding: 6px;
margin: auto;
display: inherit;}
.select-wrapper select{text-align: center}
}



.loadingP img{position: fixed; top: 50%; left: 50%; margin-left: -20px; margin-top: -20px;}
.loadingH{position: relative}
.loadingH img{ position: absolute; left: 50%; margin-left: -20px;}
.file-size{font-size: 16px;font-family: monospace;}


