 <app-applicant-header></app-applicant-header>
 <img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<div *ngIf="pageLoded">


<div class="main-wrapper">
  <div class="pointer">
    <ul class="resetUl">
      <li><a></a></li>
      <li class="selected"> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
      <li> <a></a> </li>
    </ul>
  </div>
  <h2 class="times">Your Accomplishments / Skills</h2>
  <div class="content-block">
    <form [formGroup]="accomplishmentForm" novalidate>
      <div class="row clearfix">
        <div class="form-group col-12">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label textarea">Write About Your Accomplishments / Skills &nbsp;&nbsp; <span class="error_mandatory error" *ngIf="accomplishmentForm.controls.askill.invalid && accomplishmentForm.controls.askill.dirty" >Please enter something!</span></label>
           <quill-editor  [(ngModel)]="editorData" formControlName="askill" [config]="describe"></quill-editor>


          </div>
        </div>
      </div>
      <div class="action">
        <button (click)="submitContinue()" [disabled]="!accomplishmentForm.controls.askill.valid" class="btn mar-top">Continue</button>
      </div>
    </form>
  </div>
</div>
<app-applicant-footer></app-applicant-footer>

</div>
