.block_title {
    font-size: 22px;
    color: #1c1e2c;
    margin: 0;
    line-height: normal;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 4px; text-align: center;
}
.white-box-center{margin: auto;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-top: 15px;}
#compare-message.password-rule {
    visibility: visible;
    font-size: 11px;
    display: block !important;
    color: #777;
    margin-top: -17px;
}
.show-password {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 22px;
}
#loginform .mdl-card__actions.action_remember .mdl-checkbox__label {
  color: #323544;
  font-size: 12px;
}
#loginform .mdl-card__actions.action_remember {
  font-size: 12px;
  color: #323544;
  margin: 0;
  padding: 0;
}
#loginform .mdl-card__actions.action_remember .mdl-checkbox {
  float: left;
  width: auto;
  top: -4px;
}
#loginform .mdl-card__actions.action_remember .forget_password {
  float: right;
}
#loginform .mdl-card__actions.action_remember .forget_password a {
  color: #323544;
  text-decoration: none;
}
input{outline: 0; box-shadow: 0 0 0}
input.ng-dirty + .highlight + .bar + label{color:#1c1e2c; font-size: 12px; top:-20px}



.ng-valid + .highlight +.bar + label{  top:-3px!important; font-size: 12px!important;
  color:#333;}
