<app-global-header></app-global-header>
<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<div class="container" *ngIf="pageLoded">
  <div class="pageHeading txtCenter">
    <h2 class="txtCaptilaise m0 ">{{firstName}} {{lastName}}'s Application</h2>
  </div>
  <div class="viewApplicantsSection slideRight width50 fullWidth">
    <simple-notifications [options]="options"></simple-notifications>
    <div class="actionButtons"> <span>
      <button class="mdl-button roundedCorners simpleBtn activeBtn hideMob" (click)="nextAction()"> <img src="assets/star.svg" class="kebabIcons">Shortlist </button>
      </span> <span>
      <button appDropdown="" class="mdl-button roundedCorners simpleBtn"> More Actions<img src="assets/down-arrow.svg" class="kebabIcons mr0"></button>
      <div class="kebabMenuOpen moreActions mdl-menu__container is-upgraded" >
        <ul class="dropdown">
          <li><span><img src="assets/chat.svg" class="kebabIcons"></span><span>Schedule Interview</span></li>
          <li><span><img src="assets/dislike.svg" class="kebabIcons"></span><span>Reject</span></li>
        </ul>
      </div>
      </span>
      <span class="mdl-cell mdl-cell--4-col m0 applicantRating hideMob" >
        <img src="assets/menu.svg" class="kebabMenu hideMob" appDropdown="">
      <div class="kebabMenuOpen advancedActions mdl-menu__container is-upgraded" >
        <ul class="dropdown">
          <li><span><img src="assets/pencilIcon.svg" class="kebabIcons"></span><span>Add Note</span></li>
          <li><span><img src="assets/downloadIcon.svg" class="kebabIcons"></span><span>Download</span></li>
          <li><span><img src="assets/printerIcon.svg" class="kebabIcons"></span><span>Print</span></li>
        </ul>
      </div>
      </span> </div>
    <div class="adBlock">
      <div class="infoHeading">
        <h4>Basic Information</h4>
      </div>
      <div *ngIf="resumeFile; else withoutDoc">
        <div class="mdl-grid p0 withDoc">
          <div class="basicLeft">
            <h2 class="colorDarkBlue">{{firstName}} {{lastName}}</h2>
            <div class="address">
              <p class="colorAsh">{{city}}, {{state}}, {{ zip || '' }}</p>
              <p class="colorAsh">{{email | lowercase }}</p>
              <p class="contact colorAsh">{{phoneNumber}}</p>
            </div>
          </div>
          <div class="basicRight">
            <div class="designation">
              <p class="colorAsh">HWA Applied for,</p>
              <p class="position colorBlack font15">{{ positionName}} Position</p>
            </div>
            <p><img src="assets/warning.svg" class="kebabIcons"><span>30%</span></p>
            <p class="colorAsh">(KO & Skills questions are not provided)</p>
          </div>
          <div class="uploadSection">
            <div class="doc"> <img src="assets/wordDoc.svg" class="kebabIcons"/>
              <p class="file">{{ifDocument}}</p>
            </div>
            <span class="viewResume"><img src="assets/eye.svg"  class="kebabIcons"></span>
            <span class="view" (click)="viewResume()">View</span>
          </div>
        </div>
      </div>
      <ng-template #withoutDoc>
        <div class="mdl-grid p0 withoutDoc">
          <div class="basicLeft">
            <h2 class="colorDarkBlue">{{firstName}} {{lastName}}</h2>
            <div class="address">
              <p class="colorAsh">{{city}}, {{state}}, {{ zip || '' }}</p>
              <p class="colorAsh">{{email | lowercase }}</p>
              <p class="contact colorAsh">{{phoneNumber}}</p>
            </div>
          </div>
          <div class="basicRight">
            <p><img src="assets/thumbsUpIcon.svg" class="kebabIcons"><span>95%</span></p>
            <div class="designation">
              <p class="colorAsh">HWA Applied for,</p>
              <p class="position colorBlack font15">{{ positionName}} Position</p>
            </div>
          </div>

        </div>
      </ng-template>
    </div>
    <squeezebox [multiple]="false">
      <sb-item  [collapsed]="false">
        <div class="adBlock">
          <sb-item-head >
            <div class="infoHeading">
              <h4>Knock Out Questions <span><img src="assets/down-arrow.svg" class="kebabIcons"></span></h4>
            </div>
          </sb-item-head>
          <sb-item-body>
            <div class="fadeText">
              <div *ngIf="koList !== null; else showko">
                <div class="ques_ans_blk pb10" *ngFor="let list of koList">
                  <p class="mb5">{{list.title}}</p>
                  <p class="mb5 colorBlack"><span *ngIf="list.Value === '1'">Yes</span><span *ngIf="list.Value === '0'">No</span></p>
                </div>
              </div>
              <ng-template #showko>
                <p class="mb5 colorBlack">Din't create knockout questions for your help wanted ad ?</p>
                <p class="mb5">By turning this section on, you won't have to spend time looking at applicants that don't meet your minimum job requirements.</p>
              </ng-template>
            </div>
          </sb-item-body>
        </div>
      </sb-item>
      <sb-item >
        <div class="adBlock">
          <sb-item-head >
            <div class="infoHeading">
              <h4>Skill Questions <span><img src="assets/down-arrow.svg" class="kebabIcons"></span></h4>
            </div>
          </sb-item-head>
          <sb-item-body>
            <div class="fadeText">
              <div *ngIf="skillList !== null; else showSkill">
                <div class="ques_ans_blk pb10" *ngFor="let list of skillList">
                  <p class="mb5">{{list.title}}</p>
                  <p class="mb5 colorBlack">{{list.Value}}</p>
                </div>
              </div>
              <ng-template #showSkill>
                <p class="mb5 colorBlack">Din't create skill questions for your help wanted ad ?</p>
                <p class="mb5">By turning this section on, you won't have to spend time looking at applicants that don't meet your minimum job requirements.</p>
              </ng-template>
            </div>
          </sb-item-body>
        </div>
      </sb-item>

      <div  *ngIf="resumeBuilder">
        <sb-item>
          <div class="adBlock">
            <sb-item-head>
              <div class="infoHeading">
                <h4>Employment Details <span><img src="assets/down-arrow.svg" class="kebabIcons"></span></h4>
              </div>
            </sb-item-head>
            <sb-item-body>
              <div class="fadeText">
                <div>
                  <div *ngIf="employerData !== undefined; else emp">
                    <div class="row" *ngFor="let empList of employerData">
                      <div class="address">
                        <p class="colorBlack font15">{{empList['field_employer_s_name'][0].value}}</p>
                        <p>{{empList['field_position_held'][0].value}}</p>
                        <p>{{empList['field_city'][0].value}}, {{empList['field_state'][0].value}}</p>
                        <p>({{convertTimestapm(empList['field_joining_date'][0].value )  | date: 'MMM'}} , {{convertTimestapm(empList['field_joining_date'][0].value )  | date: 'y'}}) <em *ngIf="empList['field_re_leaving_date'] === undefined">to <em>Present</em></em> <em *ngIf="empList['field_re_leaving_date'] !== undefined"><em>till</em> ({{convertTimestapm(empList['field_re_leaving_date'][0].value )  | date: 'MMM'}} , {{convertTimestapm(empList['field_re_leaving_date'][0].value )  | date: 'y'}})</em></p>
                      </div>
                      <p class="colorBlack">{{empList['field_job_responsibilities'][0].value}}</p>
                      <hr>
                    </div>
                  </div>
                  <ng-template #emp>N/A</ng-template>
                </div>
              </div>
            </sb-item-body>
          </div>
        </sb-item>


        <sb-item>
          <div class="adBlock">
            <sb-item-head>
              <div class="infoHeading">
                <h4>Education Details <span><img src="assets/down-arrow.svg" class="kebabIcons"></span></h4>
              </div>
            </sb-item-head>
            <sb-item-body>
              <div class="fadeText">
                <div *ngIf="educationalData !== undefined; else edu">
                  <div class="row" *ngFor="let eduList of educationalData">
                    <div class="address">
                      <p class="colorBlack font15">{{eduList['field_name_of_school'][0].value}} , {{eduList['field_city'][0].value}}, {{eduList['field_state'][0].value}}</p>
                      <p>{{eduList['field_type_of_degree_earned'][0].value}}</p>
                      <p>{{convertTimestapm(eduList['field_year_graduated'][0].value )  | date: 'MMM'}} , {{convertTimestapm(eduList['field_year_graduated'][0].value )  | date: 'y'}}</p>
                    </div>
                    <hr>
                  </div>
                </div>
                <ng-template #edu>N/A</ng-template>
              </div>
            </sb-item-body>
          </div>
        </sb-item>
        <sb-item>
          <div class="adBlock">
            <sb-item-head>
              <div class="infoHeading">
                <h4>Licence /  Certifications <span><img src="assets/down-arrow.svg" class="kebabIcons"></span></h4>
              </div>
            </sb-item-head>
            <sb-item-body>
              <div class="fadeText">
                <div *ngIf="licenceData !== undefined; else lic">
                  <div class="row" *ngFor="let list of licenceData">
                    <div class="address">
                      <p class="colorBlack font15">{{list['field_name_of_licenses_or_certif'][0].value}}</p>
                      <p>{{list['field_name_of_issuing_authority'][0].value}}</p>
                      <p>{{list['field_licenses_city'][0].value}}, {{list['field_licenses_state'][0].value}}</p>
                      <p>({{convertTimestapm(list['field_year_obtained'][0].value )  | date: 'MMM'}} , {{convertTimestapm(list['field_year_obtained'][0].value )  | date: 'y'}})</p>
                    </div>
                    <hr>
                  </div>
                </div>
                <ng-template #lic>N/A</ng-template>
              </div>
            </sb-item-body>
          </div>
        </sb-item>

        <sb-item>
          <div class="adBlock">
            <sb-item-head>
              <div class="infoHeading">
                <h4>Military History <span><img src="assets/down-arrow.svg" class="kebabIcons"></span></h4>
              </div>
            </sb-item-head>
            <sb-item-body>
              <div class="fadeText">
                <div *ngIf="militryData !== undefined; else mil">
                  <div class="address">
                    <h6 class="colorBlack font15">{{ Rank }} ({{branch}})</h6>
                    <p>{{ dateOfDischarge  | date: 'MMM' }} , {{ dateOfDischarge  | date: 'y' }} ({{yearServed}}) Years</p>
                    <p></p>
                  </div>
                </div>
                <ng-template #mil>N/A</ng-template>
              </div>
            </sb-item-body>
          </div>
        </sb-item>

        <sb-item>
          <div class="adBlock">
            <sb-item-head>
              <div class="infoHeading">
                <h4>Reference <span><img src="assets/down-arrow.svg" class="kebabIcons"></span></h4>
              </div>
            </sb-item-head>
            <sb-item-body>
              <div class="fadeText">
                <div *ngIf="refData !== undefined; else ref">
                  <div  class="row" *ngFor="let list of refData">
                    <div class="address">
                      <h6 class="colorBlack font15">{{ list['field_name_of_reference'][0].value }}</h6>
                      <p>{{ list['field_organization_name'][0].value }}</p>
                      <p>{{ list['field_email'][0].value }}</p>
                      <p>{{ list['field_phone_number'][0].value }}</p>
                    </div>
                    <hr>
                  </div>
                </div>
                <ng-template #ref>N/A</ng-template>
              </div>
            </sb-item-body>
          </div>
        </sb-item>

      </div>
    </squeezebox>
    <div class="adBlock noteBlock">
      <div class="infoHeading">
        <h4>Add Note</h4>
        <textarea cols="34" rows="5" class="addNoteSection hideDesktop"></textarea>
        <textarea cols="76%" rows="5" class="addNoteSection hideMob"></textarea>
        <div class="noBorderButtons">
          <button class="mdl-button simpleBtn txtCaptilaise colorDarkBlue">save</button>
          <button class="mdl-button simpleBtn txtCaptilaise colorAsh">clear</button>
        </div>
      </div>
    </div>
    <div class="adBlock noteBlock">
      <div class="infoHeading">
        <h4>Interview Note</h4>
        <textarea cols="34" rows="5" class="addNoteSection hideDesktop"></textarea>
        <textarea cols="76%" rows="5" class="addNoteSection hideMob"></textarea>
        <div class="noBorderButtons">
          <button class="mdl-button simpleBtn txtCaptilaise colorDarkBlue">save</button>
          <button class="mdl-button simpleBtn txtCaptilaise colorAsh">clear</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomButtons txtCenter pb10 hideDesktop">
    <button class="mdl-button simpleBtn pAl20 activeBtn txtCaptilaise">Add a note</button>
    <button class="mdl-button simpleBtn pAl20 txtCaptilaise">Download</button>
  </div>
</div>
