span.applicantRating {
  float: right;
  padding: 5px 0;
}
.actionButtons {
  padding: 15px 0;
}
.actionButtons .mdl-button {
  font-weight: normal;
}
.actionButtons span:first-child .mdl-button {
  font-size: 15px;
  padding: 0 20px;
}
.actionButtons span:first-child .mdl-button .kebabIcons {
  width: 20px;
  vertical-align: sub;
  margin-left: 0;
}
.kebabIcons {
  width: 15px;
  vertical-align: middle;
  margin: 0 5px;
}
.simpleBtn {
  position: relative;
  padding: 5px 10px;

}
.position{ text-transform: capitalize;}
.actionButtons .kebabMenuOpen ul {
  padding: 0 5px;
}
.infoHeading h4 {
  margin: 0px;
  font-size: 15px;
  color: #000;
}
p.file{overflow: hidden; width: 200px; white-space: nowrap; text-overflow:ellipsis; width: 150px; margin: auto }
.infoHeading span {
  float: right;
}
.infoHeading {
  padding: 8px 0;
}
.infoHeading p {
  margin: 5px 0;
  width: 90%;
}
.basicRight p span {
  font-family: 'Roboto', sans-serif; font-weight: 500;
}
.basicLeft,
.basicRight {
  font-family: 'Roboto', sans-serif; font-weight: 400;
}
.basicLeft h2 {
  font-weight: normal;
  color: #0c4b62;
  padding: 0;
}
.viewResume, .view{cursor: pointer}
.viewApplicantsSection .adBlock {
  z-index: 9;
  padding: 10px 10px 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.adBlock:first-child {
  font-family: 'Roboto', sans-serif; font-weight: 400;
}
.address h6 {
  margin: 0;
}
button.subtablinks.activeBtn {
  border-bottom: 3px solid #00384f;
  background-color: #fff;
  color: #000;
}
button.subtablinks {
  padding: 10px;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  font-size: 15px;
  height: 39px;
}
.infoHeading .tab {
  text-align: left;
  padding: 0;
  height: 39px;
  border-bottom: 1px solid #ccc;
}
.noteBlock {
  background-color: #FDFCC3;
  padding: 25px 15px 15px;
  margin: 5px 0 10px;
}
.basicLeft h2 {
  margin: 5px 0;
  border-bottom: 0;
  font-family: 'Roboto', sans-serif; font-weight: 400;
}
.basicLeft {
  border-right: 1px solid #ccc;
  width: 50%;
  float: left;
}
.adBlock div.basicRight {
  padding: 0 0 0 15px;
  width: 40%;
  float: left;
}
.basicRight .kebabIcons {
  width: 25px;
  vertical-align: sub;
}
.mdl-grid {
  overflow: hidden;
}
.designation {
  padding: 10px 0;
}
p {
  color: #555;
  font-size: 13px;
}

.viewApplicantsSection .kebabMenuOpen li {
  color: #0d4c63;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif; font-weight: 400;
}
.kebabMenuOpen.moreActions li {
  font-size: 13px;
}
.kebabMenuOpen.advancedActions li {
  font-size: 12px;
}
/* tab css starts */
.infoHeading .tabs {
  border-bottom: 1px solid #ccc;
  padding: 0;
  text-align: left;
  font-size: 15px;
  color: #000;
  height: 42px;
}
.infoHeading .tabs [index] {
  padding: 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.infoHeading .tabs [index].selected {
  border: 0;
  border-bottom: 3px solid #00384f;
  background-color: transparent;
  color: #000;
}
.tab-contents {
  color: #000;
  display: Block;
  padding: 20px 0;
  text-align: left;
}

/* without scoring css */
.withDoc .basicLeft,
.withDoc .basicRight {
  width: 33.33%;
  box-sizing: border-box;
}
[ng2-collapsable] [contents]{overflow: hidden;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
[ng2-collapsable] [contents].selected{height: auto;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

}
[ng2-collapsable] [index].selected{border: 0; background: #fff}
[ng2-collapsable] [index]{border: 0; background: #fff; margin: 0; padding: 0}
[ng2-collapsable] [contents].selected{padding: 0; border: 0}


@keyframes slideDown {
  0% {
    transform: translateY(-10%);
  }
  50%{
    transform: translateY(2%);
  }
  65%{
    transform: translateY(-1%);
  }
  80%{
    transform: translateY(2%);
  }
  95%{
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10%);
  }
  50%{
    -webkit-transform: translateY(1%);
  }
  65%{
    -webkit-transform: translateY(-2%);
  }
  80%{
    -webkit-transform: translateY(2%);
  }
  95%{
    -webkit-transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.uploadSection {
  text-align: center;
  width: 26%;
  border-left: 1px solid #ccc;
}
.uploadSection .doc .kebabIcons {
  width: 45px;
}
/* without scoring css */
/* tab css ends */
@media screen and (max-width: 1024px) {
  button.subtablinks {
    padding: 5px;
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
  .withDoc .basicLeft,
  .withDoc .basicRight,
  .adBlock div.basicRight,
  .uploadSection {
    width: 100%;
    padding: 0;
    border: 0;
  }
  .uploadSection {
    text-align: left;
  }
  .uploadSection .file {
    margin: 0;
  }
  .basicLeft {
    border-right: 0;
  }
  span.applicantRating {
    width: initial;
  }
  .infoHeading p {
    width: 100%;
  }
  .viewApplicantsSection .adBlock {
    padding: 10px;
  }
  .bottomButtons .simpleBtn.txtCaptilaise {
    padding: 0px 20px;
  }
}
