<img src="../assets/ring.gif" class="newLoader" *ngIf="!pageLoded">
<app-applicant-header></app-applicant-header>
<div *ngIf="pageLoded">
  <div class="main-wrapper">
    <div class="pointer">
      <ul class="resetUl">
        <li><a></a></li>
        <li> <a></a> </li>
        <li> <a></a> </li>
        <li> <a></a> </li>
        <li> <a></a> </li>
        <li> <a></a> </li>
        <li class="selected"> <a></a> </li>
        <li> <a></a> </li>
      </ul>
    </div>
    <h2 class="times">Add Your References</h2>
    <p class="helpText">* Your References Will Not Be Added In The Resume Now, You Can Provide To Your Employer When Needed. </p>
    <div class="content-block">
      <form [formGroup]="refrenceDetailForm" novalidate>
        <div formArrayName="refrenceGroup">
          <div class="addGroup"><a (click)="addRefrence()" [ngClass]="{'dis': !refrenceDetailForm.valid}" class="addGroupbtn"> Add Reference <i class="material-icons">add_circle_outline</i></a> </div>
          <div *ngFor="let employer of refrenceDetailForm.controls.refrenceGroup.controls; let i=index">
            <div class="panel-heading" (click)="accoradianIteam(i)"> <span class="removeGroupbtn" *ngIf="refrenceDetailForm.controls.refrenceGroup.controls.length > 1" (click)="removeLicence(i)"><i class="material-icons">highlight_off</i></span> <span class="wrap">{{getLicenceName[i] || "Reference"}}</span> <i class="material-icons ri" [ngClass]="{'hide': !openThisFormArray[i]}" >keyboard_arrow_up</i> <i class="material-icons ri" [ngClass]="{'hide': openThisFormArray[i]}" >keyboard_arrow_down</i> </div>
            <div class="panel-body" [ngClass]="{'active': openThisFormArray[i]}" [formGroupName]="i">
              <div class="row">
                <div class="form-group col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input inputMaterial " [(ngModel)]="getLicenceName[i]" maxlength="100" type="text" appFloatLabelDirective="" formControlName="ref_name">
                    <span class="highlight"></span> <span class="bar"></span>
                    <label class="mdl-textfield__label">Name of Reference</label>
                  </div>
                </div>
                <div class="form-group col-6">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input inputMaterial " [textMask]="{mask: mask}" type="tel" appFloatLabelDirective="" formControlName="phone">
                    <span class="highlight"></span> <span class="bar"></span>
                    <label class="mdl-textfield__label">Phone Number</label>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="form-group col-12">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input maxlength="100" class="mdl-textfield__input inputMaterial " type="text" maxlength="100" appFloatLabelDirective="" formControlName="org_name">
                    <span class="highlight"></span> <span class="bar"></span>
                    <label class="mdl-textfield__label">Organization Name</label>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="form-group col-12">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input inputMaterial" maxlength="255" type="email" appFloatLabelDirective="" formControlName="email">
                    <span class="highlight"></span> <span class="bar"></span>
                    <label class="mdl-textfield__label">Email</label>
                    <div class="error mailerror">
                      Please enter a valid Email Address
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="action">
          <button (click)="skipThisSteps()" [disabled]="refrenceDetailForm.valid" [hidden]="hideSkip" class="btn mar-top">Skip for Now</button>
          <button (click)="submitContinue()" [disabled]="!refrenceDetailForm.valid" class="btn mar-top">Continue</button>
        </div>
      </form>
    </div>
  </div>
  <app-applicant-footer></app-applicant-footer>

</div>
