<alert-msg [message]="alertmsg"> </alert-msg>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="background:#f6f6f6; min-height: 100vh">
  <app-global-header></app-global-header>
  <main class="mdl-layout__content">
    <section class="section--center">
      <breadcrumb-title [checkFlag]="copyHWA3"></breadcrumb-title>
      <div id="help-wanted-ad" class="mdl-cell mdl-cell--10-col" style="margin: auto">

        <div class="tabWrapper">
          <tabs>
            <tab tabTitle="Job Description">
              <div>
                <!-- ------------------------HWA------------------------------- -->
                <div id="help-wanted-ad" class="mdl-cell mdl-cell--12-col" style="margin: auto" *ngIf="displayLocation">
                  <div class="">
                    <div class="">
                      <div class="mdl-typography--text-left">
                        <form [formGroup]="HwaForm" novalidate>
                          <div class="mdl-grid collapsible">
                            <!------ first section ---------->
                            <div class="collapasile-title topPoint">Your Help Wanted Ad </div>
                            <div class="mdl-cell mdl-cell--12-col" style="margin: 0">
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input id="pos" class="mdl-textfield__input inputMaterial " maxlength="100" [(ngModel)]="position" type="text" appFloatLabelDirective=""
                                       formControlName="position">
                                <span class="highlight"></span> <span class="bar"></span>
                                <label class="mdl-textfield__label">What Position Are You Hiring For?</label>
                                <span class="positionerror" style="display: none" *ngIf="!HwaForm.controls['position'].valid">Please fill out this field.</span> <span class="positionerror" *ngIf="!HwaForm.controls['position'].valid  && submitAttempt">Please fill out this field.</span> </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <label class="mdl-select__label" style="color:#323544">How Many People Do You Need to Hire?</label>
                                <div class="select-wrapper">
                                  <select class="mdl-selcet" (change)="getPositions($event)" [(ngModel)]="selectedNofPostion" formControlName="numberOfPosition">
                                    <option selected="selected" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                  </select>
                                </div>
                                <div class="error" *ngIf="!HwaForm.controls['numberOfPosition'].valid  && submitAttempt"> Number of position is required </div>
                              </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <label class="mdl-select__label" style="color:#323544">Will They be Full-Time/Part-Time or Contract?</label>
                                <div class="select-wrapper">
                                  <select class="mdl-selcet" formControlName="position_type" [(ngModel)]="posType">
                                    <option selected="selected" value="Full-Time">Full-Time</option>
                                    <option value="Part-Time">Part-Time</option>
                                    <option value="Contract">Contract </option>
                                  </select>
                                </div>
                                <div class="error" *ngIf="!HwaForm.controls['position_type'].valid  && submitAttempt"> Please fill out this field. </div>
                              </div>
                            </div>
                            <div class="realtimeLocation" style="margin-top: 20px;">
                              <div class="mdl-cell mdl-cell--12-col dAddress" *ngIf="noLocation" style="padding: 0;">
                                <label class="address" tabindex="0">Which Location(s) Are You Hiring For?&nbsp;&nbsp;&nbsp;<span class="emptyLocation" *ngIf="emptyLocation===true &&  submitAttempt">Please add at least one location.</span></label>
                              </div>
                              <div class="error" *ngIf="addresvalid" style="margin-top: -15px;"> Please select your hiring location. </div>
                              <div class="error" *ngIf="HwaForm.controls['numberOfPosition'].value < addressLenght1" style="margin-top: -15px;"> Number of hiring locations selected cannot exceed the number being hired. </div>
                              <div formArrayName="locations" style="width: 100%" class="address_fieldset">
                                <div class="mdl-cell mdl-cell--12-col dAddress" style="padding: 0; margin-bottom: 20px">
                                  <!-- *ngIf="multiLocation" -->
                                  <div style="position: relative; padding-right: 20px; display: inline-block"> <i *ngIf="multiLocation" class="material-icons" (click)="toggleHighlight(1)">{{ changeTexthwa }}</i>
                                    <ul class="locations_list" ngClass="getStyle()" style="margin-top: -7px;" [ngClass]="{'expand': showStyle === 1 }">
                                      <li *ngFor="let titl of title; let i = index">
                                        <div [formGroupName]="i" style="width: 100%" class="mdl-cell mdl-cell--12-col">
                                          <label class="mdl-checkbox mdl-js-checkbox" for="{{'titl-'+i}}">
                                            <input type="checkbox"  (change)="getIndex($event)"  value="{{i}}" id="{{'titl-'+i}}" class="mdl-checkbox__input" formControlName="location">
                                            <span class="mdl-checkbox__label">{{title[i].title}}, {{title[i].field_city}}, {{title[i].field_state}}</span> </label>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1" (click)="addLocation()"
                                 style="text-transform: none"> <i class="material-icons">add_circle</i> Add a Hiring Location to Your Profile</a> </div>
                            <div class="mdl-cell mdl-cell--12-col describePositionFocus">
                              <div class="mdl-textfield">
                                <label class="mdl-textarea__label">How Would You Describe This Position to a Job Seeker?&nbsp;&nbsp;&nbsp;<span class="errorE" *ngIf="!HwaForm.controls['describePosition'].valid  && submitAttempt"> Please fill out this field. </span></label>
                                <div>
                                  <quill-editor (change)="textChanged($event)" [(ngModel)]="describePos" (change)="changetext($event)" formControlName="describePosition" [config]="jobDescription">
                                  </quill-editor>
                                </div>
                              </div>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col describeSkillFocus">
                              <div class="mdl-textfield">
                                <label class="mdl-textarea__label">Describe The Skills &amp; Experience The Person Applying Would Need to Do This Job.&nbsp;&nbsp;&nbsp;<span class="errorE" *ngIf="!HwaForm.controls['describeSkill'].valid  && submitAttempt"> Please fill out this field.</span></label>
                                <div class="">
                                  <quill-editor (change)="textChanged($event)" formControlName="describeSkill" [(ngModel)]="describeSkill" [config]="jobskills"></quill-editor>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mdl-card__actions mdl-typography--text-center"> <a (click)="onPreiviewAll()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent preview-btn fab-1 cta-add">Preview My Ad</a>
                            <button *ngIf="draftEdit" (click)="onSubmitAll('')" [disabled]="false" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 cta-sucess">Save As Draft</button>
                            <button *ngIf="draftEdit" (click)="onSubmitAll('postMyAd')" [disabled]="false" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Post My Ad</button>
                            <button *ngIf="!draftEdit" (click)="onSubmitAll('')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Update My Ad</button>
                          </div>
                          <!-- ---- first second (click)="onSubmitAll('')" -------- -->
                          <!-- ---- first third -------- -->
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="AddLocations" class="overlay addressOver" *ngIf="launchPopup">
                  <div class="overlay-wrapper mdl-cell mdl-cell--6-col"> <a class="overlay-close" (click)="addLocation()"><i class="material-icons">clear</i></a>
                    <h2>Add Your Business Address</h2>
                    <form [formGroup]="addLocationForm" novalidate id="scrollHere">
                      <div class="mdl-grid collapsible collapsibleb" style="margin-bottom: 30px;">
                        <div class="mdl-cell mdl-cell--12-col collapsible-wrapper">
                          <div formArrayName="addresses" style="width: 100%" class="address_fieldset">
                            <div *ngFor="let address of addLocationForm.controls.addresses.controls; let i=index" style="width: 100%">
                              <div class="panel-heading"> <i class="material-icons" *ngIf="addLocationForm.controls.addresses.controls.length > 1" (click)="removePopLocation(i)">close</i> <span>Business Address {{i + 1}}</span></div>
                              <div [formGroupName]="i" style="width: 100%" class="mdl-cell mdl-cell--12-col collapsible-wrapper">
                                <div class="mdl-cell mdl-cell--12-col">
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input inputMaterial" appFloatLabelDirective="" type="text" id="add1" formControlName="title">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label class="mdl-textfield__label" for="add1">Address Line 1</label>
                                  </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input inputMaterial" appFloatLabelDirective="" type="text" id="add2" formControlName="field_address_line_2">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label class="mdl-textfield__label" for="add2">Address Line 2</label>
                                  </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col specialCase">
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="min-width:90%">
                                    <input class="mdl-textfield__input inputMaterial" (blur)="zipCodeSearch(i)" [textMask]="{mask: zipmask}" appFloatLabelDirective=""
                                           type="text" id="zipC" formControlName="field_z">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label class="mdl-textfield__label" for="zipC">Zip Code</label>
                                    <span class="error">{{validZipStatus}}</span> </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col specialCase">
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="min-width:90%">
                                    <input class="mdl-textfield__input inputMaterial" appFloatLabelDirective="" type="text" id="state" formControlName="field_state">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label class="mdl-textfield__label" for="state">State</label>
                                  </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col specialCase" *ngIf="!showSelect[i]">
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input inputMaterial" appFloatLabelDirective="" type="text" id="city" formControlName="field_city">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label class="mdl-textfield__label" for="city">City</label>
                                  </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col specialCase" *ngIf="showSelect[i]">
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label select-wrapper" style="margin-top:-20px;">
                                    <label class="" for="State" style="font-size:12px; color: #000; position: relative; top:-9px">City</label>
                                    <select formControlName="field_city" style="font-size: 16px; color:#000; font-weight: 400; padding-bottom: 4px;">
                                      <option *ngFor="let city of getCityinfoList">{{city}}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mdl-card__actions">
                            <button (click)="addPopLocation()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1"> <i class="material-icons">add_circle</i> Add Another Hiring Location </button>
                          </div>
                        </div>
                      </div>
                      <div class="mdl-card__actions mdl-typography--text-center">
                        <button (click)="savePopupAddress(addLocationForm.value, addLocationForm.valid, $event)" [disabled]="!addLocationForm.valid"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
                        <button (click)="cancelLocation()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </tab>
            <tab tabTitle="KnockOut Questions">
              <div>
                <div id="add-knockout" class="mdl-cell mdl-cell--12-col auto">
                  <div class="">
                    <div class="">
                      <div class="mdl-typography--text-left">
                        <form [formGroup]="koForm" novalidate>
                          <div class="mdl-grid collapsible" style="justify-content:unset">
                            <!------ first section ---------->
                            <div class="collapasile-title"><span style="color:#3f7c94; font-size:16px; font-weight:500">Add Your Knockout Questions</span> <span class="small">(Candidate will see these once they have begun applying for the job, the questions will not appear in your Help Wanted Ad.)</span></div>
                            <p class="small" style="color:#323544; font-size:13px; font-weight:400">Let's Start You Off With These Two Knockout Questions</p>
                            <div formArrayName="defaultQlists" class="mdl-cell mdl-cell--12-col" style="margin:0 -1px;">
                              <div class="mdl-checkbox" *ngFor="let question of defaultQLists; let i=index" style="margin-left: 0">
                                <div [formGroupName]="i" style="width: 100%; margin: 0" class="mdl-cell mdl-cell--12-col">
                                  <input class="" formControlName="inputval" type="hidden" [value]="question">
                                  <input class="mdl-checkbox___input " disabled="true" style="margin-left: 0;" [value]="question" checked="checked" id="{{'default'+i}}" type="checkbox"
                                         formControlName="defaultQlist">
                                  <label class="mdl-checkbox__label" for="{{'default'+i}}">{{question.name}}</label>
                                </div>
                              </div>
                            </div>
                            <div class="collapasile-title add-que"><span style="color:#3f7c94; font-size:16px; font-weight:500">My Custom Knockout Questions</span> <em class="ks">(Remember, your candidates can only answer with Yes or No)</em></div>
                            <div formArrayName="customQlist" class="mdl-card__actions mdl-typography--text-left" style="padding:0">
                              <!-- formArrayName="customQlist"-->
                              <div id="new-que-wrapper" *ngFor="let qlist of customQList let i=index">
                                <div [formGroupName]="i" *ngIf="qlist != ''" style="width: 100%; margin-left: 0" class="mdl-cell mdl-cell--12-col">
                                  <input class="" #inputval formControlName="inputval" type="text" (change)="editText($event, i)" [value]="qlist" id="inpchk"
                                         maxlength="110" *ngIf="isEditable[i]" style="border: 0; font-size: 16px; width: 100%; letter-spacing: 1px; height: 30px;">
                                  <input class="mdl-checkbox___input" formControlName='costomQus' type="checkbox" [value]="qlist" id="{{'costom'+i}}" *ngIf="!isEditable[i]"
                                         checked="checked">
                                  <label class="mdl-checkbox__label static" *ngIf="!isEditable[i]  && qlist != ''">{{qlist}}</label>
                                  <button type="button" (click)="toggleShow(i)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1">{{ changeText[i] }}</button>
                                </div>
                              </div>
                              <div style="position:relative; margin-top:30px;" class="newCustQuestion" *ngIf="showTextfield">
                                <label style="font-size:16px; margin-bottom: 10px; display: block; font-weight:500; position: static; color:#323544">Type Your Own Knockout Questions Below</label>
                                <input type="text" id="inputqus" (keyup)="checkEmpty(customlist)" maxlength="120" placeholder="You can type your own Knockout Question here and add it to list."
                                       class="add_text" (change)="addQuestion(customlist, '', true)" #customlist>
                              </div>
                            </div>
                            <button (click)="addCustomQuestion()" [disabled]="btndisabled" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Add a Question</button>
                          </div>
                          <div class="mdl-cell mdl-cell--12-col action-buttons">
                            <div class="mdl-card__actions mdl-typography--text-center"> <a (click)="onPreiviewAll()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent preview-btn fab-1 cta-add">Preview My Ad</a>
                              <button *ngIf="draftEdit" (click)="onSubmitAll('')" [disabled]="false" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 cta-sucess">Save As Draft</button>
                              <button *ngIf="draftEdit" (click)="onSubmitAll('postMyAd')" [disabled]="false" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Post My Ad</button>
                              <button *ngIf="!draftEdit" (click)="onSubmitAll('')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Update My Ad</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab tabTitle="Skills Or Experience Questions">
              <div>
                <div id="skillOrExp" class="mdl-cell mdl-cell--12-col auto hide-print">
                  <div class="">
                    <div class="">
                      <div class="mdl-typography--text-left skill-label-color">
                        <form [formGroup]="skillExpForm" novalidate>
                          <div class="collapasile-title">Skills Or Experience Questions</div>
                          <div class="mdl-grid collapsible collapsibleb" style="justify-content: unset; padding: 0; margin: 0">
                            <div class="mdl-cell mdl-cell--12-col collapsible-wrapper" style="padding: 0; margin: 0;">
                              <div formArrayName="questionList" style="width: 100%; padding: 0; margin: 0;" class="address_fieldset">
                                <div *ngFor="let user of skillExpForm.controls.questionList.controls; let i=index">
                                  <div [formGroupName]="i" style="width: 100%; padding:0; margin: 0;" class="mdl-cell mdl-cell--12-col collapsible-wrapper">
                                    <div class="mdl-grid" style="margin: 20px 0; padding: 0; width: 100%; justify-content: unset">
                                      <div class="mdl-cell mdl-cell--12-col" style="width: 100%;">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label bold-title-skill add-skills-que">
                                          <input class="mdl-textfield__input " maxlength="200" appFloatLabelDirective="" type="text" name="Statement" formControlName="typeQuestion"
                                                 style="font-size: 18px; font-weight: 300" />
                                          <span class="highlight"></span> <span class="bar"></span>
                                          <label class="mdl-textfield__label">Type Your Skill Or Experience Question Below</label>
                                        </div>
                                      </div>
                                      <div class="mdl-cell mdl-cell--6-col" [ngClass]="hideExpArray[i] ? 'selectvisiblity' : ''">
                                        <label class="mdl-select__label static" for="sample3">What level of Expertise is needed to do the job</label>
                                        <div class="select-wrapper">
                                          <select class="mdl-selcet" (change)="hideExperenceLevel(i)" id="sample3" formControlName="expertiseLevel" style="font-size: 18px; font-weight: 300">
                                            <option selected="selected" value="N/A">N/A</option>
                                            <option value="Beginner">Beginner</option>
                                            <option value="Intermediate">Intermediate</option>
                                            <option value="Expert">Expert</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="mdl-cell mdl-cell--6-col" [ngClass]="hideExpertiseArray[i] ? 'selectvisiblity' : ''">
                                        <label class="mdl-select__label static" for="sample3">The Minimum Number of Years Experience Needed</label>
                                        <div class="select-wrapper">
                                          <select class="mdl-selcet" (change)="hideExpertiseLevel(i)" formControlName="experenceLevel" style="font-size: 18px; font-weight: 300">
                                            <option selected="selected" value="N/A">N/A</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="more than 10">more than 10</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mdl-cell mdl-cell--12-col " style="padding: 0; margin: 0"> <a style="font-size: 13px; text-transform: none" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1"
                                                                                                        (click)="addUser('', '', 'N/A','N/A')"> Add a Question</a> <br/>
                                <br/>
                                <br/>
                                <br/>
                                <hr>
                                <div class="mdl-card__actions mdl-typography--text-center"> <a (click)="onPreiviewAll()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent preview-btn fab-1 cta-add">Preview My Ad</a>
                                  <!--  <button (click)="onSubmitAll('postMyAd')" [disabled]="!skillExpForm.valid"   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Update My Ad</button>-->
                                  <!-- <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Update My Ad</a>-->
                                  <button *ngIf="draftEdit" (click)="onSubmitAll('')"  [disabled]="!skillExpForm.valid"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 cta-sucess">Save As Draft</button>
                                  <button *ngIf="draftEdit" (click)="onSubmitAll('postMyAd')"  [disabled]="!skillExpForm.valid"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 ">Post My Ad</button>
                                  <button *ngIf="!draftEdit" (click)="onSubmitAll('')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Update My Ad</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab tabTitle="Business Profile">
              <div>
                <div class="profile newBizprofile" style="padding: 20px;">
                  <div style="padding: 0" class="collapasile-title">Business Profile</div>
                  <div class="mdl-grid popup " id="inner-element2"  style="padding: 0">
                    <div class="mdl-cell mdl-cell--4-col img-bh"  style="margin-left: -10px;">
                      <!-- *ngIf="image1Url" -->
                      <div>
                        <div  class="fileUpload " style="margin: 0;"> <img *ngIf="ImageNumber == 1" src="{{waitingImg}}"  style="position:absolute; z-index: 999; left:44%;  top:44%;" />
                          <input type="file" name="profileImage" id="uploadimg" (change)="fileChangeEvent($event, 1)"  class="upload"  />
                          <!-- <label for="uploadimg" class="uploadbtnlabel  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Edit Photo</label>-->
                          <label for="uploadimg" *ngIf="image1Url" class="uploadbtnlabel  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Edit Photo</label>
                          <label for="uploadimg" *ngIf="!image1Url" class="blanckImg"><span class="bbt"><i class="material-icons">camera_alt</i> Upload Your Image</span></label>
                          <img [src]="image1Url" class="imgborder" width="279" height="221" />
                          <div class="deleteImgPos"><a href='javascript:void(0)' class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1" *ngIf="image1Url != ''" (click)="deleteThis(1)" ><i class="material-icons">delete_forever</i></a> </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="mdl-cell" [ngClass]="image1Url ? 'mdl-cell--7-col' : 'mdl-cell--12-col'" style="border-bottom:none;">-->
                    <div class="mdl-cell" [ngClass]="'mdl-cell--8-col'" style="border-bottom:none;">
                      <button type="button" (click)="toggleShow_1(0)" class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1">{{ titalText1_lbl }}</button>
                      <div *ngIf="!titalText1_isEdit"   class="collapasile-title add-que">{{titalText1 }} </div>
                      <input *ngIf="titalText1_isEdit" placeholder="Please Enter Text here" setFocus type="text" id="name" [(ngModel)]="titalText1" class="mdl-textfield__input inputMaterial" appFloatLabelDirective maxlength="100" >
                      <div *ngIf="!titalText1_isEdit"  [innerHTML]="bodyText1"></div>
                      <quill-editor (change)="textChanged($event)" *ngIf="titalText1_isEdit" style="overflow-y: auto" [(ngModel)]="bodyText1" [config]="jobDescription"></quill-editor>
                    </div>
                  </div>
                  <!-- *ngIf="titalText2  || bodyText2 || image2Url" -->
                  <div class="mdl-grid popup" id="inner-element2" style="padding: 0;">
                    <div class="mdl-cell mdl-cell--4-col img-bh"  style="margin-left: -10px;">
                      <div>
                        <div  class="fileUpload " style="margin: 0;"> <img *ngIf="ImageNumber == 2" src="{{waitingImg}}"  style="position:absolute; z-index: 999; left:44%;  top:44%;" /> <img [src]="image2Url" class="imgborder" width="279" height="221" />
                          <input type="file" name="profileImage" id="uploadimg" (change)="fileChangeEvent($event, 2)"  class="upload"  />
                          <label for="uploadimg" *ngIf="image2Url" class="uploadbtnlabel  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Edit Photo</label>
                          <label for="uploadimg" *ngIf="!image2Url" class="blanckImg"><span class="bbt"><i class="material-icons">camera_alt</i> Upload Your Image</span></label>
                          <div class="deleteImgPos"><a href='javascript:void(0)' class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1" *ngIf="image2Url != ''" (click)="deleteThis(2)" ><i class="material-icons">delete_forever</i></a> </div>
                        </div>
                      </div>
                    </div>
                    <div class="mdl-cell " [ngClass]="'mdl-cell--8-col'" style="border-bottom:none;">
                      <!-- <div class="collapasile-title add-que">{{ titalText2}}</div>
                        <div [innerHTML]="bodyText2"></div> -->
                      <button type="button" (click)="toggleShow_2(0)" class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1">{{ titalText2_lbl }}</button>
                      <div *ngIf="!titalText2_isEdit"  class="collapasile-title add-que">{{titalText2 }}</div>
                      <input *ngIf="titalText2_isEdit" setFocus placeholder="Please Enter Text here" type="text" id="name" [(ngModel)]="titalText2" class="mdl-textfield__input inputMaterial" appFloatLabelDirective maxlength="100" >
                      <div *ngIf="!titalText2_isEdit" [innerHTML]="bodyText2"></div>
                      <quill-editor (change)="textChanged($event)" *ngIf="titalText2_isEdit" style="overflow-y: auto"  [(ngModel)]="bodyText2" [config]="jobDescription"></quill-editor>
                    </div>
                  </div>
                  <div class="mdl-grid popup" id="inner-element2"  style="padding: 0;">
                    <div class="mdl-cell mdl-cell--4-col img-bh" style="margin-left: -10px;">
                      <div>
                        <div  class="fileUpload " style="margin: 0;"> <img [src]="image3Url" class="imgborder" width="279" height="221" />
                          <input type="file" name="profileImage" id="uploadimg" (change)="fileChangeEvent($event, 3)"  class="upload"  />
                          <label for="uploadimg" *ngIf="image2Url" class="uploadbtnlabel  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Edit Photo</label>
                          <label for="uploadimg" *ngIf="!image3Url" class="blanckImg"><span class="bbt"><i class="material-icons">camera_alt</i> Upload Your Image</span></label>
                          <img *ngIf="ImageNumber == 3" src="{{waitingImg}}"  style="position:absolute; z-index: 999; left:44%;  top:44%;" />
                          <div class="deleteImgPos"><a href='javascript:void(0)' class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1" *ngIf="image3Url != ''" (click)="deleteThis(3)" ><i class="material-icons">delete_forever</i></a> </div>
                        </div>
                      </div>
                    </div>
                    <div class="mdl-cell"  [ngClass]="'mdl-cell--8-col'"  style="border-bottom:none;">
                      <!-- <div class="collapasile-title add-que">{{ titalText3}}</div>
                        <div [innerHTML]="bodyText3"></div> -->
                      <button type="button" (click)="toggleShow_3(0)" class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1">{{ titalText3_lbl }}</button>
                      <div *ngIf="!titalText3_isEdit"   class="collapasile-title add-que">{{titalText3 }}</div>
                      <input *ngIf="titalText3_isEdit" placeholder="Please Enter Text here" setFocus   type="text" id="name" [(ngModel)]="titalText3" class="mdl-textfield__input inputMaterial" appFloatLabelDirective maxlength="100" >
                      <div *ngIf="!titalText3_isEdit" [innerHTML]="bodyText3"></div>
                      <quill-editor (change)="textChanged($event)" *ngIf="titalText3_isEdit" style="overflow-y: auto"   [(ngModel)]="bodyText3" [config]="jobDescription"></quill-editor>
                    </div>
                  </div>
                  <div class="mdl-grid popup" id="inner-element2" style="padding: 0;">
                    <div class="mdl-cell mdl-cell--4-col img-bh" style="margin-left: -10px;">
                      <div>
                        <div  class="fileUpload " style="margin: 0;"> <img [src]="image4Url" class="imgborder" width="279" height="221" />
                          <input type="file" name="profileImage" id="uploadimg" (change)="fileChangeEvent($event, 4)"  class="upload"  />
                          <label for="uploadimg" *ngIf="image4Url" class="uploadbtnlabel  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Edit Photo</label>
                          <label for="uploadimg" *ngIf="!image4Url" class="blanckImg"><span class="bbt"><i class="material-icons">camera_alt</i> Upload Your Image</span></label>
                          <img *ngIf="ImageNumber == 4" src="{{waitingImg}}"  style="position:absolute; z-index: 999; left:44%;  top:44%;" />
                          <div class="deleteImgPos"><a href='javascript:void(0)' class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1" *ngIf="image4Url != ''" (click)="deleteThis(4)" ><i class="material-icons">delete_forever</i></a> </div>
                        </div>
                      </div>
                    </div>
                    <div class="mdl-cell" [ngClass]="'mdl-cell--8-col'" style="border-bottom:none;">
                      <!-- <div class="collapasile-title add-que">{{ titalText4}}</div>
                        <div [innerHTML]="bodyText4"></div> -->
                      <button type="button" (click)="toggleShow_4(0)" class="editbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored fab-1">{{ titalText4_lbl }}</button>
                      <div *ngIf="!titalText4_isEdit"   class="collapasile-title add-que">{{titalText4 }}</div>
                      <input *ngIf="titalText4_isEdit" setFocus placeholder="Please Enter Text here" type="text" id="name" [(ngModel)]="titalText4" class="mdl-textfield__input inputMaterial" appFloatLabelDirective maxlength="100" >
                      <div *ngIf="!titalText4_isEdit" [innerHTML]="bodyText4"></div>
                      <quill-editor (change)="textChanged($event)" *ngIf="titalText4_isEdit" style="overflow-y: auto"  [(ngModel)]="bodyText4" [config]="jobDescription"></quill-editor>
                    </div>
                  </div>
                  <hr>
                  <div class="mdl-card__actions mdl-typography--text-center"> <a (click)="onPreiviewAll()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent preview-btn fab-1 cta-add">Preview My Ad</a>
                    <button *ngIf="draftEdit" (click)="onSubmitAll('')" [disabled]="false" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 cta-sucess">Save As Draft</button>
                    <button *ngIf="draftEdit" (click)="onSubmitAll('postMyAd')" [disabled]="false" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Post My Ad</button>
                    <button *ngIf="!draftEdit" (click)="onSubmitAll('')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1">Update My Ad</button>
                  </div>
                </div>
              </div>
            </tab>
          </tabs>
        </div>
      </div>
    </section>
  </main>
</div>
<app-full-hwa-overlay (onSubmitAll)="onSubmitAll($event)" [(visible)]="showFinalHWA" [(alldata)]='alldataofHwa' ></app-full-hwa-overlay>
