.tab-contents {
    background: #fff;
    padding: 20px;
    border: 2px solid #ddd
}

.tabs [index] {
    background: #3f7c94;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    padding: 10px 20px;
    cursor: pointer
}

.tabs [index].selected {
    padding: 10px 20px;
    border: 0;
    background: #000;
    color: #fff;
    border-top: 0;
    box-sizing: border-box;
    position: relative
}

.tabs [index].selected::after {
    content: "";
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #3f7c94;
    width: 100%;
    bottom: 0
}

.mdl-textarea__label {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 15px;
    position: static;
    margin: 10px 0;
    font-weight: 500;
}

.mdl-select__label {
    color: rgba(0, 0, 0, 0.41);
    font-size: 13px;
    position: static
}

.tabs {
    margin-top: 22px;
}

.topPoint {
    margin: 20px 0 30px;
    font-weight: 500;
    font-size: 16px;
}

.no-sidebar .mdl-cell--12-col.mdl-shadow--2dp {
    background: #fff;
    border-radius: 4px;
    padding: 20px
}

.mdl-textarea__label {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 15px;
    position: static;
    margin: 10px 0;
    font-weight: 500
}

.mdl-select__label {
    color: rgba(0, 0, 0, 0.41);
    font-size: 13px;
    position: static
}

.mdl-selcet option {
    padding: 5px
}

.select-wrapper {
    border-bottom: 1px solid #9ebdca;
    min-width: 50px;
    width: auto
}

.collapasile-title {
    border-bottom: 1px solid #777;
    display: flex;
    font-size: 1.2rem;
    padding: 0 0 9px;
    width: 100%;
    margin-bottom: 20px;
    position: relative
}

.mdl-layout--fixed-header {
    background: #f6f6f6
}

.mdl-grid.collapsible .mdl-cell {
    margin: 0
}

.select-wrapper select {
    font-size: 20px;
    font-weight: 300;
    padding-right: 18px
}

.address {
    width: 100%;
    display: block;
    position: static;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 15px
}

.dAddress {
    padding: 20px 0
}

.locations_list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.locations_list li {
    margin-bottom: 10px
}

.locations_list label {
    pointer-events: auto;
    left: 0;
    font-size: 20px;
    color: #333;
    margin-bottom: 0;
    font-weight: 300
}

input.goUp+.highlight+.bar+label {
    top: -4px
}

.mdl-button--raised[disabled][disabled] {
    background: #C2CCD1
}

#AddLocations {
    position: fixed;
    top: 18%;
    width: 100%;
    left: 0;
    z-index: 9
}

#AddLocations:before {
    background: rgba(0, 0, 0, 0.75);
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1
}

#AddLocations .overlay-wrapper {
    background: #fff;
    border-radius: 5px;
    display: block;
    left: 0;
    margin: auto;
    opacity: 1;
    padding: 0;
    right: 0;
    top: 0;
    z-index: 99;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
    position: relative
}

.overlay h2 {
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    line-height: 43px;
    margin: 0 0 5px;
    padding: 0 20px
}

.overlay-close {
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 10px;
    z-index: 100;
    color: #777
}

#AddLocations .mdl-card__actions {
    border-top: 1px solid #ccc
}

.mdl-grid.collapsible .mdl-cell {
    margin: 0
}

#AddLocations select {
    padding: 0;
    font-size: 13px
}

.mdl-textfield {
    min-width: 100%;
    width: auto
}

.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
    justify-content: inherit;
    width: 100%
}

.mdl-grid {
    justify-content: space-around
}

.mdl-cell--12-col,
.mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
    width: calc(100% - 0px)
}

.mdl-cell--6-col,
.mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
    width: calc(50% - 0px)
}

.mdl-cell.mdl-cell--12-col.collapsible-wrapper {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap
}

.mdl-card__actions {
    padding: 8px 0
}

.mdl-card__actions button+p.small {
    margin: 10px 0 0
}

input.ng-valid+.highlight+.bar+label {
    color: #1c1e2c;
    font-size: 12px;
    top: -3px
}

.mdl-button--raised[disabled][disabled],
.mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
    background: #C2CCD1
}

.mdl-layout--fixed-header {
    background: #f6f6f6
}

.panel-heading {
    margin: 11px 0 20px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    font-size: 16px
}

.panel-heading .material-icons {
    cursor: pointer
}

.collapsible {
    padding: 25px;
    padding-top: 0
}

.mdl-button {
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 30px
}

#scrollHere .collapsibleb {
    height: 320px!important;
    overflow: auto
}

.panel-heading {
    margin: 11px 0 20px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    font-size: 16px
}

.panel-heading span {
    background: #fff;
    padding-right: 20px
}

.panel-heading i {
    position: relative;
    z-index: 99;
    background: #51889e;
    float: left;
    margin-right: 10px;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 16px
}

.realtimeLocation {
    position: relative;
    width: 100%
}

.locations_list {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 34px
}

.dAddress i {
    position: absolute;
    cursor: pointer;
    right: 0;
    right: -50px;
    top: 8px
}

.locations_list.expand {
    height: auto
}

input.ng-valid.ng-touched+.highlight+.bar+label {
    font-size: 16px;
    top: 20px;
    color: rgba(0, 0, 0, 0.48)
}

input.ng-valid.ng-untouched+.highlight+.bar+label {
    font-size: 16px;
    top: 20px;
    color: rgba(0, 0, 0, 0.48)
}

input.ng-valid.goUp+.highlight+.bar+label {
    top: -3px
}

.specialCase input.ng-valid+.highlight+.bar+label {
    top: -3px!important;
    color: #1c1e2c;
    font-size: 12px
}

.ng-valid.mdl-textfield__input {
    border-color: rgba(0, 0, 0, .12)
}

.ql-editor:hover::before {
    content: ""
}

#learnmore .overlay-wrapper {
    background: #fff;
    border-radius: 5px;
    display: block;
    left: 0;
    margin: auto;
    opacity: 1;
    padding: 0;
    position: fixed;
    right: 0;
    top: 22%;
    z-index: 9999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
    padding-bottom: 15px
}

.overlay2text {
    padding: 5px 11px!important
}

.ptitle {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .2pt;
    margin: 0
}

.overlay h2 {
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    line-height: 43px;
    margin: 0 0 5px;
    padding: 0 20px
}

.overlay .mdl-cell.mdl-cell--12-col {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0 30px
}

#learnmore.overlay {
    bottom: 0;
    height: 260px;
    top: 0
}

#learnmore.overlay::before {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
}

.addressOver .mdl-cell.mdl-cell--12-col {
    padding: 0!important;
    border-bottom: 0!important
}

.positionerror {
    color: #d50000;
    font-size: 12px;
    position: absolute;
    bottom: -25px
}

.errorE {
    color: #d50000;
    font-size: 12px
}

.emptyLocation {
    color: #d50000;
    font-size: 12px
}

.otherValid {
    cursor: not-allowed;
    pointer-events: none;
    background: #C2CCD1!important
}


/*KNOCKOUT QUESTION*/

#add-knockout .collapasile-title .small {
    font-size: 13px
}

#add-knockout {
    margin: 0;
    padding: 22px 0 0 0
}

#add-knockout .mdl-cell.mdl-cell--12-col.action-buttons {
    border-top: 1px solid #cccccc;
    margin: 100px auto 0;
    padding: 20px 0 0;
}

#add-knockout .mdl-button {
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
}

#add-knockout em.ks {
    font-style: normal;
    color: #323544;
    font-size: 13px;
    margin: 0 0 0 10px;
}

#add-knockout .mdl-checkbox label.mdl-checkbox__label {
    color: #333;
    font-size: 21px;
    font-weight: 100;
    padding: 0 0 0 5px;
    top: 0;
}

#add-knockout .mdl-checkbox {
    margin: 8px 0;
}

#add-knockout .collapasile-title.add-que {
    border-color: #dfecf6;
    color: #3f7c96;
    margin: 45px 0 10px;
}

#add-knockout .newCustQuestion input {
    height: auto;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#add-knockout .add_text {
    border-bottom: 1px solid #cccccc;
    border-width: 0 0 1px;
    box-sizing: border-box;
    margin: 10px 0 20px;
    padding: 0 250px 0 0;
    width: 100%;
}

#add-knockout #new-que-wrapper {
    margin-bottom: 10px;
    border-bottom: 1px solid #9fbcca;
    padding-bottom: 8px;
}

#add-knockout #new-que-wrapper {
    position: relative;
}

#add-knockout #new-que-wrapper .mdl-button {
    position: absolute;
    right: 0;
    top: 0px;
    text-transform: none;
    font-weight: 400;
    background: #407c94;
}

#add-knockout label.static {
    position: static;
    color: #222;
}

#add-knockout .mdl-button--raised[disabled][disabled] {
    background: #C2CCD1;
}

#add-knockout .overlay-close {
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 10px;
    z-index: 100;
    color: #777;
}

#add-knockout #preview-help-wanted {
    padding: 12px;
    border-radius: 5px;
    background: #fff;
}

#add-knockout .overlay h2 {
    border-bottom: 1px solid #cccccc;
    font-size: 1.2rem;
    line-height: 43px;
    margin: 0 0 5px;
    padding: 0 20px;
}

#add-knockout .overlay .mdl-cell.mdl-cell--12-col {
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 0 30px;
}

#add-knockout .preview-title {
    border: 0 none;
    font-size: 1.7rem;
    line-height: normal;
    padding: 10px 0;
}

#add-knockout .overlay .mdl-card__actions {
    margin: 10px 0;
    border-top: 1px solid #cccccc;
}

#add-knockout .mdl-cell.mdl-cell--12-col.help-text a {
    color: #447f96;
    font-weight: 700;
    cursor: pointer;
}

#add-knockout #learnmore.overlay {
    bottom: 0;
    height: 260px;
    top: 0;
}

#add-knockout #learnmore.overlay::before {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#add-knockout #learnmore.overlay .mdl-card__actions {
    margin: 2px 0 0;
}

#add-knockout #learnmore.overlay .mdl-cell.mdl-cell--12-col {
    min-height: 145px;
}

#add-knockout #inner-element.popup {
    padding: 0 10px 40px;
    height: 400px !important;
    overflow: auto;
}

#add-knockout .overlay .mdl-cell.mdl-cell--12-col {
    border-bottom: 0;
    margin: 0;
    padding: 0 30px;
    margin: auto;
}

#add-knockout .mdl-cell.mdl-cell--12-col.help-text {
    background: #e0ebef;
    border: 1px solid #6294a7;
    border-radius: 6px;
    color: #447f96;
    margin: -5px auto;
    padding: 10px;
    width: 96%;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    position: relative;
}

#add-knockout .rightbtn {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
}

#add-knockout .mdl-button {
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
}

#add-knockout .dialog::before {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

#add-knockout .dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
    #add-knockout .dialog {
        top: 40px;
    }
}

#add-knockout .dialog__close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
}

#add-knockout .helptextlist li {
    display: block;
}

#add-knockout #learnmore .overlay-wrapper {
    background: #fff;
    border-radius: 5px;
    display: block;
    left: 0;
    margin: auto;
    opacity: 1;
    padding: 0;
    position: fixed;
    right: 0;
    top: 22%;
    z-index: 9999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
    padding-bottom: 15px;
}

#add-knockout .overlay2text {
    padding: 5px 11px !important;
}

#add-knockout .ptitle {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.2pt;
    margin: 0;
}


/* SKILL OR EXP*/

#skillOrExp .select-wrapper {
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 130px;
}

#skillOrExp label.static {
    position: static;
    color: rgba(0, 0, 0, 0.88);
}

#skillOrExp .mdl-button--accent.mdl-button--accent.fab-1.add-new-skill {
    padding: 0 10px 0 5px;
    margin: 25px 0 0;
}

#skillOrExp .learnMorelink {
    display: none;
}

#skillOrExp .hidefromskill {
    display: none;
}

#skillOrExp .mdl-button {
    font-size: 13px;
    font-weight: 400;
}

#skillOrExp .mdl-textfield {
    margin-bottom: 0;
}

#skillOrExp .mdl-grid {
    margin-bottom: 20px !important;
}

#skillOrExp .ng-valid.mdl-textfield__input {
    border-bottom: 1px solid #ccc;
}

#skillOrExp .select-wrapper select:disabled {
    color: #ccc;
}

#skillOrExp .selectvisiblity {
    display: none;
}

#skillOrExp label.static {
    margin-right: 15px;
    font-size: 15px;
}

#skillOrExp .mdl-button--raised[disabled][disabled] {
    background: #C2CCD1;
}

#skillOrExp .mdl-cell--12-col .mdl-cell--12-col {
    padding-bottom: 20px
}

.imgborder {
    margin: 2px; width: 96%;
}

#inner-element2 {
    margin-bottom: 20px;
}

.editbtn {
    z-index: 999;
    float: right;
}

.tab-contents #help-wanted-ad input.ng-valid + .highlight +.bar + label{top:-4px}
.newBizprofile .inputMaterial {color:  rgb(96, 125, 139);
    border-color:#3f7c94; 
    
    padding: 0 0 10px; margin-bottom: 10px;font-family: "Roboto",sans-serif}

.newBizprofile .editbtn {
    
    position: absolute;
    right: 10px;
    top: -3px;
    background: #3f7c94 ;
 
}    
.uploadbtnlabel{left: 9px;position: absolute; top: 9px; background: #3f7c94; cursor: pointer }
.fileUpload input.upload{right: auto;height: 100%; width: 100%; left: 0;}

.newBizprofile #inner-element2.popup{position: relative}
.blanckImg{   background-color: #cccccc;
    left: 6px;
    position: absolute;
    top: 6px;
    cursor: pointer;
    width: 96%;
    height: 95%;
    color: #222;
    padding: initial;
    text-align: center;
    }

     .blanckImg .bbt{ left: 0;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%; }
    .blanckImg .bbt i{position: relative; top:6px}