.fileWrapperMain{position: relative; display: inline-block; overflow:hidden}
.fileWrapper{display: block}
.resetPosition{display: block; min-width: auto;}
.upload-resume{padding: 50px 0}
.resetPosition{position: static;text-align: center;min-width: 350px;display:inline-block;background: #005d80 url(../../../assets/arrow79.svg) no-repeat 95% / 35px; color: #fff; border-radius: 50px; font-size: 20px; font-weight: bold; padding: 0 40px 0 0px;}
.resetPosition strong{display: inline-block; vertical-align:middle; line-height: 54px; width: 300px;  cursor: pointer;text-overflow: ellipsis;
white-space: nowrap;overflow: hidden; font-weight: 500;  }
.fileWrapper  [type=file]{cursor: pointer;display: block;font-size: 32px;filter: alpha(opacity=0);
    height:54px; min-width: 100%;opacity: 0; position: absolute; right: 0; text-align: right;top: 0;}

.no-resume{font-size: 14px; color: #555}
.no-resume a{cursor: pointer}
.upload-resume{padding: 77px 0;}
.description{font-size: 10px;color: #666; margin: 0px 0 20px; line-height: 11px;}
form{display: inline-block; text-align: center}

button.btn{border-radius:50px; color: #fff; background: #114053; border: 1px solid #114053; font-family: Arial, Helvetica, sans-serif;   font-size: 18px; cursor: pointer; line-height: 38px; padding: 0 40px; height: auto}
button.btn:disabled{ cursor: default; background: #eee; border: 1px solid #7b98a4; color: #7b98a4;}
.errorFile{position: relative; transition: opacity 0.4s ease-in-out;}
.errorFile span{color: red; font-size: 11px; position: absolute;top: -25px; width: 100%; text-align: center; left: 0; }
.succFile{position: relative}
.succFile span{color: #28aa34; font-size:11px; position: absolute;top: -25px; width: 100%; text-align: center; left: 0; }
.loading{position: relative}
.loading img{position:absolute; z-index: 999; left:50%; margin-left: -16px;  top:-40px;}

@media only screen and (max-width: 840px) {
  form{width: auto; display: block}
  form label.resetPosition{display: block; min-width:inherit; padding: 0; font-size: 15px;}
  .fileWrapperMain{min-width: 100%}
  form label.resetPosition strong{width: auto; line-height: 44px;}
  .resetPosition{background: #005d80 url(../../../assets/arrow79.svg) no-repeat 94% / 22px; }

}

/* Prompt box */
.alert-box{position: fixed;  z-index: 999}
.alert-box .confirm{cursor:pointer; background: #007faf; color: #fff; border-radius: 50px; width: 150px; line-height: 40px; font-size: 18px; border: 0}
.alert-box h2{font-size: 24px; color: #555;line-height: 24px;}
.alert-box p{font-size: 14px; color: #666;}
.alert-box .overlay-bg{content: ""; background: rgba(0,0,0,0.8); position: fixed; top:0; left: 0; width: 100%; height: 100%; z-index: -1}
.alert-box .m-b{position: fixed; background: #fff3e0; border-radius: 4px; box-sizing: border-box;   padding: 10px 30px; width:400px; height: 185px; top:50%; margin-top: -70px; left: 50%; margin-left: -200px; box-shadow: rgba(0,0,0,.1) 0 2px 3px, rgba(0,0,0,.2) 0 5px 15px}
@keyframes blink {
   0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

button.btn span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin-left: 2px;
}

button.btn span:nth-child(2) {
  animation-delay: .2s;
}

button.btn span:nth-child(3) {
  animation-delay: .4s;
}
.abs{display: inline-block}
.abs b{width: 5px; height:5px; display: inline-block; background: #fff; border-radius: 50%;}
button.btn:disabled .abs b{background: #000;}
button:focus{outline: none; box-shadow: 2px 2px 10px deepskyblue}
