<div class="loading"><img *ngIf="imgLoading" src="assets/fileu.svg" /></div>
<div class="succFile"><span>{{showFilesucc}}</span></div>
<div class="errorFile"><span>{{showFileError}}</span></div>
<form [formGroup]="fileUploadForm" enctype="multipart/form-data">
  <div class="fileWrapperMain">
    <div class="fileWrapper">
      <input type="file" appFileUpload (change)="fileChange($event)" id="resumeFile"  name="file" placeholder="Upload file" accept=".pdf,.doc,.docx"
        formControlName="fileup">
      <label for="resumeFile" class="resetPosition"><strong>Upload Resume</strong></label></div>
  </div>
  <div class="description">Supported file type: .doc, .docx and .pdf (<strong class="file-size"><</strong> 10mb)</div>
  <button class="btn" (click)="uploadResume()" [disabled]="!resumeUploded">{{dynamicText}} <em class="abs" *ngIf="abs"><span><b></b></span><span><b></b></span><span><b></b></span></em></button>
</form>

<div class="alert-box" *ngIf="showModel">
  <div class="overlay-bg"></div>
  <div class="m-b"><h2>Already Applied!</h2>
    <p>You have already applied for this Help Wanted Ad!</p>
    <div class="action"><button class="confirm" (click)="closeModel()">Ok</button></div></div>
</div>
