.block_title {
    font-size: 22px;
    color: #1c1e2c;
    margin: 0;
    line-height: normal;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 4px; text-align: center;margin-bottom: 20px
}
.white-box-center{margin: auto;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-top: 15px;}
.Emailerror{text-align: center; color:#d50000; position: relative;-webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;}
.inside{width:100%;-webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;}

#registration .mdl-cell, #registrationSucess .mdl-cell, #login .mdl-cell {
  margin: 0 8px;
}
.ng-dirty +.highlight +.bar +label +.error{transition: all 1s ease-in;}
.ng-dirty +.highlight +.bar +label +.error{transition: all 1s ease-in;}
.mdl-cell{margin-top:0; margin-top:0}
form{position: relative}
.Emailerror.error{width: 100%; left: 0; top:-20px; font-size: 16px}
.Emailerror.error .inside{width:410px; display: inline-block}
#registration{margin-bottom: 30px}
