<div class="frs-layout-transparent mdl-layout mdl-js-layout">
  <app-header></app-header>
  <main class="mdl-layout__content">
    <section class="section--center">
      <div id="registration" class="mdl-cell mdl-cell--5-col mdl-shadow--2dp white-box-center">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <h2 class="block_title">Registration</h2>
          </div>
        </div>
        <form [formGroup]="myForm" novalidate >
          <div class="Emailerror error"><span class="inside">{{ emailStatus }}</span></div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input inputMaterial" appFloatLabelDirective maxlength="100"  id="bName"  align="" type="text" formControlName="businessname" >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="mdl-textfield__label" for="bName">Name of Your Business</label>
                <label class="mdl-textfield__error" >Business name is required</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input inputMaterial" appFloatLabelDirective type="text" maxlength="100" id="firstName" formControlName="firstname">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="mdl-textfield__label" for="firstName" >Your First Name</label>
                <label class="mdl-textfield__error">First Name is required</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input inputMaterial" appFloatLabelDirective="" maxlength="100"  id="lastName"  formControlName="lastname">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="mdl-textfield__label" for="lastName" >Your Last Name</label>
                <label class="mdl-textfield__error">First Name is required</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input inputMaterial" maxlength="100" id="enterEmail" type="email" #email formControlName="email" appFloatLabelDirective="">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="mdl-textfield__label" for="enterEmail">Your Email Address </label>
                <label class="mdl-textfield__error">First Name is required</label>

              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input inputMaterial" maxlength="100" type="email" id="confirmEmail"  #confirmemail  formControlName="confirmemail" appFloatLabelDirective>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="mdl-textfield__label" for="confirmEmail" >Confirm Your Email Address</label>
                <div class="error" *ngIf="myForm.controls['email'].value !== myForm.controls['confirmemail'].value">
                  Email address does not match
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input inputMaterial"  [textMask]="{mask: mask}" [(ngModel)]="myModel" id="phoneNumb"  name="Phone" formControlName="phone" appFloatLabelDirective="">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="mdl-textfield__label" for="phoneNumb">Your Phone Number</label>
                <div class="error" *ngIf="!myForm.controls['phone'].valid">
                  Please enter a valid phone number(111-111-1111)
                </div>
              </div>
            </div>

            <div class="mdl-card__actions mdl-typography--text-center">
              <alert-msg [message]="!myForm.valid"></alert-msg>
              <div style="position: relative; padding-bottom: 5px;">
                <div style="position: absolute; width: 100%; left: 0; bottom: 10px;"><img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /></div>
              </div>
              <button (click)="onSubmit(myForm.value, myForm.valid, $event)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent global-btn" type="button" [disabled]="!myForm.valid"> Register Now </button>

            </div>
            <div class="login-link center">Already Have a Talentrackr&trade;    Account? <a (click)="goTologin()" style="cursor: pointer" >LOGIN</a></div>
          </div>
        </form>
      </div>
    </section>
  </main>

</div>

