
<div class="frs-layout-transparent mdl-layout mdl-js-layout ">
  <app-header></app-header>
  <main class="mdl-layout__content">
    <section class="section--center">
      <div id="registrationSucess" class="mdl-cell mdl-cell--5-col mdl-shadow--2dp white-box-center">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col"><h2 class="block_title">Thank You For Registering</h2></div>
          <alert-msg [message]="true"></alert-msg>
          <div class="mdl-cell mdl-cell--12-col"><div class="mdl-typography--text-center" align="center"><p align="center">Please check your email, we have sent you a link to set your password.</p></div></div>

        </div>

      </div>
    </section>
  </main>
</div>
