/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
body {
  background: #ccc;
  font-family: 'Roboto', sans-serif
}
.box-center {
  margin: auto;
  float: none!important;
  border-radius: 4px
}
.mdl-textfield {
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
/* LABEL ======================================= */

label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: rgb(96, 125, 139);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

.squeezebox .sb-item {
  overflow: hidden;
}

.squeezebox sb-item:first-child .sb-item {
}

.squeezebox .sb-item-head a {
  color: #000000;
  cursor: pointer;
  display: block;
}

.squeezebox .sb-item .sb-item-head a .toggle-icon {
  display: block;
  float: right;
  height: 16px;
  position: relative;
  transform: rotate(45deg);
  transition: 0.3s transform;
  width: 16px;display: none;
}
/* NEW TAB */
body .tabWrapper tabs{padding: 0;display: block;height: auto;
}
body .tabWrapper .tabs__tab-bar{overflow:visible!important;padding: 0!important; margin: 0 0 0px!important; border: 0!important; border-radius: 0; }
body .tabWrapper .tabs__panel{background: #fff!important;  margin: 0;box-shadow:0 0 0;border-radius: 0;
  padding: 20px;
  border: 2px solid #ddd;
}
body .tabWrapper .tabs__tab.active{border-bottom: 3px solid #28ae61!important;background-color: #00384f !important;color: #fff!important;}
body .tabWrapper .tabs__tab{padding: 5px 20px!important;border-radius: 8px 8px 0 0!important;border-bottom: 3px solid transparent!important;
  background-color: #ddd!important; cursor: pointer;margin-right: 2px;}
/*TAB END */

/*Tab Style 2*/
body .tabWrapperMobile tabs{padding: 0;display: block;height: auto;}
body .tabWrapperMobile .tabs__tab-bar{    white-space: nowrap;
  overflow: auto;text-align:center;border: 0; border-bottom: 1px solid #ccc; margin: 15px 0 0; padding: 0; border-radius: 0;}
body .tabWrapperMobile .tabs__tab.active{border-bottom: 3px solid #28ae61;background: #00384f!important;color: #fff}
body .tabWrapperMobile .tabs__tab{padding: 5px 20px;border-radius: 8px 8px 0 0; border: 1px solid #ccc;border-bottom: 3px solid transparent;
  background-color: #ddd; cursor: pointer;margin-right: 2px;   }
body .tabWrapperMobile .tabs__panel{background: none; padding: 0; border: 0;box-shadow:0 0 0}
body .tabWrapperMobile .tabs__panel ul{margin: 0;}

.simple-notification{margin: 0!important; border-radius: 3px; overflow: hidden;     box-shadow: 1px 11px 10px #ddd;}
.simple-notification-wrapper{left: 50%; margin-left: -150px;}
.simple-notification.info {
  background: #3d8cc9!important;
}
.simple-notification .sn-title{font-size: 18px;}
body .simple-notification .sn-content{font-size: 14px;}
body .simple-notification.info .sn-progress-loader span{background: #062e4d}
body .simple-notification .sn-progress-loader{height: 3px;}
.squeezebox .sb-item.is-collapsed .sb-item-head a .toggle-icon {
  transform: rotate(0); display: none;
}

.squeezebox .sb-item-head a .toggle-icon:before,
.squeezebox .sb-item-head a .toggle-icon:after {
  background: #000000;
  content: ' ';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 1px;
}

.squeezebox .sb-item-head a .toggle-icon:after {
  transform: rotate(90deg);
}

.squeezebox .sb-item .sb-item-body {
  height: 0;
  overflow: hidden;
  transition: 0.5s height;
}

.squeezebox .sb-item .sb-item-body .inner {
}
.infoHeading h4 span{transition: 0.3s transform;    transform: rotate(0deg);}
.is-collapsed .infoHeading h4 span{transition: 0.3s transform;    transform: rotate(-180deg);}
/* active state */

.inputMaterial:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.center {
  text-align: center;
  width: 100%
}
.global-btn {
  border-radius: 4px;
  font-size: 22px;
  text-transform: none;
  font-weight: 400;
  padding: 5px 80px;
  height: auto;
}
.mdl-button--raised.global-btn[disabled][disabled],
.mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
  background: #C2CCD1
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background: #3f7c94;
  color: #fff;
}
.login-link {
  text-align: center;
  width: 100%;
  margin-top: 15px;
}
.white-box-center {
  margin: auto;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  margin-top: 15px;
}
.login-link a {
  color: #000;
  text-decoration: none;
  font-weight: 500
}
.error {
  color: #d50000;
  font-size: 12px;
  position: absolute
}
.ng-untouched+.highlight+.bar+.mdl-textfield__label+.error {
  visibility: hidden
}
.mdl-button {
  text-transform: none
}
.ng-valid.mdl-textfield__input {
  border-color: yellowgreen
}
.ng-dirty.ng-invalid.mdl-textfield__input {
  border-color: red
}
input.goUp+.highlight+.bar+label {
  color: #1c1e2c;
  font-size: 12px;
  top: -7px
}
/* active state */

.ng-invalid+.highlight+.bar+label {
  font-size: 16px;
  top: 20px;
  color: rgba(0, 0, 0, 0.48)
}
/* active state */

.inputMaterial:focus {
  outline: 0
}
.inputMaterial:focus~.bar:before,
.inputMaterial:focus~.bar:after {
  width: 50%;
}
#loggedInPage {
  width: 660px;
}
#loggedInPage {
  margin: 15px auto auto;
  text-align: center;
}
#loggedInPage h3 {
  font-size: 20px;
  color: #1c1e2c;
  font-weight: 400;
  margin-bottom: 0;
}
#loggedInPage h3 i {
  color: #e67e22;
  display: inline-block;
  vertical-align: middle;
}
#loggedInPage h2 {
  font-size: 24px;
  color: #1c1e2c;
  font-weight: 400;
  margin: 0;
}
#loggedInPage .frs_card_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  color: #fff;
}
#loggedInPage .frs_card_wrapper .frs-card-wide {
  background: #006ea0;
}
#loggedInPage .frs_card_wrapper .frs-card-wide:hover {
  background: #01547a;
}
#loggedInPage .frs_card_wrapper .frs-card-wide2 {
  background: #0a8cbe;
}
#loggedInPage .frs_card_wrapper .frs-card-wide2:hover {
  background: #246d8a;
}
#loggedInPage .frs_card_wrapper .mdl-card {
  width: 48%;
  cursor: pointer;
}
#loggedInPage .frs_card_wrapper .mdl-card a {
  color: #fff;
  text-decoration: none
}
#loggedInPage .frs_card_wrapper h2 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 46px;
  color: #fff;
  line-height: 22px;
}
#loggedInPage .frs_card_wrapper .supporting-text {
  font-size: 18px;
  font-weight: 300;
  margin: auto;
  margin-top: 0;
  text-align: left
}
#loggedInPage {
  margin: 15px auto auto;
  text-align: center;
}
.mdl-layout__content {
  width: 100%
}
#loggedInPage .frs_card_wrapper .supporting-text a {
  font-weight: 300
}
.select-wrapper select {
  border: 0 none;
  margin: 0;
  padding: 5px;
  font-family: roboto;
}
select {
  width: 100%;
  background: url(assets/select-drop.png) no-repeat right /12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  color: #460e71;
}
.select-wrapper {
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100px;
}
.select-wrapper label {
  position: static
}
alert-msg {
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  text-align: center;
  width: 100%;
  z-index: 999999999;
}
.mdl-cell.mdl-cell--12-col.help-text a {
  color: #447f96;
  font-weight: 700;
  cursor: pointer;
}
.ql-toolbar.ql-snow {
  background: #eee;
  border-radius: 4px 4px 0 0;
}
.ql-container.ql-snow {
  border-radius: 0 0 4px 4px;
}
.ql-editor.ql-blank::before {
  line-height: 25px;
  font-style: normal!important;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif
}
.editorHwa p {
  line-height: normal;
  margin-bottom: 10px;
}
.helptextlist li:last-child {
  display: inline-block
}
@media print {
  .dialog {
    position: absolute!important;
    height: 100%!important;
  }
  .dialog .mdl-cell--9-col {
    width: 68%;
    float: left
  }
  .dialog .mdl-cell--3-col {
    width: 28%;
    float: left;
    overflow: hidden;
    box-sizing: border-box
  }
  .hide-print {
    display: none;
    background: red
  }
  #inner-element.popup {
    height: auto!important;
    overflow: visible!important;
  }
}
overlay[ng-reflect-check-flag="fromSkill"] .hidefromskill {
  display: none;
}
overlay[ng-reflect-check-flag="fromSkill"] .helptextlist li span {
  margin-left: -15px;
}
overlay[ng-reflect-check-flag="fromSkill"] .helptextlist {
  width: 80%
}
overlay[ng-reflect-check-flag="fromSkill"] .help-text {
  padding-bottom: 1px!important;
}
.profImg {
  height: auto;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #999;
  margin-top: 10px;
}
.imgborder {
  border: 5px solid #fff;
  box-shadow: 0px 0px 4px #555;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.changphoto {
  display: inline-block;
}
.changphoto span {
  color: #3f7c94;
}
.bfp alert-msg {
  z-index: 99999999
}
#dinerProfile .editorHwa p {
  font-size: 14px;
  line-height: 24px;
}
#dinerProfile .profileCreation p {
  font-size: 13px;
  line-height: 18px;
}
.newBizprofile .ql-container.ql-snow {
  height: auto
}
.table-sortable > thead > tr > th {
  cursor: pointer;
  position: relative;
  background-image: none;
}
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th.sort-false:after,
.table-sortable > thead > tr > th.sort-true:after {
  font-family: FontAwesome;
  padding-left: 5px;
}
.table-sortable > thead > tr > th:after {
  color: #ddd;
  width: 10px;
  height: 5px;
  display: inline-block;
}
.table-sortable > thead > tr > th.sort-false:after {
  content: "";
  background: url(assets/mdl-down.png) no-repeat;
  background-size: 10px 5px;
}
.table-sortable > thead > tr > th.sort-true:after {
  content: "";
  background: url(assets/mdl-up.png) no-repeat;
  background-size: 10px 5px;
}
.text-center {
  text-align: center
}
.breadcrumb.hide-print {
  display: none
}
.cta-sucess {
  background: #37981d!important
}
.cta-disable[disabled] {
  background: #3f7c94!important;
  opacity: 0.5;
}
.cta-disable.cta-sucess[disabled] {
  background: #37981d!important;
  opacity: 0.5;
}
.cta-danger {
  background: #e84c3d!important
}
.cta-skip {
  background: #989999!important
}
.cta-add {
  background: #288db5!important
}
.cta-sucess[disabled] {
  background: #37981d!important;
  opacity: 0.5;
}
.no-list-view {
  padding-top: 20px;
  font-style: italic;
  color: activecaption
}
.floted-right {
  float: right
}
.editorHtml h1 {
  font-size: 18px;
  margin: 0;
}
.editorHtml h2 {
  font-size: 16px;
  margin: 0;
}
.editorHtml h3 {
  font-size: 15px;
  margin: 0;
}
.editorHtml h4 {
  font-size: 14px;
  margin: 0;
}
app-landing,
app-know-more,
app-knockout-question,
app-skill-question,
app-sucess-screen {
  display: block;
  background: #fff;
  height: 100vh
}

/* All Applicants */
app-active-hwa-list, app-applicants-list, app-view-application{background: #f6f6f6; display: block; min-height: 100vh; height: 101%}

@media only screen and (max-width: 840px) {
  app-landing,
  app-know-more,
  app-knockout-question,
  app-skill-question,
  app-sucess-screen {
    height: 100%
  }
  body {
    background: #fff
  }
}
.newLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
/*Applicant Workflow*/

.buildresume,
.buildresume1 {
  background: #fff url(assets/build-resume.jpg) no-repeat center bottom
}
.buildresume1 .copyright {
  position: static!important
}
#dinerProfile .profileCreation .img img {
  width: 100%;
  height: 240px!important;
}
