<app-applicant-header></app-applicant-header>
<div class="main-wrapper">
  <div class="mobile-first-wrapper center">
    <h2 class="times">Sign In</h2>
    <p class="helpText">With your favorite</p>
    <applicant-login></applicant-login>
    <div class="Or"><span>OR</span></div>

    <form [formGroup]="knowMoreInfoForm" novalidate>
      <div class="errorEmail"> {{userAlready}}</div>
      <div class="field-wrapper clearfix">
        <div class="field">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial " type="text" maxlength="100" type="text" appFloatLabelDirective="" formControlName="firstName">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">First Name</label>
            <div class="error" *ngIf="!knowMoreInfoForm.controls['firstName'].valid">
              Please enter valid First Name
            </div>
          </div>

        </div>
      </div>
      <div class="field-wrapper clearfix">
        <div class="field">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial " type="text" maxlength="100" type="text" appFloatLabelDirective="" formControlName="lastName">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">Last Name</label>
            <div class="error" *ngIf="!knowMoreInfoForm.controls['lastName'].valid">
              Please enter valid Last Name
            </div>
          </div>

        </div>

      </div>
      <div class="field-wrapper clearfix two-field">

        <div class="field left">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial "  type="email" maxlength="100"  appFloatLabelDirective="" formControlName="Email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">Email</label>
            <div class="error" *ngIf="!knowMoreInfoForm.controls['Email'].valid">
              Please enter a valid Email Address
            </div>
          </div>
        </div>

        <div class="field right">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial " [textMask]="{mask: mask}" [(ngModel)]="myModel" id="phoneNumb"
                   maxlength="100" type="tel" appFloatLabelDirective="" formControlName="cellPhone">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">Cell Phone</label>
            <div class="error" *ngIf="!knowMoreInfoForm.controls['cellPhone'].valid">
              Please enter a valid phone number(111-111-1111)
            </div>
          </div>

        </div>
      </div>

      <div class="field-wrapper clearfix three-field">
        <div class="field left ">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial " (blur)="zipCodeSearch(i)" [textMask]="{mask: zipmask}"
                   type="text" appFloatLabelDirective="" formControlName="zipCode">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">Zip Code</label>
            <span class="error">{{validZipStatus}}</span>
          </div>

        </div>
        <div class="field left mid specialCase" *ngIf="!showSelect">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial "  maxlength="100" type="text" appFloatLabelDirective="" formControlName="city">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">City</label>
          </div>

        </div>
        <div class="field left mid specialCase" *ngIf="showSelect">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label select-wrapper">
            <label class="" for="State" style="font-size:12px; color: #000; position: relative; top:-9px; left: 0">City</label>
            <select  formControlName="city" style="font-size: 16px;font-weight: 400; padding-bottom: 4px;">
              <option *ngFor="let city of getCityinfoList">{{city}}</option>
            </select>
          </div>

        </div>

        <div class="field right specialCase">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input inputMaterial "  type="text" maxlength="100" type="text" appFloatLabelDirective="" formControlName="state">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="mdl-textfield__label">State</label>
          </div>

        </div>
      </div>
      <div class="loadingH">
        <img *ngIf="formSubmit" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="  />
      </div>
      <button (click)="registerCandidate(knowMoreInfoForm.value, knowMoreInfoForm.valid, $event)"  class="btn mar-top" [disabled]="!knowMoreInfoForm.valid">Continue</button>
    </form>
    <div class="alredyHaveLogin"><span class="hide-on-mobile">Already have an account?</span> <a (click)="SignIn()">Sign In</a> <span class="hide-on-mobile">Now!</span></div>

  </div>

</div>

<app-applicant-footer></app-applicant-footer>
