
.main-wrapper{width:580px; margin: auto; padding: 0 20px;}
.Or{position: relative; margin: 30px 0}
.Or:after{position: absolute; width: 100%; height: 1px; background: #ccc; content: ""; left: 0; top: 13px; z-index: -1}
.Or span{background: #3f7b97; display: inline-block; color: #fff; border-radius: 50%; width: 28px; line-height: 28px; text-align: center}

@media only screen and (max-width: 840px) {
  .main-wrapper{width: auto}
}
