#loggedInPage .frs_card_wrapper{margin-top:26px}
.mdl-button.fab-1 {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #398ab2;border-radius:3px; color: #398ab2;font-size: 13px;margin: 35px 0;}
#loggedInPage .frs_card_wrapper .mdl-card {
  min-height: 160px;
  border-radius: 4px;
}
#loggedInPage .frs_card_wrapper h2 {
  margin: 50px 0 10px;
}
.mdl-layout{background: #f6f6f6;min-height: 100vh;}
.mdl-button.fab-1 {}
.left-sidebar .mdl-cell.mdl-cell--10-col.center, .no-sidebar .mdl-cell--10-col.center {
  margin: 0 auto 100px;
}
.auto{margin: auto;}
.no-sidebar .no-bg .mdl-cell--12-col.mdl-shadow--2dp {
  margin-bottom: 30px;
  margin-top: 0;
}
.no-sidebar .mdl-cell--12-col.mdl-shadow--2dp {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}
.mdl-cell--9-col.mdl-shadow--2dp, .mdl-cell--3-col.mdl-shadow--2dp {background: #fff;border-radius: 4px;padding:20px;}
.large-2 {font-size: 22px;font-weight: 400;line-height: 35px;}
.large-3 {font-size: 18px;font-weight: 400;line-height: 35px;}
.font-style-01 {color: #3f7d94;font-size: 20px;line-height: 35px;margin: 0 0 15px;}

.sidebar-title {border-bottom: 1px solid #cccccc;font-size: 18px;line-height: normal;margin: 0;padding: 0 0 8px;}
.mdl-cell--3-col ul {display: inline-block;margin: 0;padding: 10px 0;}
.mdl-cell--3-col ul li {display: inline-block;list-style: outside none none;padding: 0 0 10px;}
.mdl-cell--3-col ul ul {padding: 10px 0 0 20px;}
.mdl-cell--3-col td:last-child {font-size: 16px;font-weight: 500;padding: 0 0 0 16px;}
.mdl-cell--3-col tr:last-child td {border-top: 1px solid #3e7c95;padding-top: 10px;}
.mdl-cell--3-col .coupon > label {color: #3f7d94;display: inline-block;font-size: 13px;font-weight: 500;margin: 11px 0 5px;width: 100%;}
.mdl-cell--3-col .form-item > input[type="text"] {border-color: #aaaaaa;border-radius: 3px 0 0 3px;border-style: solid;border-width: 1px 0 1px 1px;display: inline-block;height: 29px;width: 140px;}
.mdl-cell--3-col .form-item input[type="button"] {background: #3f7b95 none repeat scroll 0 0;border: 0 none;border-radius: 0 3px 3px 0;color: #ffffff;display: inline-block;font-size: 12px;font-weight: 600;height: 33px;vertical-align: top;width: 63px;}

.mdl-cell.mdl-cell--12-col .mdl-text__input,.mdl-cell.mdl-cell--6-col .mdl-text__input {border-color: #cccccc;border-style: solid;border-width: 0 0 1px;font-family: roboto;font-size: 18px;font-weight: 100;height: 33px;margin: 10px 0 0;width: 100%;}
label,.mdl-select__label {display: inline-block;font-size: 13px;width: 100%;}
.select-wrapper {margin: 18px 0 0;width: 100%;}

.card-expire .select-wrapper {margin: 18px 20px 0 0;width: 100px;}
.mdl-cell.mdl-cell--12-col.checkbox {
  padding: 20px 0;
}
.mdl-cell.mdl-cell--12-col.checkbox .title-text {font-size: 18px;font-weight: 300;padding: 0 0 15px;}
.mdl-cell.mdl-cell--12-col.checkbox input {display: inline-block;margin: 0 5px 0 0;}
.mdl-cell.mdl-cell--12-col.checkbox label {width: auto;}
.mdl-cell.mdl-cell--4-col {padding: 0 46px 0 0;}

.mdl-cell.mdl-cell--12-col.bordered {border-bottom: 1px solid #cccccc;border-top: 1px solid #999999;margin: 25px 0 20px;padding: 0;}
.mdl-cell.mdl-cell--12-col.bordered p {font-size: 16px;}
.mdl-cell.mdl-cell--12-col.bordered label {display: inline-block;margin: -1px 0 0;padding: 0 0 0 5px;vertical-align: top;width: 90%;}

.mdl-cell--3-col .coupon.center .form-item input[type="button"] {border-radius: 4px;display: block;float: none;height: 30px;margin: 25px auto 0;}
.collapsible-wrapper .label-text {display: inline-block;font-size: 18px;width: 100%;}

.no-sidebar .no-bg .mdl-cell--12-col.mdl-shadow--2dp {margin-bottom: 30px;margin-top: 0;}
.date-wrapper {background: #ffffff none repeat scroll 0 0;border: 1px solid #cccccc;border-radius: 3px;display: inline-block;height: 39px;position: relative;width: 180px;}
.date-wrapper .date-i {border-left: 1px solid #cccccc;color: #777777;height: 28px;padding: 4px 10px 0;position: absolute;right: 0;top: 3px;}
.date-wrapper input {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;font-family: roboto;font-size: 17px;padding: 9px;width: 100%;}
.collapasile-title .small {color: #a14442;font-size: 12px;}
.start-end-date {border-bottom: 1px solid #cccccc;display: inline-block;margin: 0 0 20px;padding: 20px 0 40px;width: 100%;}
.start-end-date .start,.start-end-date .end {display: inline-block; vertical-align: top; width: 30%}
.start-end-date .end strong {font-weight: 400;line-height: 36px; display: block; font-size: 18px;}

.radio {display: inline-block;margin: 5px 0 0;padding: 0 20px 0 0;}
.radio input {margin: 0 7px 0 0;}
.start-end-date label {margin: 0 0 7px;}

.radio label {width: auto;}
.no-sidebar .no-bg .mdl-cell--12-col.mdl-shadow--2dp:last-child {margin-bottom: 0;padding-bottom: 90px;}
.mdl-button--accent.mdl-button--accent.fab-1[disabled="disabled"] {background: #9ab9c5 none repeat scroll 0 0;}
label{position: static}
.mdl-button--accent.mdl-button--accent.fab-1{background:#407c94;letter-spacing: 0.2pt;text-transform: none;color:#fff; font-size: 13px; font-weight: 500}
.select-wrapper select {
    font-size: 16px;
    font-weight: 300;
    padding-right: 18px;
}
.select-wrapper select {
    border: 0 none;
    font-family: roboto;
    margin: 0;
    padding-left: 0;
    padding-right: 50px;
    background-position: 95%; color: #000
}
.select-wrapper select  option{line-height: 20px;}
.select-wrapper{width: auto}

.selbtngroup .btnclear{display: none}
.post-ad:disabled{background: #c2ccd1!important; border: 0}
.post-ad{display: inline-block!important}
