<alert-msg [message]="alertmsg"></alert-msg>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <app-global-header></app-global-header>
  <main class="mdl-layout__content no-sidebar profile">
    <section class="section--center">
      <breadcrumb-title [checkFlag]="post_ad1"></breadcrumb-title>
      <div id="help-wanted-ad" class="mdl-cell mdl-cell--10-col auto">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col mdl-shadow--0dp no-bg">
            <div class="mdl-typography--text-left">
              <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" >

                 <p style="margin:0">Help Wanted Ad for Post: <strong class="large-2">{{position}}</strong> <br />
                  Open Positions: <strong class="large-3">{{selectedNofPostion}}</strong>&nbsp; <br />Type of Hire: <strong class="large-3">{{posType}}</strong>
                </p>
              </div>
 
              <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" style="min-height: 360px">
                <div class="collapasile-title" style="font-size: 16px;"><span style="font-weight: 500">Help Wanted Ad Posting Details</span> <span class="small">(Talentrackr, Help Wanted Ads Run for 14 Days )</span></div>
                <div class="start-end-date">
                  <div class="end"><label>Extend Date for Ad to Start</label>
                     <strong>{{startDate | date: 'MM/dd/yyyy' }}</strong>
<!-- <my-date-picker [options]="myDatePickerOptions" (dateChanged)="selectstartDate($event)"></my-date-picker> -->
                  </div>
   
                  <div class="end" style="margin-left: 20px;"><label>Extended Date for Ad to End</label>
                  <strong>{{endDatevalue | date: 'MM/dd/yyyy' }}</strong>
                 
                  </div>
                </div>
                <div class="font-style-01" style="font-size: 14px; line-height: 14px; font-weight: 500; margin: 0;">Want Your Ad to Run Longer Than 14 Days, Save Money and Pre-buy an Ad Extension</div>
              <div class="select-wrapper">
                <select (change)="selectstartDate($event)" placeholder="Select Additional Days" [(ngModel)]="additionalDays" name="extend">
                  <!--<option value="0">No Additional Days</option>-->
                  <option value="7">7 Additional Days - ${{for7DaysAmt | number : '1.2-2'}}</option>
                  <option value="14">14 Additional Days - ${{for14DaysAmt | number : '1.2-2'}}</option>
                </select>
                </div>
              </div>


            </div>

          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp">
            <div class="mdl-typography--text-left">
              <h2 class="sidebar-title">Summary of Charges</h2>
              <ul style="font-size: 13px; line-height: normal">
                <li>1) 14 day Help Wanted Ad posting, this includes;
                  <ul>
                    <li>i) Automatic candidate searching & invitations to apply.</li>
                    <li>ii) Searchable ad posted to Indeed with links back to Talentrackr recruiting tool.</li>
                  </ul>
                </li>
              </ul>
              <table width="100%" border="0" cellpadding="4" cellspacing="0" style="text-align: right">
               <!-- <tr>
                  <td align="right">	FRS Additional 14 Days



                  </td>
                  <td>&nbsp;&nbsp;${{defaultAmount | number : '1.2-2'}}</td>

                </tr>-->
                <tr *ngIf="additionalDays">
                  <td align="right">+ Extend for {{additionalDays}} Days</td>
                  <td width="60">&nbsp;&nbsp;${{additionalAmt | number : '1.2-2'}}</td>
                </tr>
                <tr>
                  <td align="right">— Coupon Discount	</td>
                  <td width="60">&nbsp;&nbsp;$0.00</td>
                </tr>
                <tr>
                  <td align="right">&nbsp;</td>
                  <td width="60">&nbsp;</td>
                </tr>
                <tr>
                  <td align="right">Total	</td>
                  <td width="60">${{totalAmt | number : '1.2-2'}}</td>
                </tr>
              </table>
              <div class="coupon">
                <label>Have a Promo Code,</label>
                <div class="form-item">
                <input name="" type="text" />
                <input name="Apply" type="button" value="Apply" style="margin-left: -7px;" />
               
                </div>
              </div>

            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col ">
            <div class="mdl-typography--text-center">
              
              <button  [disabled]="!isDteValid"  class="post-ad mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fab-1 preview-btn" (click)="submitHWA()">Post My Ad</button>
             
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
</div>
