<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <app-global-header></app-global-header>
  <main class="mdl-layout__content">
    <section class="section--center">
      <div class="mdl-cell mdl-cell--5-col" id="loggedInPage">
        <div class="grid">
          <div class="mdl-cell mdl-cell--12-col">

          <h1 style="margin-top: 100px; font-weight: 300">{{title}}</h1>
          </div>
          <div class="frs_card_wrapper" style="display: inherit; margin-top: 30px;">
      <form #form class="form-inline" name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" style="display: inline-flex;">
       <input type="hidden" name="cmd" value="_xclick">
       <input type="hidden" name="business" value="customersuccess@talentrackr.com">
       <input type="hidden" name="currency_code" value="{{currencyCode}}">
       <input type="hidden" name="item_name" value="{{positionTitle}}">
       <input type="hidden" name="item_number"  value="1"/>

       <span class="usd" >$</span><input type="text" name="amount" class="form-control" size="5" readonly id="paypalAmount" [ngModel]="paymentAmt | number : '1.2-2'" style="font-size:22px; text-align: center; border-radius:4px; border: 1px solid #333; padding:0 20px; margin-right: 20px;"/>

       <input type="hidden" name="return" value="{{drupalDomainUrl}}/payment_process/?hwa_id={{hwaId}}&&start_date={{start_date}}&&end_date={{end_date}}&&extend_date_days={{extend_date_days}}&&uid={{uid}}&&extended={{action}}&&amount={{paymentAmt}}&&currency={{currencyCode}}&&actual_datetime={{currentDateTimestamp}}&&angular_url={{domainUrl}}/" />
       <input type="hidden" name="cancel_return" value="{{domainUrl}}/employer_dashboard/0" />

       <input type="hidden" name="custom" value={{title}}>
       <!--pass your notification URL-->
       <input name="notify_url" value="{{domainUrl}}/hwa_workflow" type="hidden">
       <br/>
       <br/>
       <input (click)="form.submit()" type="image" src="assets/PaynPostMyAd.png" border="0"
              name="submit" alt="Make payments with PayPal - it's fast, free and secure!"/>
     </form>

          </div>
        </div>
      </div>
    </section>
  </main>
</div>
