.copyright{color:#999; font-size: 12px;  padding: 15px 0; text-align: center;position: static; right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center; padding-top: 60px;
}
@media only screen and (max-width: 840px) {
  .copyright{position: static;padding-top: 30px;}
}
